/* main color */
.color {
  color: #ffcb66;
}
a:hover,
a:focus {
  color: #ffcb66;
}
.bg-color {
  background: #ffcb66 !important;
}
.top-header .mini-cart-box sup {
  color: #ffcb66;
}
.mini-cart-content .mini-cart-button a:hover {
  background: #ffcb66;
  border: 1px solid #ffcb66;
}
.box-info-slide h2 {
  color: #ffcb66;
}
.box-product .title a.filter i {
  color: #ffcb66;
  margin-right: 7px;
}
.box-product .nav-tabs > li:before {
  background: #ffcb66;
}
.item:hover .price {
  background: #ffcb66;
}
.box-services .call i,
.box-services .call h3 a {
  color: #ffcb66;
}
.box-blog .info-box ul li a:hover {
  color: #ffcb66;
}
.box-blog .owl-theme .owl-controls .owl-buttons div:hover {
  background: #ffcb66;
}
.bottom-footer ul a:hover {
  color: #ffcb66;
}
.drop-list > .title {
  border-bottom: 1px solid #ffcb66;
}
.box-slider-2 .product-extra-link a:hover {
  background: #ffcb66;
  border-color: #ffcb66;
}
.box-slider-2 .owl-theme .owl-controls .owl-page.active span {
  background: #ffcb66;
}
.box-product-2 .nav-tabs li.active a {
  background: #ffcb66;
}
.box-product-2 .filter i {
  color: #ffcb66;
}
.box-product-2 .number-page a:hover {
  background: #ffcb66;
}
.box-product-2 .number-page a.active {
  background: #ffcb66;
}
.box-banner .box-text a:hover {
  color: #ffcb66;
}
.box-product-slide .box-right .owl-theme .owl-controls .owl-buttons div:hover {
  background: #ffcb66;
}
.top-footer-3 a:hover,
.info-footer-3 a:hover {
  color: #ffcb66;
}
.info-footer-3 ul.address li i {
  color: #ffcb66;
}
.top-header-4 .main-nav > ul > li > a:hover {
  color: #ffcb66;
}
.box-banner-parallax .box-info-banner a:hover {
  background: #ffcb66;
}
.top-header-5 .main-nav > ul > li > a:hover {
  color: #ffcb66;
}
.box-update-product .owl-theme .owl-controls .owl-buttons div:hover {
  background: #ffcb66;
}
.box-choice .title span.choice {
  color: #ffcb66;
}
.box-slider-06 .owl-theme .owl-controls .owl-buttons div:hover {
  background: #ffcb66;
}
.box-slider-06 .owl-theme .owl-controls .owl-page.active span {
  background: #ffcb66;
}
.box-tag-08 ul li a:hover {
  color: #ffcb66;
}
.box-product-parallax .info-box h3 a:hover {
  color: #ffcb66;
}
.box-lastest-product .owl-theme .owl-controls .owl-buttons div:hover {
  background: #ffcb66;
}
.phone-number-10 a {
  border: 1px solid #ffcb66;
}
.phone-number-10 i {
  color: #ffcb66;
}
.bottom-header .box-right sup {
  color: #ffcb66;
}
.box-product-home10 .nav-tabs > li.active {
  border-bottom: 1px solid #ffcb66;
}
.banner-sidebar .box-info > a {
  background: #ffcb66;
}
.box-breadcrumb a:hover {
  color: #ffcb66;
}
.box-default-style .box-info ul li a:hover {
  color: #ffcb66;
}
.box-default-style .owl-theme .owl-controls .owl-buttons div:hover {
  background: #ffcb66;
}
.wrap-main-post .box-left a.active {
  border: 1px solid #ffcb66;
  box-shadow: 0 0 5px #ffcb66;
}
.wrap-main-post .box-info ul li a:hover {
  color: #ffcb66;
}
.wrap-latest h3 a:hover {
  color: #ffcb66;
}
.wrap-comment h3 a:hover {
  color: #ffcb66;
}
.wrap-tag a:hover {
  border: 1px solid #ffcb66;
  box-shadow: 0 0 5px #ffcb66;
}
.view-way a.active {
  background: #ffcb66;
  border: 1px solid #ffcb66;
}
.box-color ul li a:hover {
  border: 1px solid #ffcb66;
  box-shadow: 0 0 8px #ffcb66;
}
#slider-range {
  background: #ffcb66;
}
.box-range a.btn-filter:hover {
  background: #ffcb66;
}
.item-listview .cart {
  background: #ffcb66;
}
.feedback-rating .inner-average-progress {
  background: #ffcb66;
}
.feedback-rating > a:hover {
  color: #ffcb66;
}
.zoomWindowContainer .zoomWindow {
  border: 2px solid #ffcb66 !important;
}
.icon-video {
  background: #ffcb66;
}
.img-pro li:hover {
  border: 1px solid #ffcb66;
}
.box-tab-detail .nav-tabs li.active > a {
  border-bottom: 2px solid #ffcb66;
}
.size-pro a:hover {
  border: 1px solid #ffcb66;
}
.buy-new span.text:after {
  background-color: #ffcb66;
}
.header-customize span.price {
  color: #ffcb66;
}
.header-customize a.cart {
  background: #ffcb66;
}
.customize-pro .box-item:hover {
  border: 1px solid #ffcb66;
}
.customize-pro .box-item > a i {
  color: #ffcb66;
}
.owl-theme .owl-controls .owl-buttons div {
  background: #ffcb66;
}
.owl-theme .owl-controls .owl-page span {
  background: #ffcb66;
}
.main-nav > ul > li > a:hover {
  color: #ffcb66;
}
.main-nav > ul > li .sub-menu > li > a:hover {
  background: #ffcb66;
  color: #fff;
}
.box-shape .info-box .product-extra-link > a:hover {
  background: #ffcb66;
  border: 1px solid #ffcb66;
}
.detai-cart .product-extra-link a:hover {
  background: #ffcb66;
}
.item:hover .box-cart .price {
  background: #ffcb66;
}
.blockquote {
  border: 1px solid #ffcb66;
}
.blockquote:after {
  background: #ffcb66;
}
.client-info .title14 a {
  color: #ffcb66;
}
.contact-form input[type="submit"] {
  background: #ffcb66;
}
.contact-accordion .item-toggle-tab.active .toggle-tab-title,
.contact-accordion .toggle-tab-title::after,
.window-popup .close-popup {
  color: #ffcb66;
}
.carousel-detail ul li.active > a,
.carousel-detail ul li:hover a {
  box-shadow: 0 0 8px #ffcb66 !important;
  border: 1px solid #ffcb66 !important;
}
.review-form > div > input[type="submit"]:hover {
  background: #ffcb66;
}
.header-customize a.cart {
  background: #ffcb66;
}
.box-quickview-pro .product-extra-link > a:hover {
  background: #ffcb66;
}
.form-coming input[type=submit],
.coming-social a:hover {
  background-color: #ffcb66;
}
.form-my-account input[type=submit]:hover {
  background-color: #ffcb66;
}
.coming-countdown > .time_circles > div::before {
  border: 10px solid #ffcb66;
}
.coming-countdown > .time_circles > div > .number::after {
  background: #ffcb66;
}
