/*------------------------------------------------------------------------------------------*/
/* 7. Header */
/*------------------------------------------------------------------------------------------*/
header {
    position: relative;
    min-height: 70vh;
    background: -webkit-linear-gradient(315deg, $main-color-one 0%, $main-color-two 100%);
    background: -o-linear-gradient(315deg, $main-color-one 0%, $main-color-two 100%);
    background: linear-gradient(135deg, $main-color-one 0%, $main-color-two 100%);
    
    &:not(.not-img-bg) {
        background: url('../images/header-background.jpg') fixed center center no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
    }
    
    .bg-video,
    .particles-canvas,
    .ribbons-canvas,
    .evaporation-bg,
    .paint-canvas,
    .rainbow-canvas,
    .balls-canvas {
        display: block;
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: 70vh;
        width: 100%;
    }
    
    .bg-video {
        overflow: hidden;
        
        video {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            min-width: 100%;
        }
    }
    
    .evaporation-bg {
        // canvas {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     -webkit-filter: url("#gooey");
        //     filter: url("#gooey");
        // }
    }
    
    .overlay {
        position: relative;
        z-index: 2000;
        min-height: 70vh;
        // background-color: rgba(0, 0, 0, 0);
        // background-image: linear-gradient(315deg, #896458 0%, rgba(255, 193, 7, 0.722) 74%);
        background: -webkit-linear-gradient(315deg, #b77b2b 30%, #cba36d 90%);
        background: -o-linear-gradient(315deg, #b77b2b 30%, #cba36d 90%);
        background: linear-gradient(315deg, #b77b2b 30%, #cba36d 90%);
        
        nav {
            position: fixed;
            z-index: 2002;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            
            &, .container {
                @include transition(.4s);
            }
            
            @media #{$max_767} {
                padding: 0 20px;
            }
            
            .container {
                @include flexbox(flex, '', center, between, '', '');
                height: 80px;
                color: #fff;
                border-bottom: 1px solid rgba(#fff, 0.2);
                
                @media #{$max_350} {
                    border-bottom: 0;
                }
            }
            
            &.fixed {
                background: -webkit-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
                background: -o-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
                background: linear-gradient(135deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
                -webkit-box-shadow: 0 3px 10px rgba(#000, 0.1);
                        box-shadow: 0 3px 10px rgba(#000, 0.1);
                
                .container {
                    height: 60px;
                    border-bottom-color: transparent;
                }
            }
            
            .logo {
                margin: 0;
                font: {
                    family: 'Playball', sans-serif;
                    size: 38px;
                    weight: normal;
                }
            }
            
            .navigation {
                @include flexbox(flex, '', center, '', '', '');
                
                .direct-links {
                    cursor: default;
                    
                    @media #{$max_767} {
                        display: none;
                    }
                }
                
                .direct-links li,
                > a {
                    display: inline-block;
                    margin-#{$end_dir}: 24px;
                }
                
                .direct-links li a {
                    &:hover {
                        color: rgba(#fff, 0.7);
                    }
                }
                
                > .rounded-btn {
                    padding: 8px 20px !important;
                    
                    @media #{$max_767} {
                        display: none;
                    }
                }
                
                .nav-menu-button {
                    @include flexbox(flex, '', '', between, column, '');
                    position: relative;
                    z-index: 4000;
                    height: 20px;
                    width: 24px;
                    cursor: pointer;
                    -webkit-transition: -webkit-transform 330ms ease-out;
                    transition: -webkit-transform 330ms ease-out;
                    -o-transition: transform 330ms ease-out;
                    transition: transform 330ms ease-out;
                    transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
                    
                    span {
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: #fff;
                        border-radius: 5px;
                        
                        &:first-of-type {
                            width: 50%;
                            -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            -webkit-transform-origin: $end_dir;
                                -ms-transform-origin: $end_dir;
                                    transform-origin: $end_dir;
                        }
                        
                        &:last-of-type {
                            @include align-self(end);
                            width: 50%;
                            -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            -webkit-transform-origin: $start_dir;
                                -ms-transform-origin: $start_dir;
                                    transform-origin: $start_dir;
                        }
                        
                        &.first-line-when-menu-is-open {
                            @include rotateANDtranslateX(-90, 3px);
                        }
                        
                        &.last-line-when-menu-is-open {
                            @include rotateANDtranslateX(-90, -3px);
                        }
                    }
                }
                
                .button-when-menu-is-open {
                    @include rotate(-45);
                }
                
                .nav-menu-container {
                    @include transition(.4s);
                    position: fixed;
                    z-index: 3000;
                    top: 0;
                    #{$end_dir}: -250px;
                    bottom: 0;
                    height: 100%;
                    width: 250px;
                    background-color: $main-color-three;
                    padding: 30px 0;
                    overflow-y: auto;
                    
                    &::-webkit-scrollbar {
                        display: block;
                        width: 4px;
                        background-color: #fff;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background-color: $main-color-two;
                    }
                    
                    .logo {
                        text-align: center;
                        font-size: 45px;
                        margin: 10px auto 35px;
                    }
                    
                    .nav-menu {
                        width: 100%;
                        
                        li {
                            a {
                                display: block;
                                padding: 10px 20px;
                                border-#{$start_dir}: 0 solid $main-color-two;
                                border-top: 1px solid darken($main-color-three, 3);
                                
                                &:hover, &.active {
                                    background-color: lighten($main-color-three, 2);
                                    border-#{$start_dir}-width: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        /* Header Slider */
        .slider {
            &, .container, .slider-content {
                min-height: 70vh;
            }
            
            .slider-content {
                @include flexbox(flex, '', center, center, '', wrap);
                position: relative;
                width: 100%;
                color: #fff;
                overflow: hidden;
                
                @media #{$max_767} {
                    text-align: center;
                }
                
                .slider-item {
                    width: 80%;
                    
                    @media #{$max_767} {
                        width: calc(100% - 80px);
                        margin-#{$end_dir}: -20px;
                    }
                    
                    @media #{$max_450} {
                        width: calc(100% - 30px);
                        margin-#{$end_dir}: 0;
                    }
                    
                    &:not(:first-of-type) {
                        display: none;
                    }
                    
                    .sub-head {
                        color: #f9f9f9;
                        font-size: 17px;
                        font-style: italic;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        margin: 0;
                        
                        @media #{$max_450} {
                            font-size: 16px;
                        }
                    }
                    
                    h2 {
                        font-size: 50px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        
                        @media #{$max_450} {
                            font-size: 30px;
                            margin-top: 15px;
                            margin-bottom: 15px;
                        }
                        
                        /*
                        .typed-word,
                        .typed-cursor {
                            color: $main-color-one;
                        }
                        */
                        
                        .typed-cursor {
                            font-weight: normal;
                            margin: 0 8px;
                            -webkit-animation: blink 0.7s infinite;
                                    animation: blink 0.7s infinite;
                        }
                    }
                    
                    p {
                        max-width: 600px;
                        color: #f9f9f9;
                        font-size: 17px;
                        font-style: italic;
                        margin-top: 0;
                        
                        @media #{$max_450} {
                            font-size: 14px;
                        }
                    }
                    
                    /*
                    span {
                        color: $main-color-one;
                        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
                    }
                    */
                    
                    .buttons-container {
                        margin: 30px -6px 0;
                        cursor: default;
                        
                        @media #{$max_450} {
                            margin-top: 15px;
                        }
                        
                        .rounded-btn {
                            margin: 0 6px;
                            
                            @media #{$max_350} {
                                padding: 7px 15px;
                            }
                        }
                    }
                }
                
                .pagers {
                    @include translateY(-50%);
                    position: absolute;
                    #{$start_dir}: 0;
                    top: 50%;
                    
                    @media #{$max_767} {
                        #{$start_dir}: 12px;
                    }
                    
                    @media #{$max_450} {
                        display: none;
                    }
                    
                    li {
                        &:first-of-type {
                            margin-top: 0;
                        }
                        
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
    
    &:not(.has-shapes) {
        .slider-item {
            margin-bottom: -9%;
        }
    }
    
    .bg-shapes {
        position: absolute;
        z-index: 2001;
        #{$start_dir}: 0;
        bottom: 0;
    }
}

.pagers {
    li {
        padding: 5px;
        opacity: .5;
        margin: 6px 0;
        cursor: pointer;
        
        span {
            @include transition(.3s);
            display: block;
            height: 8px;
            width: 8px;
            background-color: #fff;
            border-radius: 50%;
        }
        
        &.active,
        &:active {
            span {
                background-color: $main-color-one;
            }
        }
        
        &.active,
        &:hover {
            opacity: 1;
        }
    }
}

/* Custom cursor animation */
@-webkit-keyframes blink {
    0% {
        opacity: 1
    }
    
    50% {
        opacity: 0
    }
    
    100% {
        opacity: 1
    }
}

@keyframes blink {
    0% {
        opacity: 1
    }
    
    50% {
        opacity: 0
    }
    
    100% {
        opacity: 1
    }
}
/* Header Slider */

/* Header in Sub Pages */
.page {
    header {
        .overlay {
            > .container {
                @include flexbox(flex, center, center, center, '', wrap);
                position: relative;
                min-height:70vh;
                color: #fff;
                padding: 80px 0 120px;
                
                .page-title {
                    letter-spacing: 2px;
                    font: {
                        size: 32px;
                        weight: 500;
                    }
                    margin: {
                        top: 0;
                        bottom: 15px;
                    }
                }
                
                .breadcrumbs {
                    width: 100%;
                    text-align: center;
                    font-size: 16px;
                    padding: 0 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                       text-overflow: ellipsis;
                    
                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        
        &:not(.has-shapes) {
            .overlay {
                > .container {
                    padding-bottom: 50px;
                }
            }
        }
    }
}
/* Header in Sub Pages */