/*------------------------------------------------------------------------------------------*/
/* 10. Scroll To Top */
/*------------------------------------------------------------------------------------------*/
.Scroll-To-Top {
    @include transition(.4s);
    position: fixed;
    #{$end_dir}: -50px;
    bottom: 30px;
    z-index: 6000;
    width: 40px;
    height: 40px;
    line-height: 38px;
    background-color: #fff;
    color: $main-text-color-one;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    opacity: .8;
    -webkit-box-shadow: 0 0 10px rgba(#000, 0.2);
            box-shadow: 0 0 10px rgba(#000, 0.2);
    
    &:hover {
        color: $main-color-one;
        opacity: 1;
    }
}