<template>
    <div style="position: relative;">
        <div class="row">
            
        <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.Number') }}</label>
                    <input type="text" class="form-control" :readonly="shouldDisable" v-model="newPorderData.number">
                </div>
            </div>
               <div class="clearfix"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.clients') }}</label>
                    <select class="form-control" v-model="newPorderData.city_id">
                        <option value="-1" disabled selected>{{ $t('admin.cclients') }}</option>
                        <option v-for="(c) in cities" :value="c.id" :key="c.id">
                            {{ syslng === 'ar' ? c.city_name_ar : c.city_name_en }} 
                        </option>
                    </select>						
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.Currency') }}</label>
                    <select class="form-control" v-model="newPorderData.currency_id">
                        <option value="-1" disabled selected>{{ $t('admin.Select_Currency') }}</option>
                        <option v-for="(c) in currencies" :value="c.id" :key="c.id">
                            {{ c.code }}
                        </option>
                    </select>						
                </div>
            </div> -->
            <!-- <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.payment_method') }}</label>
                    <select class="form-control" v-model="newPorderData.payment_method">
                        <option value="-1" disabled selected>{{ $t('admin.cpayment_method') }}</option>
                        <option value="Cash">{{ $t('admin.cash') }}</option>
                        <option value="Later">{{ $t('admin.later') }}</option>
                    </select>						
                </div>
            </div> -->
         
    
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.Date') }}</label>
                    <input type="date" class="form-control" v-model="newPorderData.date">
                </div>
            </div>
            
        </div>
        <hr>
        <div class="row" v-for="(item,index) in pOrderItems" :key="index">
            <div class="col-md-7">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.productType') }}</label>
                    <select class="form-control" v-model="item.product_id">
                        <option value="-1" disabled selected>{{ $t('admin.Select_Item') }}</option>
                        <option v-for="(it) in items" :value="it.id" :key="it.id">
                        {{it.code}}   {{'|'}}  {{ it.title }} {{'|'}} {{it.price}}
                        </option>
                    </select>						
                </div>
            </div>
            
            
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Qty') }}</label>
                    <input type="number" class="form-control" v-model="item.qty" @input="calcTotal" min="1">
                </div>
            </div>
            
            <div class="col-md-1">
                <i class="glyphicon glyphicon-trash" @click="removeItem(index)" v-if="index != 0"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-info" @click="addNewItem">{{ $t('admin.add_new_item') }}</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-7">
                <label for="">{{ $t('admin.terms_conditions') }}</label>
                <textarea class="form-control input-lg" rows="3" v-model="newPorderData.terms"></textarea>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 pull-left">
                <button class="btn btn-success" @click="savePO">{{ $t('admin.savepo') }}</button>
                <button class="btn btn-primary" @click="savePOandNew">{{ $t('admin.addandnew') }}</button>
                <button class="btn btn-danger" @click="cancel">{{ $t('admin.canceladd') }}</button>
            </div>
        </div>
        <moon-loader :loading="loading" :color="color"></moon-loader>
    </div>
</template>

<script>
import {placeNewSalesOrder} from './../../BackEnd-Calls'
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'

    export default {
        data() {
            return {        
                newPorderData: {user_id:this.userId,client_id:'-1',currency_id:'-1',city_id:'-1',payment_method:'-1'},
                pOrderItems : [{total:0,qty:0,unit_price:0}],
                total: 0,
                loading: false,
                color: '#2c343c',
            }
        },
        props: {
            syslng : String,
            clients : Array,
            cities : Array,
            currencies : Array,
            items : Array,
            userId: Number,
            lastnumber: Number
        },
        components: {
            'MoonLoader':MoonLoader,
            
        },
        watch:{
            /*'pOrderItems': function(oldval,newval){
                this.calcTotal()
            }*/
        },
        mounted(){
            this.genNumber()
            console.log(this.newPorderData.number)
            this.getUserId()
          console.log(userId)
        },
        methods:{
            getUserId(){
             this.newPorderData.user_id = userId
            },
            genNumber(){
                this.newPorderData.number = 'SO-'+parseInt('100'+this.lastnumber) 
            },
            addNewItem(){
                this.pOrderItems.push({total:0,qty:0,unit_price:0})
            },
            removeItem(index){
                this.pOrderItems.splice(index,1)
            },
            calcTotal(){
                this.total = 0
                this.pOrderItems.forEach(element => {
                    element.total = element.unit_price * element.qty
                    this.total += element.total
                });
            },
            savePO(){
               
                this.calcTotal()
                this.loading = true
                console.log(this.newPorderData)
                this.newPorderData.total = this.total
                placeNewSalesOrder({poData:this.newPorderData,items:this.pOrderItems}).then(response => {
                    this.loading = false
                    this.playSound('http://soundbible.com/mp3/Air Plane Ding-SoundBible.com-496729130.mp3')
                    //this.succesnotification('Purchase order added')
                    return response.data
                })
                .catch(error => {
                    console.log(error)
                    //this.errornotification('Error Ocured')
                    this.loading = false
                })
            },
            savePOandNew(){
                let neworder = this.savePO();
                this.newPorderData = {client_id:'-1',currency_id:'-1',city_id:'-1',payment_method:'-1'}
                this.pOrderItems =  [{total:0,qty:0,unit_price:0}]
                this.total = 0
                this.newPorderData.number = 'SO-'+parseInt('10000000'+this.lastnumber+'1') 
            },
            cancel(){

            },
            playSound (sound) {
                if(sound) {
                    var audio = new Audio(sound);
                    audio.play();
                }
            },
            /*succesnotification(message) {
                this.$snotify.success(message, {
                    timeout: 2000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
            },
            errornotification(message) {
                this.$snotify.error(message, {
                    timeout: 8000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
            }*/
        },
    
    }
</script>

<style scoped>
.v-spinner {
    padding: 0px;
    position: absolute;
    top: 0;
    background: #00000026;
    width: 100%;
    height: 100%; 
}
.notice {
    cursor: pointer;
}
</style>