<template>
    <div>
       <table class="table table-bordered table-responsive no-margin">
            <thead class="black white-text">
                <tr>
                    <th>#</th>
                    <th>{{ $t('admin.Number') }}</th>
                    <th>{{ $t('admin.Vendor') }}</th>
                    <th>{{ $t('admin.Referance') }}</th>
                    <th>{{ $t('admin.Total') }}</th>

                    <th>Created at</th>
                    <th>Actions</th>                   
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in porders" :key="order.id">
                    <td>{{order.id}}</td> 
                    <td>{{order.number}}</td>
                    <td>{{order.vendor_id}}</td> 
                    <td>{{order.reference}}</td>
                    <td>{{order.total}}</td>
                    <td>{{order.created_at}}</td>
                    <td>
                        <a :href="'sales-orders/' + order.id + '/edit'" class="btn btn-primary">تعديل</a>

                        <a :href="'sales-orders/invoice/' + order.id" class="btn btn-success">طباعة</a>

                    </td>      
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script type="text/javascript">
import {getAllSales} from './../../BackEnd-Calls'

    export default {
        data() {
            return {
               porders: [],
            }
        },
        created(){
            this.getData()
        },
        methods: {
            getData(){
                getAllSales().then(response => {
                    //console.log(response)
                    this.porders = response.data
                })
                .catch(error => {
                    console.log(error)
                })
            }
        }
    }
</script>
