.order-list {
    margin-right:2vw;
}

.btn-create {
    margin-right:2.5vw;
}






.time-filter {

    font-size:1.5em;
    padding-right:2.5vw;
    margin-bottom: 3vh;


}

.time-filter > div:first-child {
    padding-top:.2vw;
}

#dropdownMenuButton {
    background-color:#2E3E4E;
    color:white;
}

h5 {
    color:white;
    background-color:gray;
    padding-top:1.5vw;
    padding-bottom: 1.5vw;

}
