/*------content img delete-------*/

.container-img-delete{
	height: 610px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #292a2b30;
	border-radius: 0.1875rem;
}


.img-conetn-manage{
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
	transition: all .5s ease;
	border-radius: 0.1875rem;
	box-shadow: 5px 6px 10px  rgba(17, 17, 17, 0.68);
	
}
.img-conetn-manage:hover{
	box-shadow: 0px 2px 7px  rgba(17, 17, 17, 0.88);
	transform: scale(1.09);
}
.img-conetn-manage:before{
	content: '';
	width:100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(41, 39, 39, 0.43);
	transition: all .3s ease;

}

.img-conetn-manage:hover:before{
	background: none;
}

.content-icon{
	position: absolute;
	z-index: 4;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}

.content-icon a{
	color: rgba(245, 233, 233, 0.72);
	cursor: pointer; 
	transition: all .3s ease;
	text-decoration: none;
	font-size: 23px;
}


.content-icon:hover a{
	color: rgba(237, 59, 59, 0.79);
	font-size: 28px;
}


/*------end content img delete-------*/