<template>
    <div style="position: relative;">


             <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.billNum') }}</label>
                    <input type="text" class="form-control" :readonly="shouldDisable" v-model="newPorderData.number">
                </div>
            </div>
            <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="upper" for="name">العملاء</label>

                    <select :class="{invalid : $v.newPorderData.branch_id.$error}" class="form-control" @blur="$v.newPorderData.branch_id. $touch()" v-model="newPorderData.branch_id">

                        <option value="-1" disabled selected>اختر العميل</option>
                        <option v-for="(branch) in branches" :value="branch.id" :key="branch.id">
                            {{ syslng === 'ar' ? branch.name_ar : branch.name_en }} 
                        </option>
                    </select>
                    <div class="alert alert-danger" v-if="$v.newPorderData.branch_id.$error">{{$t('admin.client_select')}}</div>



                </div>
            </div>
         <!-- <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.city') }}</label>
                    <select class="form-control" v-model="newPorderData.city_id">
                        <option value="-1" disabled selected>{{ $t('admin.ccity') }}</option>
                        <option v-for="(c) in cities" :value="c.id" :key="c.id">
                            {{ syslng === 'ar' ? c.city_name_ar : c.city_name_en }} 
                        </option>
                    </select>						
                </div>
            </div>
         
     -->
<!--        
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.payment_status') }}</label>
                    <select class="form-control" v-model="newPorderData.payment_status">
                        <option value="cash">{{ $t('admin.cash') }}</option>
                        <option value="card">{{ $t('admin.card') }}</option>
                        <option value="later">{{ $t('admin.later') }}</option>

                    
                    </select>						
                </div>
            </div> -->
<!--     
        <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.delivery_status') }}</label>
                    <select class="form-control" v-model="newPorderData.delivery_status">
                         <option value="yes">{{ $t('admin.yes') }}</option>
                        <option value="no">{{ $t('admin.no') }}</option>
                    </select>						
                </div>
            </div> -->
       
              <div class="clearfix"></div>
              
<hr>

        </div>
         

          <div class="clearfix"></div>
         <div class="row" v-for="(item,index) in pOrderItems" :key="index">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.productType') }}</label>
                    <select :class="{invalid : $v.pOrderItems.$each[index].product_id.$error}"
                            class="form-control" @blur="$v.pOrderItems.$each[index].product_id.$touch()"
                            v-model="item.product_id">
                        <option value="-1" disabled selected>{{ $t('admin.Select_Item') }}</option>
                        <option v-for="(it) in items" :value="it.id" :key="it.id">
                         {{it.code}}   {{'|'}}  {{ it.title }} {{'|'}} {{it.price}}
                        </option>
                    </select>						
                </div>

                <div v-if="$v.pOrderItems.$each[index].product_id.$error" class="alert alert-warning" role="alert">
                        {{$t('admin.select_product')}}
                </div>
            </div>
        
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.price') }}</label>
                    <input type="text" class="form-control"
                           @blur="$v.pOrderItems.$each[index].unit_price.$touch()"
                           :class="{invalid : $v.pOrderItems.$each[index].unit_price.$error}"
                           v-model="item.unit_price" @input="calcTotal" min="1">
                </div>

                <div v-if="$v.pOrderItems.$each[index].unit_price.$error" class="alert alert-warning" role="alert">
                    {{$t('admin.select_price')}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.kiloQty') }}</label>
                    <input type="number" class="form-control"
                           v-model="item.qty" @input="calcTotal"
                           @blur="$v.pOrderItems.$each[index].qty.$touch()"
                           :class="{invalid : $v.pOrderItems.$each[index].qty.$error}"
                           min="1">
                </div>

                <div v-if="$v.pOrderItems.$each[index].qty.$error" class="alert alert-warning" role="alert">
                    {{$t('admin.select_qty')}}
                </div>
            </div>
            <!-- <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">الكيلوات المجانية</label>
                    <input type="number" class="form-control" v-model="item.free_kilos" @input="calcTotal" min="1">
                </div>
            </div> -->
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">    الخصم %</label>
                    <input type="number" class="form-control" v-model="item.discount" @input="calcTotal" min="1">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Total') }}</label>
                    <input type="text" class="form-control" :readonly="shouldDisable" v-model="item.total">
                </div>
                
            </div>
            <div class="col-md-1">
                <i class="glyphicon glyphicon-trash" @click="removeItem(index)" v-if="index != 0"></i>
            </div>
        </div>
        <hr>
   
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-info" @click="addNewItem">{{ $t('admin.add_new_item') }}</button>
            </div>
            <div class="col-md-2 ">
                <div class="form-group">
                    <label class="upper" for="name">السعر قبل الخصم والضريبة</label>
                    <input type="text" class="form-control" :readonly="shouldDisable" v-model="subtotal">
                </div>
            
                <div class="form-group">
                    <label class="upper" for="name">إجمالي الخصم</label>
                    <input type="text" class="form-control" :readonly="shouldDisable" v-model="discount">
                </div>
                <!-- <div class="form-group">
                    <label class="upper" for="name"> إجمالي الكيلوات المجانية</label>
                    <input type="text" class="form-control" v-model="freekilos">
                </div> -->
            
                <div class="form-group">
                    <label class="upper" for="name">الضريبة 5%</label>
                    <input type="text" class="form-control" :readonly="shouldDisable" v-model="taxs">
                </div>
            
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.Total') }}</label>
                    <input type="text" class="form-control" :readonly="shouldDisable" v-model="total">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-7">
                <label for="">{{ $t('admin.terms_conditions') }}</label>
                <textarea class="form-control input-lg" rows="3" :readonly="shouldDisable" v-model="newPorderData.terms"></textarea>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 pull-left">
                <button class="btn btn-success" :disabled="$v.$invalid" @click="savePO(1)">{{ $t('admin.savepo') }}</button>
                <button class="btn btn-primary" :disabled="$v.$invalid" @click="savePOandNew">{{ $t('admin.addandnew') }}</button>
                <button class="btn btn-danger" @click="cancel">{{ $t('admin.canceladd') }}</button>
            </div>
        </div>
        <moon-loader :loading="loading" :color="color"></moon-loader>
    </div>
</template>

<script>
import {placeNewSalesBill} from './../../BackEnd-Calls'
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
import {required,minValue,minLength} from 'vuelidate/lib/validators'
 


    export default {

        data() {
            return {        
                newPorderData: {user_id:this.userId,branch_id:'-1',city_id:this.cities,payment_status:'-1',ads_status:'-1',delivery_satuts:'-1'},
                pOrderItems : [{product_id:0,total:0,qty:0,unit_price:0,discount:0}],
                subtotal:0,
                discount: 0,
                freekilos: 0,
                taxs: 0,
                total: 0,
                loading: false,
                color: '#2c343c',
             shouldDisable: true
            }
        },

        validations:{
            newPorderData: {
                branch_id: {
                    required,
                    minValue:minValue(1),

                }
            },

            pOrderItems : {
                $each : {
                    product_id : {
                        required,
                        minValue:minValue(1)
                    },
                    unit_price: {
                        required,
                        minValue:minValue(1)
                    },
                    qty: {
                        required,
                        minValue:minValue(1)
                    }
                }
            }
        },
       
        props: {
            syslng : String,
            branches : Array,
            ec : Array,
            cities : Number,
            items : Array,
            userId: Number,
            lastnumber: Number
        },
        components: {
            'MoonLoader':MoonLoader,
            
        },
        watch:{
            'pOrderItems': function(oldval,newval){
                this.calcTotal()
            }
        },


        mounted(){
            this.genNumber()
            console.log(this.number)
            this.getUserId()
            this.getcities()
            console.log(userId)
        },
        methods:{
             getUserId(){
             this.newPorderData.user_id = userId
            },
            getcities(){
                this.newPorderData.city_id = cities
            },
            genNumber(){
                this.newPorderData.number = 'SB-'+parseInt('100'+this.lastnumber) 
            },
            addNewItem(){
                this.pOrderItems.push({product_id:0,total:0,qty:0,unit_price:0,discount:0})
            },
            removeItem(index){
                this.pOrderItems.splice(index,1)
            },
            calcTotal(){
                this.subtotal = 0
                this.freekilos = 0
                this.discount = 0
                this.pOrderItems.forEach(element => {
                    element.total = (element.unit_price * element.qty )
                    this.subtotal += element.total ? element.total : 0
                    // this.freekilos += element.free_kilos ? parseFloat(element.free_kilos) : 0
                    this.discount =  (element.discount*element.total)/100 
                });
                this.total = parseFloat (this.subtotal-this.discount);
                this.taxs = parseFloat ((this.subtotal*5)/100)
                this.total = parseFloat (this.total + this.taxs)
            },
            savePO(redirect){

                this.calcTotal()
                this.loading = true
                // console.log(this.newPorderData)
                this.newPorderData.total = this.total
                placeNewSalesBill({poData:this.newPorderData,items:this.pOrderItems}).then(response => {
                    this.loading = false
                    this.playSound('http://soundbible.com/mp3/Air Plane Ding-SoundBible.com-496729130.mp3')
                    this.succesnotification('Purchase order added')
                    console.log(response);


                })
                .catch(error => {
                    console.log(error)
                    this.errornotification('Error Ocured')
                    this.loading = false
                })


            },
            savePOandNew(){
                let neworder = this.savePO(0);
                this.newPorderData = {user_id:this.userId,branch_id:'-1',city_id:'-1',payment_status:'-1',ads_status:'-1',delivery_satuts:'-1'}
                this.pOrderItems =  [{total:0,qty:0,unit_price:0}]
                this.total = 0
                this.newPorderData.number = 'SB-'+parseInt('100'+this.lastnumber+'1') 
            },
            cancel(){

            },
            playSound (sound) {
                if(sound) {
                    var audio = new Audio(sound);
                    audio.play();
                }
            },
            succesnotification(message) {
                this.$snotify.success(message, {
                    timeout: 2000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
            },
            errornotification(message) {
                this.$snotify.error(message, {
                    timeout: 8000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
            }
        },
    
    }
</script>

<style scoped>
.v-spinner {
    padding: 0px;
    position: absolute;
    top: 0;
    background: #00000026;
    width: 100%;
    height: 100%; 
}
.notice {
    cursor: pointer;
}

    .invalid {
        border:2px solid darkred;
    }
</style>