/* icomoon icons */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?6pq42w');
    src:  url('../fonts/icomoon.eot?6pq42w#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6pq42w') format('truetype'),
        url('../fonts/icomoon.woff?6pq42w') format('woff'),
        url('../fonts/icomoon.svg?6pq42w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.wrong-page-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-wrong-page-icon:before {
    content: "\e900";
}
/* icomoon icons */

/*------------------------------------------------------------------------------------------*/
/* 1. Header */
/*------------------------------------------------------------------------------------------*/
.wrong-page{
    &.particles-bg {
        .particles-canvas {
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            opacity: .2;
        }
    }
}

header {
    position: relative;
    height: auto !important;
    
    .bg-video,
    .particles-canvas,
    .ribbons-canvas,
    .evaporation-bg,
    .paint-canvas,
    .rainbow-canvas,
    .balls-canvas {
        display: block;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: .2;
    }
    
    .bg-video {
        overflow: hidden;
        
        video {
            display: block;
            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            min-width: 100%;
        }
    }
    
    .evaporation-bg {
        canvas {
            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;
            -webkit-filter: url("#gooey");
            filter: url("#gooey");
        }
    }
    
    .overlay {
        nav {
            position: fixed;
            z-index: 2000;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            
            &, .container {
                @include transition(.4s);
            }
            
            @media #{$max_767} {
                padding: 0 20px;
            }
            
            .container {
                @include flexbox(flex, '', center, between, '', '');
                height: 80px;
                color: #fff;
                border-bottom: 1px solid rgba(#fff, 0.2);
                
                @media #{$max_350} {
                    border-bottom: 0;
                }
            }
            
            &.fixed {
                background: -webkit-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
                background: -o-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
                background: linear-gradient(135deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
                -webkit-box-shadow: 0 3px 10px rgba(#000, 0.1);
                        box-shadow: 0 3px 10px rgba(#000, 0.1);
                
                .container {
                    height: 60px;
                    border-bottom-color: transparent;
                }
            }
            
            .logo {
                margin: 0;
                font: {
                    family: 'Playball', sans-serif;
                    size: 38px;
                    weight: normal;
                }
            }
            
            .navigation {
                @include flexbox(flex, '', center, '', '', '');
                
                .direct-links {
                    cursor: default;
                    
                    @media #{$max_767} {
                        display: none;
                    }
                }
                
                .direct-links li,
                > a {
                    display: inline-block;
                    margin-#{$end_dir}: 24px;
                }
                
                .direct-links li a {
                    &:hover {
                        color: rgba(#fff, 0.7);
                    }
                }
                
                > .rounded-btn {
                    padding: 8px 24px !important;
                    
                    @media #{$max_767} {
                        display: none;
                    }
                }
                
                .nav-menu-button {
                    @include flexbox(flex, '', '', between, column, '');
                    position: relative;
                    z-index: 4000;
                    height: 20px;
                    width: 24px;
                    cursor: pointer;
                    -webkit-transition: -webkit-transform 330ms ease-out;
                    transition: -webkit-transform 330ms ease-out;
                    -o-transition: transform 330ms ease-out;
                    transition: transform 330ms ease-out;
                    transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
                    
                    span {
                        display: block;
                        height: 2px;
                        width: 100%;
                        background-color: #fff;
                        border-radius: 5px;
                        
                        &:first-of-type {
                            width: 50%;
                            -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            -webkit-transform-origin: $end_dir;
                                -ms-transform-origin: $end_dir;
                                    transform-origin: $end_dir;
                        }
                        
                        &:last-of-type {
                            @include align-self(end);
                            width: 50%;
                            -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
                            -webkit-transform-origin: $start_dir;
                                -ms-transform-origin: $start_dir;
                                    transform-origin: $start_dir;
                        }
                        
                        &.first-line-when-menu-is-open {
                            @include rotateANDtranslateX(-90, 3px);
                        }
                        
                        &.last-line-when-menu-is-open {
                            @include rotateANDtranslateX(-90, -3px);
                        }
                    }
                }
                
                .button-when-menu-is-open {
                    @include rotate(-45);
                }
                
                .nav-menu-container {
                    @include transition(.4s);
                    position: fixed;
                    z-index: 3000;
                    top: 0;
                    #{$end_dir}: -250px;
                    bottom: 0;
                    height: 100%;
                    width: 250px;
                    background-color: $main-color-three;
                    padding: 30px 0;
                    overflow-y: auto;
                    
                    &::-webkit-scrollbar {
                        display: block;
                        width: 4px;
                        background-color: #fff;
                    }
                    
                    &::-webkit-scrollbar-thumb {
                        background-color: $main-color-two;
                    }
                    
                    .logo {
                        text-align: center;
                        font-size: 45px;
                        margin: 10px auto 35px;
                    }
                    
                    .nav-menu {
                        width: 100%;
                        
                        li {
                            a {
                                display: block;
                                padding: 10px 20px;
                                border-#{$start_dir}: 0 solid $main-color-two;
                                border-top: 1px solid darken($main-color-three, 3);
                                
                                &:hover, &.active {
                                    background-color: lighten($main-color-three, 2);
                                    border-#{$start_dir}-width: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*------------------------------------------------------------------------------------------*/
/* 2. Wrong Page */
/*------------------------------------------------------------------------------------------*/
.wrong-page {
    @include flexbox(flex, '', '', '', '', '');
    min-height: 100vh;
    background: -webkit-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
    background: -o-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
    background: linear-gradient(135deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
    color: #fff;
    padding: 130px 20px 60px;
    
    &:not(.not-img-bg) {
        position: relative;
        background: url('../images/header-background.jpg') fixed center center no-repeat;
        -webkit-background-size: cover;
                background-size: cover;
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: -webkit-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
            background: -o-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
            background: linear-gradient(135deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
        }
    }
    
    &.ribbons-bg {
        background: none;
        -webkit-background-size: auto;
                background-size: auto;
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background: -webkit-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
            background: -o-linear-gradient(315deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
            background: linear-gradient(135deg, rgba($main-color-one, 0.85) 0%, rgba($main-color-two, 0.85) 100%);
        }
        
        .ribbons-canvas {
            z-index: -2 !important;
        }
    }
    
    .wrong-page-content {
        text-align: center;
        margin: auto;
        
        .wrong-page-icon {
            font-size: 200px;
            
            @media #{$max_991} {
                font-size: 120px;
            }
            
            @media #{$max_767} {
                font-size: 100px;
            }
            
            @media #{$max_600} {
                font-size: 70px;
            }
        }
        
        h2 {
            font-size: 40px;
            margin: 60px 0 25px;
            
            @media #{$max_767} {
                font-size: 24px;
                line-height: 1.4;
                margin: 40px 0 15px;
            }
            
            @media #{$max_600} {
                font-size: 20px;
            }
        }
        
        p {
            color: inherit;
        }
        
        .search-form {
            input {
                @include transition(.3s);
                display: block;
                width: 100%;
                max-width: 300px;
                background-color: #fff;
                color: #999ea9;
                padding: 13px 20px;
                margin: 30px auto 0;
                border: 0;
                outline: 0;
                border-radius: 30px;
                
                &:focus {
                    max-width: 400px;
                }
                
                @media #{$max_767} {
                    margin-top: 20px;
                }
            }
        }
    }
}