<template>
    <div style="position: relative;">

      <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.branch') }}</label>
                    <select class="form-control" v-model="newPorderData.branch_id">
                        <option value="-1" disabled selected>{{ $t('admin.select_branch') }}</option>
                        <option v-for="(branch) in branches" :value="branch.id" :key="branch.id">
                            {{ syslng === 'ar' ? branch.name_ar : branch.name_en }} 
                        </option>
                    </select>						
                </div>
            </div>
      </div>
        <div class="row" v-for="(item,index) in pOrderItems" :key="index">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.products') }}</label>
                    <select class="form-control" v-model="item.product_id">
                        <option value="-1" disabled selected>{{ $t('admin.Select_Item') }}</option>
                        <option v-for="(it) in items" :value="it.product_id" :key="it.product_id">
                              {{it.code}}   {{'|'}}  {{ it.title }} {{'|'}} {{it.price}}
                        </option>
                    </select>						
                </div>
            </div>
  
 
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.kiloQty') }}</label>
                    <input type="number" class="form-control" v-model="item.qty"  min="1">
                </div>
            </div>
          
         
            <div class="col-md-2">
                <i class="glyphicon glyphicon-trash" @click="removeItem(index)" v-if="index != 0"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-info" @click="addNewItem">{{ $t('admin.add_new_item') }}</button>
            </div>
        </div>
        <hr>

      
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 pull-left">
                <button class="btn btn-success" @click="savePO">{{ $t('admin.savepo') }}</button>
                <button class="btn btn-danger" @click="cancel">{{ $t('admin.canceladd') }}</button>
            </div>
        </div>
        <moon-loader :loading="loading" :color="color"></moon-loader>
    </div>
</template>

<script>
import {placeNewStock} from './../../BackEnd-Calls'
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
import axios from 'axios'
    export default {
        data() {
            return {        
                newPorderData: {branch_id:'-1'},
                pOrderItems : [{qty:0}],
                loading: false,
                color: '#2c343c',
            }
        },
       
        props: {
            syslng : String,
            branches : Array,
            cities : Array,
            items : Array,
            // userId: Number,
        },
        components: {
            'MoonLoader':MoonLoader,  
        },
        watch:{

        },
        mounted(){
            // this.genNumber()
            // this.getUserId()    
        },
        methods:{
            addNewItem(){
                this.pOrderItems.push({qty:0})
            },
            removeItem(index){
                this.pOrderItems.splice(index,1)       
            },
            savePO(){ 
                return axios.post('create',{poData:this.newPorderData,items:this.pOrderItems}).then(response => {
                    this.loading = false
                    this.playSound('http://soundbible.com/mp3/Air Plane Ding-SoundBible.com-496729130.mp3')
                    this.succesnotification('Product stock added')  
                       window.location = response.data.redirect;   
                    // return response.data
                })
                .catch(error => {
                    console.log(error)
                    this.errornotification('Error Ocured')
                    this.loading = false
                })
            },
            cancel(){

            },
            playSound (sound) {
                if(sound) {
                    var audio = new Audio(sound);
                    audio.play();
                }
            },
            succesnotification(message) {
                this.$snotify.success(message, {
                    timeout: 2000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
            },
            errornotification(message) {
                this.$snotify.error(message, {
                    timeout: 8000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
        
        },
    
    }

    }
</script>

<style scoped>
.v-spinner {
    padding: 0px;
    position: absolute;
    top: 0;
    background: #00000026;
    width: 100%;
    height: 100%; 
}
.notice {
    cursor: pointer;
}
</style>