/*********************************************************************************************
** Table of Contents:                                                                       **
**********************************************************************************************

Project:      Sewak - Multipurpose HTML5 Template
Version:      1.0
Last change:  21/11/2018

1.  Languages & Directions    ==> Located in 'sass/directions'
    -------------------------
    1. LTR Direction
    2. RTL Direction
    -------------------------
    
2.  Variables                 ==> Located in 'sass/helpers/variables'
    -------------------------
    1. Color Codes
    2. Media Sizes
    -------------------------
    
3.  Mixins                    ==> Located in 'sass/helpers/mixins'
    -------------------------
    1. Flex Box
    2. Transition
    3. Translate
    4. Rotate
    5. Scale
    6. rotate & translateX
    -------------------------
    
4.  Reset & Global elements   ==> Located in 'sass/global-and-reset'
5.  Buttons                   ==> Located in 'sass/components/buttons'
6.  Preloader                 ==> Located in 'sass/layout/preloader'
7.  Header                    ==> Located in 'sass/layout/header'
    -------------------------
    1. Home Page Style
    2. Sub Pages Style
    -------------------------
    
8.  Home Page                 ==> Located in 'sass/pages/homepage'
    -------------------------
    1. About Section
    2. Services Section
    3. Portfolio Section
    4. Team Section
    5. Testimonials Section
    6. Clients Section
    7. Pricing Section
    8. Contact Section
    -------------------------
    
9.  Footer                    ==> Located in 'sass/layout/footer'
10. Scroll to Top Button      ==> Located in 'sass/layout/scroll-to-top'
11. 404 Page                  ==> Located in 'sass/pages/404'

*********************************************************************************************/
/*********************
**   LTR Websites   **
*********************/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

p {
  line-height: 1.6;
}

/*------------------------------------------------------------------------------------------*/
/* 4. Defaults & Reset & Global elements */
/*------------------------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input:invalid,
input:required,
textarea:invalid,
textarea:required {
  box-shadow: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.ltr-dir {
  direction: ltr;
  display: inline-block;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: auto;
    margin: 0;
  }
}

a,
button {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  margin: 0 !important;
}

body {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #737b8e;
  overflow-x: hidden;
}

p {
  color: #999ea9;
}

.bg-shapes {
  width: 100%;
  height: 100px;
}
.cloud-style .bg-shapes:last-of-type, .bg-shapes:first-of-type {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cloud-style .bg-shapes:first-of-type, header .bg-shapes:first-of-type {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
@media (max-width: 767px) {
  .bg-shapes {
    height: 50px;
    max-width: 100%;
    overflow-x: hidden;
  }
}
.bg-shapes img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  body:not(.waves-style):not(.triangle-style) .bg-shapes img {
    width: 300%;
  }
}

/*------------------------------------------------------------------------------------------*/
/* 5. Buttons */
/*------------------------------------------------------------------------------------------*/
.rounded-btn.white-one,
.rounded-btn.white-two,
.rounded-btn.main-color-one,
.rounded-btn.main-color-two,
.rounded-btn.white-one.fill,
.rounded-btn.white-two.fill,
.rounded-btn.main-color-one.fill,
.rounded-btn.main-color-two.fill {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid;
  border-radius: 50px;
  cursor: pointer;
}

.rounded-btn.white-one,
.rounded-btn.white-two,
.rounded-btn.white-one.fill,
.rounded-btn.white-two.fill {
  border-color: #fff;
}

.rounded-btn.main-color-one,
.rounded-btn.main-color-one.fill {
  border-color: #e350b8;
}

.rounded-btn.main-color-two,
.rounded-btn.main-color-two.fill {
  border-color: #514ebc;
}

.rounded-btn.white-one,
.rounded-btn.white-two,
.rounded-btn.main-color-one,
.rounded-btn.main-color-two {
  background-color: transparent;
}

.rounded-btn.white-one.fill,
.rounded-btn.white-two.fill {
  background-color: #fff;
}

.rounded-btn.main-color-one.fill {
  background-color: #e350b8;
}

.rounded-btn.main-color-two.fill {
  background-color: #514ebc;
}

.rounded-btn.white-one,
.rounded-btn.white-two,
.rounded-btn.main-color-one.fill,
.rounded-btn.main-color-two.fill {
  color: #fff;
}

.rounded-btn.white-one.fill,
.rounded-btn.main-color-one {
  color: #e350b8;
}

.rounded-btn.white-two.fill,
.rounded-btn.main-color-two {
  color: #514ebc;
}

.rounded-btn.white-one:hover {
  background-color: #fff;
  color: #e350b8;
}

.rounded-btn.white-two:hover {
  background-color: #fff;
  color: #514ebc;
}

.rounded-btn.main-color-one:hover {
  background-color: #e350b8;
  color: #fff;
}

.rounded-btn.main-color-two:hover {
  background-color: #514ebc;
  color: #fff;
}

.rounded-btn.white-one.fill:hover,
.rounded-btn.white-two.fill:hover {
  background-color: transparent;
  color: #fff;
}

.rounded-btn.white-one.fill.reverse:hover {
  background-color: #e350b8;
  color: #fff;
  border-color: #e350b8;
}

.rounded-btn.white-two.fill.reverse:hover {
  background-color: #514ebc;
  color: #fff;
  border-color: #514ebc;
}

.rounded-btn.main-color-one.fill:hover {
  background-color: transparent;
  color: #e350b8;
}

.rounded-btn.main-color-two.fill:hover {
  background-color: transparent;
  color: #514ebc;
}

.rounded-btn.main-color-one.fill.reverse:hover {
  background-color: #fff;
  color: #e350b8;
  border-color: #fff;
}

.rounded-btn.main-color-two.fill.reverse:hover {
  background-color: #fff;
  color: #514ebc;
  border-color: #fff;
}

.rounded-btn.shadow:hover {
  -webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.3);
}

/* icomoon icons */
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?6pq42w");
  src: url("../fonts/icomoon.eot?6pq42w#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?6pq42w") format("truetype"), url("../fonts/icomoon.woff?6pq42w") format("woff"), url("../fonts/icomoon.svg?6pq42w#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
.wrong-page-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-wrong-page-icon:before {
  content: "\e900";
}

/* icomoon icons */
/*------------------------------------------------------------------------------------------*/
/* 1. Header */
/*------------------------------------------------------------------------------------------*/
.wrong-page.particles-bg .particles-canvas {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: .2;
}

header {
  position: relative;
  height: auto !important;
}
header .bg-video,
header .particles-canvas,
header .ribbons-canvas,
header .evaporation-bg,
header .paint-canvas,
header .rainbow-canvas,
header .balls-canvas {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: .2;
}
header .bg-video {
  overflow: hidden;
}
header .bg-video video {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
}
header .evaporation-bg canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-filter: url("#gooey");
  filter: url("#gooey");
}
header .overlay nav {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
header .overlay nav, header .overlay nav .container {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 767px) {
  header .overlay nav {
    padding: 0 20px;
  }
}
header .overlay nav .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 350px) {
  header .overlay nav .container {
    border-bottom: 0;
  }
}
header .overlay nav.fixed {
  background: -webkit-linear-gradient(315deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  background: -o-linear-gradient(315deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  background: linear-gradient(135deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
header .overlay nav.fixed .container {
  height: 60px;
  border-bottom-color: transparent;
}
header .overlay nav .logo {
  margin: 0;
  font-family: 'Playball', sans-serif;
  font-size: 38px;
  font-weight: normal;
}
header .overlay nav .navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header .overlay nav .navigation .direct-links {
  cursor: default;
}
@media (max-width: 767px) {
  header .overlay nav .navigation .direct-links {
    display: none;
  }
}
header .overlay nav .navigation .direct-links li,
header .overlay nav .navigation > a {
  display: inline-block;
  margin-right: 24px;
}
header .overlay nav .navigation .direct-links li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
header .overlay nav .navigation > .rounded-btn {
  padding: 8px 24px !important;
}
@media (max-width: 767px) {
  header .overlay nav .navigation > .rounded-btn {
    display: none;
  }
}
header .overlay nav .navigation .nav-menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 4000;
  height: 20px;
  width: 24px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 330ms ease-out;
  transition: -webkit-transform 330ms ease-out;
  -o-transition: transform 330ms ease-out;
  transition: transform 330ms ease-out;
  transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
}
header .overlay nav .navigation .nav-menu-button span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
header .overlay nav .navigation .nav-menu-button span:first-of-type {
  width: 50%;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}
header .overlay nav .navigation .nav-menu-button span:last-of-type {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 50%;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
header .overlay nav .navigation .nav-menu-button span.first-line-when-menu-is-open {
  -webkit-transform: rotate(-90deg) translateX(3px);
  -ms-transform: rotate(-90deg) translateX(3px);
  transform: rotate(-90deg) translateX(3px);
}
header .overlay nav .navigation .nav-menu-button span.last-line-when-menu-is-open {
  -webkit-transform: rotate(-90deg) translateX(-3px);
  -ms-transform: rotate(-90deg) translateX(-3px);
  transform: rotate(-90deg) translateX(-3px);
}
header .overlay nav .navigation .button-when-menu-is-open {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .overlay nav .navigation .nav-menu-container {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 3000;
  top: 0;
  right: -250px;
  bottom: 0;
  height: 100%;
  width: 250px;
  background-color: #2e323a;
  padding: 30px 0;
  overflow-y: auto;
}
header .overlay nav .navigation .nav-menu-container::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: #fff;
}
header .overlay nav .navigation .nav-menu-container::-webkit-scrollbar-thumb {
  background-color: #514ebc;
}
header .overlay nav .navigation .nav-menu-container .logo {
  text-align: center;
  font-size: 45px;
  margin: 10px auto 35px;
}
header .overlay nav .navigation .nav-menu-container .nav-menu {
  width: 100%;
}
header .overlay nav .navigation .nav-menu-container .nav-menu li a {
  display: block;
  padding: 10px 20px;
  border-left: 0 solid #514ebc;
  border-top: 1px solid #272b31;
}
header .overlay nav .navigation .nav-menu-container .nav-menu li a:hover, header .overlay nav .navigation .nav-menu-container .nav-menu li a.active {
  background-color: #333740;
  border-left-width: 5px;
}

/*------------------------------------------------------------------------------------------*/
/* 2. Wrong Page */
/*------------------------------------------------------------------------------------------*/
.wrong-page {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  background: -webkit-linear-gradient(315deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  background: -o-linear-gradient(315deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  background: linear-gradient(135deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  color: #fff;
  padding: 130px 20px 60px;
}
.wrong-page:not(.not-img-bg) {
  position: relative;
  background: url("../images/header-background.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.wrong-page:not(.not-img-bg):before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(315deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  background: -o-linear-gradient(315deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  background: linear-gradient(135deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
}
.wrong-page.ribbons-bg {
  background: none;
  -webkit-background-size: auto;
  background-size: auto;
}
.wrong-page.ribbons-bg:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(315deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  background: -o-linear-gradient(315deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
  background: linear-gradient(135deg, rgba(227, 80, 184, 0.85) 0%, rgba(81, 78, 188, 0.85) 100%);
}
.wrong-page.ribbons-bg .ribbons-canvas {
  z-index: -2 !important;
}
.wrong-page .wrong-page-content {
  text-align: center;
  margin: auto;
}
.wrong-page .wrong-page-content .wrong-page-icon {
  font-size: 200px;
}
@media (max-width: 991px) {
  .wrong-page .wrong-page-content .wrong-page-icon {
    font-size: 120px;
  }
}
@media (max-width: 767px) {
  .wrong-page .wrong-page-content .wrong-page-icon {
    font-size: 100px;
  }
}
@media (max-width: 600px) {
  .wrong-page .wrong-page-content .wrong-page-icon {
    font-size: 70px;
  }
}
.wrong-page .wrong-page-content h2 {
  font-size: 40px;
  margin: 60px 0 25px;
}
@media (max-width: 767px) {
  .wrong-page .wrong-page-content h2 {
    font-size: 24px;
    line-height: 1.4;
    margin: 40px 0 15px;
  }
}
@media (max-width: 600px) {
  .wrong-page .wrong-page-content h2 {
    font-size: 20px;
  }
}
.wrong-page .wrong-page-content p {
  color: inherit;
}
.wrong-page .wrong-page-content .search-form input {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  color: #999ea9;
  padding: 13px 20px;
  margin: 30px auto 0;
  border: 0;
  outline: 0;
  border-radius: 30px;
}
.wrong-page .wrong-page-content .search-form input:focus {
  max-width: 400px;
}
@media (max-width: 767px) {
  .wrong-page .wrong-page-content .search-form input {
    margin-top: 20px;
  }
}

/*# sourceMappingURL=404-ltr.css.map */
