/*********************************************************************************************
** Table of Contents:                                                                       **
**********************************************************************************************

Project:      Sewak - Multipurpose HTML5 Template
Version:      1.0
Last change:  21/11/2018

1.  Languages & Directions    ==> Located in 'sass/directions'
    -------------------------
    1. LTR Direction
    2. RTL Direction
    -------------------------
    
2.  Variables                 ==> Located in 'sass/helpers/variables'
    -------------------------
    1. Color Codes
    2. Media Sizes
    -------------------------
    
3.  Mixins                    ==> Located in 'sass/helpers/mixins'
    -------------------------
    1. Flex Box
    2. Transition
    3. Translate
    4. Rotate
    5. Scale
    6. rotate & translateX
    -------------------------
    
4.  Reset & Global elements   ==> Located in 'sass/global-and-reset'
5.  Buttons                   ==> Located in 'sass/components/buttons'
6.  Preloader                 ==> Located in 'sass/layout/preloader'
7.  Header                    ==> Located in 'sass/layout/header'
    -------------------------
    1. Home Page Style
    2. Sub Pages Style
    -------------------------
    
8.  Home Page                 ==> Located in 'sass/pages/homepage'
    -------------------------
    1. About Section1
    2. Services Section
    3. Portfolio Section
    4. Team Section
    5. Testimonials Section
    6. Clients Section
    7. Pricing Section
    8. Contact Section
    -------------------------
    
9.  Footer                    ==> Located in 'sass/layout/footer'
10. Scroll to Top Button      ==> Located in 'sass/layout/scroll-to-top'
11. 404 Page                  ==> Located in 'sass/pages/404'

*********************************************************************************************/
/*********************
**   LTR Websites   **
*********************/
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

p {
  line-height: 1.6;
}

/*------------------------------------------------------------------------------------------*/
/* 4. Defaults & Reset & Global elements */
/*------------------------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

input:invalid,
input:required,
textarea:invalid,
textarea:required {
  box-shadow: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.ltr-dir {
  direction: ltr;
  display: inline-block;
}

.container {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    width: auto;
    margin: 0;
  }
}

a,
button {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  margin: 0 !important;
}

body {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #737b8e;
  overflow-x: hidden;
}

p {
  color: #999ea9;
}

.bg-shapes {
  width: 100%;
  height: 100px;
}
.cloud-style .bg-shapes:last-of-type, .bg-shapes:first-of-type {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cloud-style .bg-shapes:first-of-type, header .bg-shapes:first-of-type {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
@media (max-width: 767px) {
  .bg-shapes {
    height: 50px;
    max-width: 100%;
    overflow-x: hidden;
  }
}
.bg-shapes img {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  body:not(.waves-style):not(.triangle-style) .bg-shapes img {
    width: 300%;
  }
}

/*------------------------------------------------------------------------------------------*/
/* 5. Buttons */
/*------------------------------------------------------------------------------------------*/
.rounded-btn.white-one,
.rounded-btn.white-two,
.rounded-btn.main-color-one,
.rounded-btn.main-color-two,
.rounded-btn.white-one.fill,
.rounded-btn.white-two.fill,
.rounded-btn.main-color-one.fill,
.rounded-btn.main-color-two.fill {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid;
  border-radius: 50px;
  cursor: pointer;
}

.rounded-btn.white-one,
.rounded-btn.white-two,
.rounded-btn.white-one.fill,
.rounded-btn.white-two.fill {
  border-color: #fff;
}

.rounded-btn.main-color-one,
.rounded-btn.main-color-one.fill {
  border-color: #8c7e77;
}

.rounded-btn.main-color-two,
.rounded-btn.main-color-two.fill {
  border-color: #e1a75c;
}

.rounded-btn.white-one,
.rounded-btn.white-two,
.rounded-btn.main-color-one,
.rounded-btn.main-color-two {
  background-color: transparent;
}

.rounded-btn.white-one.fill,
.rounded-btn.white-two.fill {
  background-color: #fff;
}

.rounded-btn.main-color-one.fill {
  background-color: #8c7e77;
}

.rounded-btn.main-color-two.fill {
  background-color: #e1a75c;
}

.rounded-btn.white-one,
.rounded-btn.white-two,
.rounded-btn.main-color-one.fill,
.rounded-btn.main-color-two.fill {
  color: #fff;
}

.rounded-btn.white-one.fill,
.rounded-btn.main-color-one {
  color: #8c7e77;
}

.rounded-btn.white-two.fill,
.rounded-btn.main-color-two {
  color: #514ebc;
}

.rounded-btn.white-one:hover {
  background-color: #fff;
  color: #e1a75c;
}

.rounded-btn.white-two:hover {
  background-color: #fff;
  color: #514ebc;
}

.rounded-btn.main-color-one:hover {
  background-color: #8c7e77;
  color: #fff;
}

.rounded-btn.main-color-two:hover {
  background-color: #e1a75c;
  color: #fff;
}

.rounded-btn.white-one.fill:hover,
.rounded-btn.white-two.fill:hover {
  background-color: transparent;
  color: #fff;
}

.rounded-btn.white-one.fill.reverse:hover {
  background-color: #e1a75c;
  color: #fff;
  border-color: #e1a75c;
}

.rounded-btn.white-two.fill.reverse:hover {
  background-color: #514ebc;
  color: #fff;
  border-color: #514ebc;
}

.rounded-btn.main-color-one.fill:hover {
  background-color: transparent;
  color: #8b8480;
}

.rounded-btn.main-color-two.fill:hover {
  background-color: transparent;
  color: #514ebc;
}

.rounded-btn.main-color-one.fill.reverse:hover {
  background-color: #fff;
  color: #8c7e77;
  border-color: #fff;
}

.rounded-btn.main-color-two.fill.reverse:hover {
  background-color: #fff;
  color: #514ebc;
  border-color: #fff;
}

.rounded-btn.shadow:hover {
  -webkit-box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 20px -5px rgba(0, 0, 0, 0.3);
}

/*------------------------------------------------------------------------------------------*/
/* 6. Preloader */
/*------------------------------------------------------------------------------------------*/
.preloader {
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  /* background-color: #d0d0d0; */
}
.preloader .content {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 60px;
  -webkit-filter: url("#gooey");
  filter: url("#gooey");
}
.preloader .content .item {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
   background: -webkit-linear-gradient(45deg, #e1a75c 0%, #e1a75c 100%);
   background: -o-linear-gradient(45deg, #e1a75c 0%, #e1a75c 100%);
   background: linear-gradient(45deg, #e1a75c 0%, #e1a75c 100%);
  border-radius: 50%;
  -webkit-animation: loading 4s infinite;
  animation: loading 4s infinite;
  -webkit-transform: scale(0.1);
  transform: scale(0.1);
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.preloader .content .item:nth-of-type(2) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.preloader .content .item:nth-of-type(3) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.preloader .content .item:nth-of-type(4) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.preloader .content .item:nth-of-type(5) {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  45% {
    left: 120px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  90% {
    left: 294px;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
  45% {
    left: 120px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  90% {
    left: 294px;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
  }
}
/*------------------------------------------------------------------------------------------*/
/* 7. Header */
/*------------------------------------------------------------------------------------------*/
header {
  position: relative;
 min-height: 70vh;
 background: -webkit-linear-gradient(315deg, #e1a75c 0%, #514ebc 100%);
 background: -o-linear-gradient(315deg, #e1a75c 0%, #514ebc 100%);
 background: linear-gradient(135deg, #e1a75c 0%, #514ebc 100%);
}
header:not(.not-img-bg) {
  background: url("../images/header-background.jpg") fixed center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
header .bg-video,
header .particles-canvas,
header .ribbons-canvas,
header .evaporation-bg,
header .paint-canvas,
header .rainbow-canvas,
header .balls-canvas {
  display: block;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100vh;
  width: 100%;
}
header .bg-video {
  overflow: hidden;
}
header .bg-video video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
}
header .evaporation-bg canvas {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: url("#gooey");
  filter: url("#gooey");
}
header .overlay {
  position: relative;
  z-index: 2000;
   min-height: 70vh;
   background: -webkit-linear-gradient(315deg, #b77b2b 30%, #cba36d 90%);
   background: -o-linear-gradient(315deg, #b77b2b 30%, #cba36d 90%);
   background: linear-gradient(315deg, #b77b2b 30%, #cba36d 90%);
  /* Header Slider */
}
header .overlay nav {
  position: fixed;
  z-index: 2002;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}
header .overlay nav, header .overlay nav .container {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 767px) {
  header .overlay nav {
    padding: 0 20px;
  }
}
header .overlay nav .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80px;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 350px) {
  header .overlay nav .container {
    border-bottom: 0;
  }
}
header .overlay nav.fixed {
  background: -webkit-linear-gradient(315deg, #ae9067, #eeae5a 90%);
  background: -o-linear-gradient(315deg, #ae9067, #eeae5a 90%);
  background: linear-gradient(315deg, #ae9067, #eeae5a 90%);
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}
header .overlay nav.fixed .container {
  height: 60px;
  border-bottom-color: transparent;
}
header .overlay nav .logo {
  margin: 0;
  font-family: 'Playball', sans-serif;
  font-size: 38px;
  font-weight: normal;
}
header .overlay nav .navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
header .overlay nav .navigation .direct-links {
  cursor: default;
}
@media (max-width: 767px) {
  header .overlay nav .navigation .direct-links {
    display: none;
  }
}
header .overlay nav .navigation .direct-links li,
header .overlay nav .navigation > a {
  display: inline-block;
  margin-right: 24px;
}
header .overlay nav .navigation .direct-links li a:hover {
  color: rgba(255, 255, 255, 0.7);
}
header .overlay nav .navigation > .rounded-btn {
  padding: 8px 20px !important;
}
@media (max-width: 767px) {
  header .overlay nav .navigation > .rounded-btn {
    display: none;
  }
}
header .overlay nav .navigation .nav-menu-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  z-index: 4000;
  height: 20px;
  width: 24px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 330ms ease-out;
  transition: -webkit-transform 330ms ease-out;
  -o-transition: transform 330ms ease-out;
  transition: transform 330ms ease-out;
  transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
}
header .overlay nav .navigation .nav-menu-button span {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
header .overlay nav .navigation .nav-menu-button span:first-of-type {
  width: 50%;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
}
header .overlay nav .navigation .nav-menu-button span:last-of-type {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: 50%;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -o-transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
  -ms-transform-origin: left;
  transform-origin: left;
}
header .overlay nav .navigation .nav-menu-button span.first-line-when-menu-is-open {
  -webkit-transform: rotate(-90deg) translateX(3px);
  -ms-transform: rotate(-90deg) translateX(3px);
  transform: rotate(-90deg) translateX(3px);
}
header .overlay nav .navigation .nav-menu-button span.last-line-when-menu-is-open {
  -webkit-transform: rotate(-90deg) translateX(-3px);
  -ms-transform: rotate(-90deg) translateX(-3px);
  transform: rotate(-90deg) translateX(-3px);
}
header .overlay nav .navigation .button-when-menu-is-open {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .overlay nav .navigation .nav-menu-container {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 3000;
  top: 0;
  right: -250px;
  bottom: 0;
  height: 100%;
  width: 250px;
  background-color: #2e323a;
  padding: 30px 0;
  overflow-y: auto;
}
header .overlay nav .navigation .nav-menu-container::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: #fff;
}
header .overlay nav .navigation .nav-menu-container::-webkit-scrollbar-thumb {
  background-color: #e0a75b;
}
header .overlay nav .navigation .nav-menu-container .logo {
  text-align: center;
  font-size: 45px;
  margin: 10px auto 35px;
}
header .overlay nav .navigation .nav-menu-container .nav-menu {
  width: 100%;
}
header .overlay nav .navigation .nav-menu-container .nav-menu li a {
  display: block;
  padding: 10px 20px;
  border-left: 0 solid #e0a75b;
  border-top: 1px solid #272b31;
}
header .overlay nav .navigation .nav-menu-container .nav-menu li a:hover, header .overlay nav .navigation .nav-menu-container .nav-menu li a.active {
  background-color: #333740;
  border-left-width: 5px;
}
header .overlay .slider, header .overlay .slider .container, header .overlay .slider .slider-content {
  min-height: 90vh;
}
header .overlay .slider .slider-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
}
@media (max-width: 767px) {
  header .overlay .slider .slider-content {
    text-align: center;
  }
}
header .overlay .slider .slider-content .slider-item {
  width: 80%;
  /*
  span {
      color: $main-color-one;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  }
  */
}
@media (max-width: 767px) {
  header .overlay .slider .slider-content .slider-item {
    width: calc(100% - 80px);
    margin-right: -20px;
    padding-top: 30px;
  }
}
@media (max-width: 450px) {
  header .overlay .slider .slider-content .slider-item {
    width: calc(100% - 30px);
    margin-right: 0;
  }
}
header .overlay .slider .slider-content .slider-item:not(:first-of-type) {
  display: none;
}
header .overlay .slider .slider-content .slider-item .sub-head {
  color: #f9f9f9;
  font-size: 17px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}
@media (max-width: 450px) {
  header .overlay .slider .slider-content .slider-item .sub-head {
    font-size: 16px;
  }
}
header .overlay .slider .slider-content .slider-item h2 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  /*
  .typed-word,
  .typed-cursor {
      color: $main-color-one;
  }
  */
}
@media (max-width: 450px) {
  header .overlay .slider .slider-content .slider-item h2 {
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
header .overlay .slider .slider-content .slider-item h2 .typed-cursor {
  font-weight: normal;
  margin: 0 8px;
  -webkit-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
header .overlay .slider .slider-content .slider-item p {
  max-width: 600px;
  color: #f9f9f9;
  font-size: 17px;
  font-style: italic;
  margin-top: 0;
}
@media (max-width: 450px) {
  header .overlay .slider .slider-content .slider-item p {
    font-size: 14px;
  }
}
header .overlay .slider .slider-content .slider-item .buttons-container {
  margin: 30px -6px 0;
  cursor: default;
}
@media (max-width: 450px) {
  header .overlay .slider .slider-content .slider-item .buttons-container {
    margin-top: 15px;
  }
}
header .overlay .slider .slider-content .slider-item .buttons-container .rounded-btn {
  margin: 0 6px;
}
@media (max-width: 350px) {
  header .overlay .slider .slider-content .slider-item .buttons-container .rounded-btn {
    padding: 7px 15px;
  }
}
header .overlay .slider .slider-content .pagers {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  left: 0;
  top: 50%;
}
@media (max-width: 767px) {
  header .overlay .slider .slider-content .pagers {
    left: 12px;
  }
}
@media (max-width: 450px) {
  header .overlay .slider .slider-content .pagers {
    display: none;
  }
}
header .overlay .slider .slider-content .pagers li:first-of-type {
  margin-top: 0;
}
header .overlay .slider .slider-content .pagers li:last-of-type {
  margin-bottom: 0;
}
header:not(.has-shapes) .slider-item {
  margin-bottom: -9%;
}
header .bg-shapes {
  position: absolute;
  z-index: 2001;
  left: 0;
  bottom: 0;
}

.pagers li {
  padding: 5px;
  opacity: .5;
  margin: 6px 0;
  cursor: pointer;
}
.pagers li span {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
}
.pagers li.active span, .pagers li:active span {
  background-color: #e1a75c;
}
.pagers li.active, .pagers li:hover {
  opacity: 1;
}

/* Custom cursor animation */
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Header Slider */
/* Header in Sub Pages */
.page header .overlay > .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  min-height: 100vh;
  color: #fff;
  padding: 80px 0 120px;
}
.page header .overlay > .container .page-title {
  letter-spacing: 2px;
  font-size: 32px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 15px;
}
.page header .overlay > .container .breadcrumbs {
  width: 100%;
  text-align: center;
  font-size: 16px;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.page header .overlay > .container .breadcrumbs a:hover {
  text-decoration: underline;
}
.page header:not(.has-shapes) .overlay > .container {
  padding-bottom: 50px;
}

/* Header in Sub Pages */
/*------------------------------------------------------------------------------------------*/
/* 8.1 About */
/*------------------------------------------------------------------------------------------*/
.default-style .section:not(.padding0) {
  padding: 120px 0;
}
@media (max-width: 767px) {
  .default-style .section:not(.padding0) {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section:not(.padding0) {
  padding: 80px 0;
}
@media (max-width: 767px) {
  .section:not(.padding0) {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.section .div-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .section .div-margin {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.section .section-title {
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .section .section-title {
    margin-bottom: 50px;
  }
}
.section .section-title h2 {
  position: relative;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 40px;
}
.section .section-title h2:before {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: attr(data-title);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: .07;
  font-weight: 500;
  font-size: 90px;
}
@media (max-width: 991px) {
  .section .section-title h2:before {
    font-size: 70px;
  }
}
@media (max-width: 767px) {
  .section .section-title h2:before {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .section .section-title h2:before {
    display: none;
  }
}

.about .about-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .about .about-content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.about .about-content .about-video a {
  position: relative;
  display: block;
  max-width: 470px;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .about .about-content .about-video a {
    margin-bottom: 60px;
  }
}
.about .about-content .about-video a:before {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 50, 58, 0.2);
}
.about .about-content .about-video a:hover:before {
  background-color: rgba(46, 50, 58, 0.25);
}
.about .about-content .about-video a > img {
  display: block;
  width: 100%;
}
.about .about-content .about-video a .video-icon {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
}
.about .about-content .about-video a .video-icon img {
  width: 60px;
}
.about .about-content .about-text {
  width: calc(100% - 500px);
  min-width: 350px;
}
@media (max-width: 991px) {
  .about .about-content .about-text {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .about .about-content .about-text {
    width: auto;
    min-width: auto;
  }
}
.about .about-content .about-text .section-sub-heading {
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding-left: 14px;
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 500;
}
.about .about-content .about-text .section-sub-heading:first-line {
  font-weight: 200;
}
.about .about-content .about-text .section-sub-heading:after, .about .about-content .about-text .section-sub-heading:before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  height: 50%;
  width: 1px;
}
.about .about-content .about-text .section-sub-heading:before {
  top: 0;
  background-color: rgba(115, 123, 142, 0.2);
}
.about .about-content .about-text .section-sub-heading:after {
  bottom: 0;
  background-color: #e1a75c;
}
.about .about-content .about-text p {
  margin: 0;
}
.about .about-content .about-text .video-play-button {
  margin-top: 30px;
}
.about .about-content .about-text .video-play-button a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
}
.about .about-content .about-text .video-play-button a img {
  width: 50px;
  margin-right: 14px;
}

/*------------------------------------------------------------------------------------------*/
/* 8.2 Services */
/*------------------------------------------------------------------------------------------*/
.services {
  background-color: #e1a75c;
}
.services .services-content .services-item p {
  margin: 0 0 30px;
}

.services .services-content,
.pricing .pricing-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -30px;
}
@media (max-width: 767px) {
  .services .services-content,
  .pricing .pricing-content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.services .services-content .services-item,
.pricing .pricing-content .plan {
  width: calc((100% / 3) - 24px);
  background-color: #fff;
  text-align: center;
  padding: 40px 30px;
  margin-bottom: 30px;
  border-radius: 30px;
  -webkit-box-shadow: -1px 0px 43px 0px rgba(0, 0, 0, 0.14);
  box-shadow: -1px 0px 43px 0px rgba(0, 0, 0, 0.14);
}
@media (max-width: 991px) {
  .services .services-content .services-item,
  .pricing .pricing-content .plan {
    width: calc(50% - 24px);
  }
}
@media (max-width: 767px) {
  .services .services-content .services-item,
  .pricing .pricing-content .plan {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .services .services-content .services-item,
  .pricing .pricing-content .plan {
    width: 90%;
  }
}

.services .services-content .services-item .services-item-icon img,
.pricing .pricing-content .plan .plan-icon img {
  display: block;
  height: 64px;
  margin: auto;
}

.services .services-content .services-item .services-title {
  font-size: 22px;
}

.services .services-content .services-item .services-title,
.pricing .pricing-content .plan .plan-title {
  font-weight: 500;
  margin: 20px 0 10px;
}

/*------------------------------------------------------------------------------------------*/
/* 8.3 Portfolio */
/*------------------------------------------------------------------------------------------*/
.default-style:not(.page) .portfolio {
  padding-bottom: 40px !important;
}

.portfolio .portfolio-content .work-cat {
  text-align: center;
  font-weight: 500;
  margin-bottom: 36px;
  cursor: default;
}
.portfolio .portfolio-content .work-cat li {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin: 0 14px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .portfolio .portfolio-content .work-cat li {
    display: block;
  }
  .portfolio .portfolio-content .work-cat li:not(:last-of-type) {
    margin-bottom: 14px;
  }
}
.portfolio .portfolio-content .work-cat li.active, .portfolio .portfolio-content .work-cat li:hover {
  color: #e1a75c;
}
.portfolio .portfolio-content .work-cat li a {
  -webkit-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}
.portfolio .portfolio-content .portfolio-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .portfolio .portfolio-content .portfolio-items {
    margin: -15px;
  }
}
.portfolio .portfolio-content .portfolio-items .item {
  position: relative;
  display: block;
  width: calc((100% / 3) - 30px);
  outline: none;
  overflow: hidden;
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
}
@media (min-width: 768px) {
  .portfolio .portfolio-content .portfolio-items .item {
    margin: 15px;
  }
}
@media (max-width: 767px) {
  .portfolio .portfolio-content .portfolio-items .item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio .portfolio-content .portfolio-items .item:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
.portfolio .portfolio-content .portfolio-items .item img {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  -o-transition: transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.portfolio .portfolio-content .portfolio-items .item:hover img {
  -webkit-transform: scale(1.08, 1.08);
  -ms-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08);
}
.portfolio .portfolio-content .portfolio-items .item .overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
   background: -webkit-linear-gradient(315deg, #b77b2b54 30%, #cba36d70 90%);
   background: -o-linear-gradient(315deg, #b77b2b54 30%, #cba36d70 90%);
   background: linear-gradient(315deg, #b77b2b54 30%, #cba36d70 90%);
  text-align: center;
  padding: 12px;
  opacity: 0;
}
.portfolio .portfolio-content .portfolio-items .item .overlay .title,
.portfolio .portfolio-content .portfolio-items .item .overlay .category {
  width: 100%;
  font-weight: normal;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
  display: none;
}
.portfolio .portfolio-content .portfolio-items .item:hover .overlay {
  opacity: 1;
}
.portfolio .portfolio-content .portfolio-items .item:hover .overlay .title, .portfolio .portfolio-content .portfolio-items .item:hover .overlay .category {
  display: block;
}
.portfolio .portfolio-content .buttons-container {
  text-align: center;
  margin-top: 50px;
}

.portfolio .portfolio-content .portfolio-items .item .overlay .title,
.team .team-content .team-member .overlay .name {
  color: #fff;
  font-size: 18px;
  margin: 0 0 12px;
}

.portfolio .portfolio-content .portfolio-items .item .overlay .category,
.team .team-content .team-member .overlay .job-title {
  color: #eee;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}

.mfp-bg, .mfp-wrap {
  z-index: 7000;
}

/*------------------------------------------------------------------------------------------*/
/* 8.4 Our Team */
/*------------------------------------------------------------------------------------------*/
.team .team-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .team .team-content {
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  .team .team-content {
    margin-bottom: -30px;
  }
}
.team .team-content .team-member {
  position: relative;
  width: calc(25% + 30px);
  background-color: #fff;
  overflow: hidden;
  border-radius: 30px;
  -webkit-box-shadow: -1px 0px 20px 0px rgba(0, 0, 0, 0.08);
  box-shadow: -1px 0px 20px 0px rgba(0, 0, 0, 0.08);
}
@media (min-width: 768px) {
  .team .team-content .team-member:not(:first-of-type) {
    margin-left: -30px;
  }
  .team .team-content .team-member:not(:last-of-type) {
    margin-right: -30px;
  }
  .team .team-content .team-member:nth-of-type(odd) {
    margin-top: -100px;
  }
  .team .team-content .team-member:nth-of-type(odd) {
    margin-top: -100px;
  }
}
.team .team-content .team-member:hover {
  z-index: 4;
}
@media (max-width: 767px) {
  .team .team-content .team-member {
    width: calc(50% - 25px);
    margin-bottom: 30px;
  }
}
@media (max-width: 600px) {
  .team .team-content .team-member {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.team .team-content .team-member img {
  display: block;
  width: 100%;
  height: auto;
  min-height: 100%;
}
.team .team-content .team-member .overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: -110%;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(315deg, #b77b2b54 30%, #cba36d70 90%);
  background: -o-linear-gradient(315deg, #b77b2b54 30%, #cba36d70 90%);
  background: linear-gradient(315deg, #b77b2b54 30%, #cba36d70 90%);
  padding: 30px 60px 30px 30px;
}
.team .team-content .team-member .overlay .name,
.team .team-content .team-member .overlay .job-title {
  width: 100%;
}
.team .team-content .team-member .overlay .job-title {
  font-weight: 500;
}

/*------------------------------------------------------------------------------------------*/
/* 8.5 Testimonials */
/*------------------------------------------------------------------------------------------*/
.testimonials {
  background-color: rgba(165, 113, 45, 0.57);
}
.testimonials .testimonials-content .slider {
  margin: -30px 0 -5px;
}
.testimonials .testimonials-content .slider .item {
  max-width: 500px;
  background-color: #fff;
  padding: 30px 40px;
  margin: 30px;
  outline: 0;
  border-radius: 30px;
  cursor: e-resize;
  -webkit-box-shadow: -1px 0px 43px 0px rgba(0, 0, 0, 0.14);
  box-shadow: -1px 0px 43px 0px rgba(0, 0, 0, 0.14);
}
@media (max-width: 767px) {
  .testimonials .testimonials-content .slider .item {
    max-width: none;
    padding: 25px;
    margin-right: 14px;
    margin-left: 14px;
  }
}
.testimonials .testimonials-content .slider .item .client-details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.testimonials .testimonials-content .slider .item .client-details img {
  display: block;
  width: 60px;
  background-color: rgba(81, 78, 188, 0.1);
  margin-right: 20px;
  border-radius: 50%;
}
.testimonials .testimonials-content .slider .item .client-details .name h3 {
  font-size: 14px;
  margin: 0 0 8px;
}
.testimonials .testimonials-content .slider .item .client-details .name h5 {
  color: #999ea9;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}
.testimonials .testimonials-content .slider .item p {
  padding: 20px 10px;
  margin: 0;
}
.testimonials .testimonials-content .slider .item .quotes {
  color: rgba(81, 78, 188, 0.1);
  text-align: right;
  font-size: 30px;
}
.testimonials .testimonials-content .slider .owl-dots .owl-dot {
  cursor: default;
}
.testimonials .testimonials-content .slider .owl-dots .owl-dot span {
  background-color: #514ebc;
  cursor: pointer;
  opacity: .25;
}
.testimonials .testimonials-content .slider .owl-dots .owl-dot.active span, .testimonials .testimonials-content .slider .owl-dots .owl-dot span:hover {
  opacity: 1;
}

/*------------------------------------------------------------------------------------------*/
/* 8.6 Clients */
/*------------------------------------------------------------------------------------------*/
.clients .clients-content .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: e-resize;
}
.clients .clients-content .client {
  margin: 0 15px;
}
.clients .clients-content .client a {
  outline: 0;
}
.clients .clients-content .client img {
  display: block;
  width: auto;
  margin: auto;
}

/*------------------------------------------------------------------------------------------*/
/* 8.7 Pricing */
/*------------------------------------------------------------------------------------------*/
.pricing {
  background-color: #e1a75c;
}
.pricing .pricing-content .plan .plan-title {
  font-size: 24px;
}
.pricing .pricing-content .plan .plan-price {
  color: #e1a75c;
  font-size: 44px;
  margin: 25px 0;
}
.pricing .pricing-content .plan ul {
  margin: 10px 0 30px;
}
.pricing .pricing-content .plan ul li {
  color: #999ea9;
  font-size: 14px;
  padding: 5px 0;
}
.pricing .pricing-content .plan ul li.unavailable {
  text-decoration: line-through;
}
.pricing .pricing-content .plan ul li span {
  font-weight: 500;
}

/*------------------------------------------------------------------------------------------*/
/* 8.8 Contact */
/*------------------------------------------------------------------------------------------*/
.contact .contact-form {
  max-width: 700px;
  margin: auto;
}
@media (max-width: 767px) {
  .contact .contact-form {
    max-width: 90%;
  }
}
.contact .contact-form .small-fields {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.contact .contact-form .small-fields .form-group {
  width: 47%;
}
@media (max-width: 767px) {
  .contact .contact-form .small-fields .form-group {
    width: 100%;
  }
}
.contact .contact-form .form-group {
  position: relative;
  margin-bottom: 40px;
}
.contact .contact-form input,
.contact .contact-form textarea {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(115, 123, 142, 0.2);
  outline: 0;
}
.contact .contact-form textarea {
  height: 120px;
  resize: none;
}
.contact .contact-form label {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  position: absolute;
  top: -5px;
  width: 100%;
  font-style: italic;
}
.contact .contact-form input:focus ~ label,
.contact .contact-form textarea:focus ~ label,
.contact .contact-form input:not([value=""]) ~ label,
.contact .contact-form textarea:not([data-value=""]) ~ label {
  top: -21px;
  font-size: 12px;
}
.contact .contact-form input:focus ~ label,
.contact .contact-form textarea:focus ~ label {
  color: #514ebc;
}
.contact .contact-form .border-bottom {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 0;
  background-color: #514ebc;
}
.contact .contact-form input:focus ~ .border-bottom,
.contact .contact-form textarea:focus ~ .border-bottom {
  width: 100%;
}
.contact .contact-form .buttons-container {
  text-align: right;
}
@media (max-width: 767px) {
  .contact .contact-form .buttons-container {
    text-align: center;
  }
}

/*------------------------------------------------------------------------------------------*/
/* 9. Footer */
/*------------------------------------------------------------------------------------------*/
footer {
  background-color: #2e323a;
}
footer .div-margin .footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 60px 0;
}
footer .div-margin .footer-top .widget {
  width: calc((100% / 4) - 30px);
  line-height: 1.4;
}
@media (max-width: 767px) {
  footer .div-margin .footer-top .widget {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  footer .div-margin .footer-top .widget:not(:last-of-type) {
    margin-bottom: 30px;
  }
}
@media (max-width: 450px) {
  footer .div-margin .footer-top .widget {
    width: 90%;
  }
}
footer .div-margin .footer-top .widget .widget-title {
  color: #f1f1f1;
  font-weight: 500;
  margin: 0 0 22px;
}
footer .div-margin .footer-top .widget ul li a:hover {
  color: #999ea9;
}
footer .div-margin .footer-top .widget.contact-widget ul li:before {
  font-family: 'FontAwesome';
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 5px;
}
footer .div-margin .footer-top .widget.contact-widget ul li.address:before {
  content: "\f041";
}
footer .div-margin .footer-top .widget.contact-widget ul li.email:before {
  content: "\f0e0";
}
footer .div-margin .footer-top .widget.contact-widget ul li.phone:before {
  content: "\f095";
}
footer .div-margin .footer-top .widget.instagram-widget ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -8px;
}
footer .div-margin .footer-top .widget.instagram-widget ul li {
  width: calc(25% - 4px);
  background-color: #e1a75c;
  margin-bottom: 4px;
}
footer .div-margin .footer-top .widget.instagram-widget ul li a {
  display: block;
}
footer .div-margin .footer-top .widget.instagram-widget ul li a img {
  display: block;
  height: 100%;
  width: 100%;
}
footer .div-margin .footer-top .widget.instagram-widget ul li a:hover {
  opacity: .6;
}
footer .div-margin .footer-top .widget.links ul li:not(:last-of-type), footer .div-margin .footer-top .widget.contact-widget ul li:not(:last-of-type) {
  margin-bottom: 10px;
}
footer .div-margin .footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 12px;
  padding: 25px 0;
  border-top: 1px solid rgba(115, 123, 142, 0.15);
}
@media (max-width: 767px) {
  footer .div-margin .footer-bottom {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    line-height: 1.4;
  }
}
@media (max-width: 767px) {
  footer .div-margin .footer-bottom > div {
    width: 90%;
    margin: auto;
  }
  footer .div-margin .footer-bottom > div:first-of-type {
    margin-bottom: 8px;
  }
}
footer .div-margin .footer-bottom a:hover {
  color: #e1a75c;
}

/*------------------------------------------------------------------------------------------*/
/* 10. Scroll To Top */
/*------------------------------------------------------------------------------------------*/
.Scroll-To-Top {
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: fixed;
  right: -50px;
  bottom: 30px;
  z-index: 6000;
  width: 40px;
  height: 40px;
  line-height: 38px;
  background-color: #fff;
  color: #737b8e;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .8;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Scroll-To-Top:hover {
  color: #e1a75c;
  opacity: 1;
}

/*# sourceMappingURL=style-ltr.css.map */
