@media (max-width: 1920px){
.box-product-parallax{
	background-position: center center !important;
}
.box-product-home10 .item{
	width: 17.8%;
}
}
/*End Screen 1920*/
@media (max-width: 1366px){
}
/*End Screen 1366*/
@media (max-width: 1200px){
}
/*End Screen 1200*/
@media (max-width: 1024px){
.box-slider .owl-pagination{
	display: none;
}
.box-blog .info-box h3{
	padding: 0;
}
.box-product-2 .box-tabs h2{
	font-size: 24px;
	margin: 10px 25px 0 0;
}
.box-brand a {
    margin-right: 55px;
}
.top-header-4{
	padding: 10px 25px;
}
.players{
	margin: 50px 0;
}
.box-lastest-product .title{
	width: 20%;
	margin-top: -10px;
}
.box-lastest-product .wrap-lastest-product{
	width: 80%;
    padding: 0 30px 0 30px;
}
.box-product-parallax .box-img {
    width: 40%;
}
.box-search-10 input[type=text] {
    width: 270px;
}
.box-search select{
	width: 170px;
}
.box-services .services{
	margin-bottom: 20px;
}
.banner-home-10 .info-box,.banner-blog .box-info{
	height: 100px;
	padding-left: 100px;
}
.banner-home-10 h3,.banner-home-10 span,.banner-blog .box-info h3,.banner-blog .box-info .price span{
	font-size: 30px;
}
.banner-home-10 .info-box>a,.banner-blog .box-info>a{
	font-size: 14px;
	margin: 10px 0 0;
}
.box-product-home10 .item{
	width: 20%;
}
.cate-header ul li {
    margin-right: 6px;
}
.list-product .title .text{
	margin: 0 0 0 15px;
}
.box-range #amount{
	width: 85px;
}
.banner-sidebar .box-info{
	height: 355px;
}
.detai-cart{
	margin-top: 30px;
}
.check-box a{
	margin-right: 20px;
}
.banner-form{
	width: auto;
}
}
/*End Screen 1024*/
@media (max-width: 990px){
.box-search-10 input[type=text] {
    width: 240px;
}
.box-banner .box-text{
	padding: 10px 0 25px 15px;
}
.box-brand a img{
	width: 70%;
}
.box-brand a{
	margin: 0;
}
.box-product-slide .box-right{
	padding-left: 0;
}
.top-header-4 .main-nav>ul>li>a{
	margin-right: 10px;
}
.box-banner-parallax .box-info-banner{
	padding: 0 40px;
}
.box-banner-products .text h3 a {
    font-size: 18px;
}
.box-banner-products .text>a{
	font-size: 12px;
}
.box-banner-6 .info-box{
	width: 250px;
}
}
/*End Screen 990*/
@media (max-width: 768px){
}
/*End Screen 768*/
@media (max-width: 767px){
}
/*End Screen 767*/
@media (max-width: 480px){
}
/*End Screen 480*/
@media (max-width: 360px){
}
/*End Screen 360*/
@media (max-width: 320px){
}
/*End Screen 320*/