/* import */
@import "general.less";
ul.list-inline{
	margin: 0; padding: 0;
}
ul.list-inline li{
	list-style: none;
	display: inline-block;
}
.has-bottom{
	&:hover{border-bottom-color: transparent !important;}
}

/********************************************************************************************************************
														HOME 01 
*********************************************************************************************************************/
.top-header{
	padding: 25px 0 10px;
    border-bottom: 1px solid #e5e5e5;
	.box-right{
		float: right;
		ul li{
			margin-left: 10px;
			position: relative;
		}
		margin: 10px 0 0;
	}
	sup{color: @main-color;}
}
.main-nav{
	margin: 6px 0 0 -15px;
}
.mini-cart-box {
	&:hover{
		.mini-cart-content{
			opacity: 1;
			visibility: visible;
			top: 39px;
		}
	}
}
.mini-cart-content.mini-cart-home10{
	right: 58px;
	.mini-cart-button a{font-size: 14px;}
}
.mini-cart-content{
	position: absolute;
	width: 300px;
    z-index: 999;
    right: 0;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    padding: 0 20px;
    top: 60px;
	opacity: 0;
    visibility: hidden;
	.transition;
	h2{
		font-size: 24px; 
		.font-lato;
		text-align: center;
		margin: 20px 0 30px;
	}
	.product-mini-cart>div{float: left;}
	.product-thumb{
		width: 35%;
		margin-bottom: 30px;
		a:hover{
			img{transform: scale(1.1);}
		}
	}
	.product-info{
		width: 60%;
		padding-left: 20px;
	}
	.product-title{
		margin: 0;
		font-size: 14px;
	}
	.price{
		margin: 10px 0 5px;
		span{margin-right: 8px;}
		.old-price{text-decoration: line-through;}
	}
	.mini-cart-total{
		width: 100%;
		display: inline-block;
	}
	.mini-cart-button{
		text-align: center;
		padding: 15px 0 20px;
		a{
			padding: 5px 15px;
			border: 1px solid #e5e5e5;
			margin: 0 5px;
			color: #555 !important;
			&:hover{
				background: @main-color;
				color: #fff !important;
				border: 1px solid @main-color;
			}
		}
	} 
}
.box-search{
	text-align: center;
	margin: 30px 0 0;
	form{	
		display: inline-block;
		position: relative;
	}
	input[type="text"], .select-box,input[type="submit"]{
		height: 50px; 
		float: left;
		background: transparent;
	}
	input[type="text"]{
		width: 400px;
		border: 1px solid #e5e5e5;
		padding: 15px;
	}
	.select-box::after{top: 19px;}
	select{
		width: 250px;
		height: 100%;
		border-radius: 0;
		border-left: none;
		padding-left: 18px;
		background: transparent;
	}
	input[type="submit"]{
		width: 50px;
		border: 1px solid #e5e5e5;
		border-left: none;
	}
	.submit-from{
		float: left;
		position: relative;
		background: transparent;
		z-index: 99;
		&:before{
			position: absolute;
			content:"\f002";
			font-family: FontAwesome;
			font-size: 18px;
			right: 16px;
			z-index: -1;
			top: 15px;
			color: #000;
		}
	}
}
.box-slider{
	margin-top: 25px;
	position: relative;
	.owl-pagination{
		&:extend(.absolute);
		top: auto;
		bottom: 35px;
		right: auto;
		left: 245px;
	}
}
.box-info-slide{
	&:extend(.absolute);
	height: 185px;
	width: 365px;
    text-align: center;
	margin: auto auto auto 90px;
	h2{
		font-size: 48px;
		text-transform: uppercase;
		font-weight: 300;
		color: @main-color;
		margin-top: 0;
		.font-lato;
	}
	h3{
		font-size: 48px;
		text-transform: capitalize;
		.font-lato;
	}
	a{
		font-size: 18px;
		text-transform: uppercase;
		border-bottom: 1px solid #333;
		font-weight: bold;
		margin: 25px 0 0;
	}
}
/***** box-product ******/
.more a{
	margin-top: 25px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	text-align: center;
	padding: 27px 0;
	i{
		display: table;
		width: 100%;
		font-size: 30px;
	}
}
.box-product{
	margin-top: 65px;
	text-align: center;
	.title{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 13px;
		position: relative;
		h3{
			font-size: 18px;
			.font-lato;
			margin: 0;
			text-transform: capitalize;
			a{color: #ccc;}
		}
		a.filter{
			float: right;
			i{color: @main-color; margin-right: 7px;}
		}
	}
	.nav-tabs{border-bottom: none;}
	.nav-tabs > li{
		margin-right: 43px;
		position: relative;
		&:before{
			&:extend(.owl-theme .owl-controls .owl-page span);
			position: absolute;
			content:"";
			left: 0;
			right: 0;
			margin: auto;
			bottom: -20px;
			opacity: 0;
		}
		&:after{
			position: absolute;
			content:'';
			width: 20px;
			right: -30px;
			top: 10px;
			border-top: 1px solid #f2f2f2;
		}
		&:last-child{
			&:after{display: none;}
		}
		h3{font-weight: 600;}
	}
	.nav-tabs > li.active{
		&:before{
			opacity: 1;
		}
		h3 a{color: #000;}
	}
}
.wrap-product{
	margin: 20px 10px 0;
}
.item{
	margin: 0 -10px 10px;
	position: relative;
	text-align: center;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	&:hover{
		.product-extra-link,.name-product,.box-cart .cart,.thumb-product>a:before{
			opacity: 1;
		}
		.box-cart{
			border-top: 1px solid #f2f2f2;
			border-bottom: 1px solid #f2f2f2;
		}
	}
	.product-extra-link,.name-product,.box-cart .cart,.thumb-product>a:before{
		opacity: 0;
	}
	.product-extra-link{
		position: absolute;
		width: 100%;
		margin-top: 10px;
		z-index: 999;
		>a{
			color: #ccc;
			position: relative;
			&:hover{
				color: #000;
				span{
					opacity: 1;
					visibility: visible;
				}
			}
			span{
				position: absolute;
				width: 72px;
				height: 20px;
				font-size: 10px;
				text-align: center;
				background: fade(#000,70%);
				color: #fff;
				top: 20px;
				padding: 3px 0;
				opacity: 0;
				visibility: hidden;
				.transition;
			}
		}
		a.wishlist{
			float: right;
			margin-right: 15px;
			span{right: -27px; width: 90px;}
		}
		a.quick-view{
			margin-left: 15px;
			float: left;
			span{left: -27px; }
		}
	}
	.name-product{
		h3 a{font-size: 18px; .font-lato;}
		&:extend(.absolute);
		height: 26px;
		margin: auto;
		h3{margin: 0;}
	}
	.box-cart{
		position: absolute;
		width: 100%;
		bottom: 44px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		.price{
			font-size: 18px;
			float: right;
			.font-lato;
			.transition;
			sup{    
				top: -5px;
				font-size: 11px;
			}
			background: #f5f5f5;
			color: #999;
			padding: 9px 18px;
			text-decoration: none;
			&:hover{
				background:@main-color;
				color: #fff;
			}
		}
		.cart{
			float: left;
			font-size: 12px;
			text-transform: capitalize;
			padding: 10px 0 10px 20px;
			i{margin-left: 5px;}
		}
	}
	.customize{
		text-transform: capitalize;
		width: 100%;
		padding: 13px 0 10px;
	}
	.thumb-product{
		position: relative;
		>a{
			&:before{
				&:extend(.absolute);
				background: fade(#fff,90%);
				.transition;
			}
		}
	}
}
/****** box-services ******/
.box-services{
	background: url(../images/parallax/parallax-1.png) #f9f9f9;
	background-attachment: fixed;
	i{font-size: 48px;}
	.transition;
	margin-top: 30px;
	position: relative;
	>div{z-index: 9;}
	&:before,&:after{
		&:extend(.absolute);
		width: 100%;
		height: 100%;
	}
	.box-service{
		background: hsla(0,0%,95%,.96);
		.transition;
		padding: 85px 0 65px;
	}
	&:after{
		height: 26px;
		background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.04)),to(transparent));
		background: linear-gradient(rgba(0,0,0,.04),transparent);
	}
	&:hover{
		.box-service{
		  background-color: fade(#ff6363,98%);
		}
	}
	.product{
		i,h3 a{color:#ff6363;}
	}
	.tag{
		i,h3 a{color: #63b0ff;}
	}
	.shipping{
		i,h3 a{color: #49d560;}
	}
	.call{
		i,h3 a{color: @main-color;}
		.wrap-box{padding: 28px 33px 30px 30px;}
	}
	.services{
		border: 1px solid #fff;
		float: left;
		width: 100%;
		background: #fff;
		.transition;
		z-index: 9;
		padding: 2px;
		box-shadow: 0 3px 3px rgba(0,0,0,.1);
		&:hover{
			background: transparent;
			.text i{
				margin-left: 5px;
				opacity: 1;
			}
		}
	}
	.icon-services{width: 21%; margin-top: 15px;}
	.text{
		width: 79%;
		padding-left: 20px;
		h3 a{position: relative;  width: 100%;}
		i{
			font-size: 24px;
			position: absolute;
			margin-left: 0px;
			top: 3px;
			opacity: 0;
			.transition;
		}
	}
	.wrap-box{
		padding: 28px 10px 30px 30px;
		float: left;
		background: #fff;
		width: 100%;
		min-height: 140px;
		>div{
			float: left;
			h3{margin: 0 0 10px; .font-lato;}
		}
	}
}
/****** box-blog *******/
.box-blog{
	text-align: center;
	.title{
		margin: 40px 0 30px;
	}
	.title h2{
		text-transform: capitalize;
		font-weight: bold;
		.font-lato;
	}
	.info-box{
		margin-top: 40px;
		.transition;
		h3{
			.font-lato;
			padding: 0 100px;
			font-weight: bold;
		}
		>a{
			text-transform: uppercase;
			font-weight: bold;
			margin: 10px 0 30px;
			border-bottom: 1px solid #000;
		}
		ul{opacity: 0; .transition;}
		ul li{
			color: #999;
			padding: 0 10px;
			a{
				color: #999;
				&:hover{color: @main-color;}
			}
			&:first-child{
				border-right: 1px solid #e5e5e5;
			}
		}
	}
	.wrap-blog{
		margin: 15px;
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
		padding: 0 0 23px;
		.box-img{
			position: relative;
			&:before{
				&:extend(.absolute);
				background: rgba(0,0,0,0.5);
				opacity: 0;
				.transition;
			}
			&:hover{
				&:before{opacity:1;}
			}
		}
		&:hover{
			box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
			ul{opacity: 1;}
			.info-box {
				margin-top: 25px;
			}
		}
	}
	.owl-theme .owl-controls .owl-buttons div{
		width: 30px;
		height: 30px;
		background: fade(#000, 30%);
		&:hover{background: @main-color;}
	}
	.owl-theme .owl-controls .owl-buttons div i{line-height: 30px;}
}
/****** footer ******/
.top-footer{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 5px;
	margin-top: 42px;
	ul{margin-top: 5px;}
}
.footer-menu{
	ul li{
		text-transform: capitalize;
		margin-right: 20px;
	}
}
.box-icon-sn{
	text-align: right;
	ul li{margin-left: 20px;}
}
.info-footer{
	margin-top: 5px;
	h3{
		font-size: 18px;
		.font-lato;
		font-weight: bold;
		margin-bottom: 20px;
	}
	ul.text li{
		width: 100%;
		margin-bottom: 5px;
	}
	ul.address li{
		position: relative;
		padding:0 0 15px 24px;
		i{
			position: absolute;
			left: 0;
			top: 4px;
		}
	}
	.box-cart{
		border-bottom: 1px solid #f2f2f2;
		padding-bottom: 20px;
		ul li{
			margin-right: -1px;
			&:last-child{margin-right: 0;}
			a:hover{
				transform: scale(1.1);
				-webkit-transform: scale(1.1);
			}
		}
	}
	.box-language{
		ul li a{
			padding: 0px 5px 1px;
			border: 1px solid transparent;
			&:hover{
				border: 1px solid @main-color;
			}
		}
	}
	.box-madeby{
		border-top: 1px solid #f2f2f2;
		padding-top: 15px;
		margin-top: 27px;
	}
}
.bottom-footer{
	background: #f9f9f9;
	padding-top: 30px;
	position: relative;
	.title, ul{float: left;}
	.title{width: 10%;}
	h3{
		.font-lato;
		text-transform: uppercase;
		font-size: 18px;
		color: #999;
		i{color: #555; margin-right: 8px;}
		margin: 0;
		font-weight: 600;
	}
	ul{
		width: 90%;
		padding-left: 55px;
		li{margin-right: 3px;}
		a{
			color: #999;
			font-size: 12px;
			&:hover{color: @main-color;}
		}
		a.more{color: #000;}
	}
	.box-tag{
		margin-bottom: 32px;
	}
}
#back-to-top{
	position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: @main-color;
    bottom: 70px;
    text-align: center;
    line-height: 30px;
    right: 15px;
	i{color: #fff;}
}
.dropdown-box{
	text-align: left;
	position: absolute;
    background: #fff;
    width: 100%;
    z-index: 99999;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
	padding: 30px;
	top: 35px;
	display: none;
	.list-table.box-color{padding: 0;}
}
.drop-list{
	>.title{
		border-bottom: 1px solid @main-color;
		margin-bottom: 30px;
		h3{
			font-size: 24px;
			.font-lato;
			font-weight: bold;
		}
	}
	.box-range{margin-top: 0;}
}
.drop-list.box-color{
	padding: 0;
}
.widget-size{
	ul li{
		width: 100%;
		margin-bottom: 10px;
	}
	a{
		position: relative;
		padding-left: 30px;
		&:before{
			&:extend(.absolute);
			width: 20px;
			height: 20px;
			border: 1px solid #e5e5e5;
		}
		&:after{
			&:extend(.absolute);
			content:"\f00c";
			font-family: 'FontAwesome';
			top: 3px;
			left: 3px;
			opacity: 0;
		}
	}
	a.active{
		&:after{opacity: 1;}
	}
}
/****************************************************************************************************
											HOME 02 
*****************************************************************************************************/
.main-nav-2{
	margin: 0;
	position: relative;
	>ul{
		display: none;
		position: absolute;
		width: 200px;
		z-index: 9999;
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
		background: #fff;
		padding: 10px 0;
	}
	>ul >li{
		width: 100%;
		padding: 5px 25px;
		>a{width: 100%;}
	}
	ul.sub-menu{
		left: 100%;
		top: 0;
	}
}
.top-header-2{
	background: #f9f9f9;
	border-bottom: 1px solid #f2f2f2;
	.box-right{
		float: right;
	}
	.logo{
		text-align: center;
	}
}
.box-slider-2{
	background: #f9f9f9;
	.box-img,.info-box{
		float: left;
		width: 45%;
	}
	.info-box{
		background: #fff;
		padding: 45px 0 35px 68px;
		margin: 90px 0;
	}
	.name-product{
		.font-lato;
		a{color: #000;}
	}
	.price{
		sup{top: -5px;}
		.font-lato;
		.old-price{
			color: #999;
			font-size: 18px;
			text-decoration: line-through;
			margin-right: 5px;
		}
		.new-price{
			color: #000;
			font-size: 30px;
		}
	}
	p{
		color: #999;
		padding-right: 40px;
		margin: 16px 0 40px;
	}
	.product-extra-link{
		text-transform: uppercase;
		font-weight: bold;
		a{
			display: table;
			text-align: center;
			width: 310px;
			height: 60px;
			border: 1px solid #e5e5e5;
			line-height: 60px;
			box-shadow: 0 2px 2px rgba(0,0,0,0.1);
			margin-bottom: 10px;
			i{margin-left: 8px; color: #ccc;}
			&:hover{
				background: @main-color;
				border-color: @main-color;
				color: #fff ;
				i{color: #fff;}
			}
		}
	}
	.owl-theme .owl-controls .owl-page.active span{
		background: @main-color;
	}
	.owl-theme .owl-controls .owl-page span{
		background: #000;
	}
	.owl-pagination{
		&:extend(.absolute);
		width: 15px;
		height: 63px;
		left: auto;
		right: 80px;
		margin: auto;
	}
}
.box-product-2{
	text-align: center;
	.item{
		margin: 0 0 30px;
		.box-cart{
			bottom: 43px;
			.price{
				font-weight: 600;
			}
		} 
		&:hover{
			.price{
				background: @main-color;
				color: #fff;
			}
		}
	}
	.box-tabs h2{
		font-size: 36px;
		.font-lato;
		margin: 0 50px 0 0;
		font-weight: bold;
	}
	.nav-tabs{
		border-bottom: none;
		h3{
			font-size: 18px;
			.font-lato;
			margin: 0;
			a{
				padding: 15px 20px;
				text-transform: capitalize;
				border-radius: 5px;
				color: #000;
			}
		}
		li.active{
			a{
				background: @main-color;
				color: #fff;
			}
		}
	}
	.box-tabs h2, .nav-tabs{
		float: left;
	}
	.filter{
		float: right;
		padding: 9.5px 17.3px;
		background: #fff;
		border-radius: 5px;
		margin-top: 5px;
		i{
			color: @main-color;
			margin-right: 7px;
		}
		color: #000;
	}
	>.title{
		background:  url(../images/parallax/parallax-1.png);
		background-attachment: fixed;
		padding: 25px 0;
		position: relative;
		>div{z-index: 9;}
		&:before{
			background: fade(#f9f9f9,98%);
			width: 100%;
			height: 100%;
			&:extend(.absolute);
		}
		&:after{
			&:extend(.box-services:after);
		}
	}
	.dropdown-box{
		top: 75px;
		max-width: 1170px;
	}
	.number-page{
		margin-top: 5px;
		a{
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 50%;
			border: 1px solid #e5e5e5;
			font-weight: bold;
			box-shadow: 0 3px 3px rgba(0,0,0,0.05);
			&:hover{
				background: @main-color;
				color: #fff;
				border: 1px solid transparent;
			}
		}
		a.active{
			background: @main-color;
			border: 1px solid transparent;
			color: #fff;
		}
	}
	.tab-content{
		margin-top: 50px;
	}
}
.top-footer-2{
	margin-top: 75px;
}
/*****************************************************************************************************
												HOME 03 
*******************************************************************************************************/
.box-slider-3{
	.box-info-slide h2{
		font-size: 24px;
		background: @main-color;
		color: #fff;
		display: inline-block;
		padding: 17px 25px;
	}
	.box-info-slide{
		height: 205px;
	}
	.owl-pagination{
		bottom: 120px;
	}
	.owl-theme .owl-controls .owl-buttons div{
		background: fade(#000,30%);
	}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{left: 20px;}
	.owl-theme .owl-controls .owl-buttons div.owl-next{right: 20px;}
}
/****** box-banner *****/
.box-banner{
	margin-top: 50px;
	i{margin-left: 12px;}
	.info-banner{
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
		&:hover{
			box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
			i{color: #000;}
		}
		.box-img{
			overflow: hidden;
			&:hover{
				img{&:extend(.effect-img);}
			}
		}
	}
	.box-text{
		padding:10px 0 25px 40px;
		background: #fff;
		a{
			color: #999;
			&:hover{color: @main-color;}
		}
	}
}
/****** box-brand *****/
.box-brand{
	background: #f9f9f9;
	text-align: center;
	padding: 145px 0 60px;
	margin-top: -60px;
	a{
		margin-right: 105px;
		&:last-child{margin-right: 0;}
		&:hover{
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
		}
	}
}
/***** box-product-slide *****/
.box-product-slide{
	margin-top: 100px;
	.title{
		margin-bottom: 40px;
		h2{
			.font-lato;
			font-size: 30px;
			font-weight: 600;
			span{
				.font-greatvibes;
				font-size: 60px;
				color: #ccc;
				font-weight: 100;
				display:table;
				width: 100%;
			}
		}
	}
	.box-left{
		text-align: center;
		>a{
			text-transform: uppercase;
			font-weight: bold;
			border-bottom: 1px solid #000;
			margin-top: 35px;
		}
	}
	.box-right{
		padding-left: 55px;
		.owl-carousel .owl-wrapper-outer{
			padding-bottom: 45px;
		}
		.owl-theme .owl-controls .owl-buttons div{
			&:extend(.box-blog .owl-theme .owl-controls .owl-buttons div);
			&:hover{
				background: @main-color;
			}
		}
		.owl-theme .owl-controls .owl-buttons div i{line-height: 30px;}
		.owl-theme .owl-controls .owl-buttons div.owl-prev{left: -38px;}
		.owl-theme .owl-controls .owl-buttons div.owl-next{right: -23px;}
	}
	.item{
		margin: 0;
		position: relative;
		box-shadow: none;
		.box-cart{bottom: 0;}
		.customize{
			position: absolute;
			left: 0;
			bottom: -40px;
			opacity: 0;
			background: #fff;
			box-shadow: 0 3px 3px fade(#000,5%);
			z-index: 99;
			color: #ccc;
		}
		&:hover{
			.customize{
				bottom: -44px;
				opacity: 1;
			}
		}
	}
	.item-small,.item-big{
		float: left;
		margin: 0 5px;
	}
	.item-small{
		width: 40%;
		.item{margin: 0 0 10px;}
	}
	.item-big{
		width: 55%;
		margin: 94px 5px;
	}
}
/****** banner******/
.banner-theme{
	text-align: center;
	margin-top: 35px;
}
.banner-form{
	background: #232f3e;
	width: 1000px;
	margin: 45px auto auto auto;
	>div{float: left;}
	padding: 39px 75px 29px;
	.box-text{
		color: #fff;
		width: 45%;
		padding-left: 15px;
	}
	.logo{
		width: 12%;
		margin-top: 6px;
	}
	form{
		display: inline-block;
		position: relative;
		line-height: 40px;
		width: 43%;
		padding-left: 14px;
		&:after{
			&:extend(.absolute);
			content:'\f2b7';
			font-family: 'FontAwesome';
			font-size: 18px;
			left: auto;
			right: 12px;
		}
	}
	input{
		float: left;
		border: none;
	}
	input[type="text"]{
		width: 310px;
		height: 40px;
		padding-left: 25px;
	}
	input[type="submit"]{
		width: 40px;
		height: 40px;
		background: #f9f9f9;
		margin-left: 1px;
	}
}
/****** footer ******/
.top-footer-3, .info-footer-3{
	background: #131a22;
	a{&:hover{color: @main-color;}}
}
.top-footer-3{
	border-bottom: 1px solid #2a3037;
	padding-top: 28px;
	ul li a{
		color: #ccc;
	}
	.box-icon-sn{
		ul li a:hover{
			color: #fff;
		}
	}
}
.info-footer-3{
	margin-top: 0;
	padding-top: 5px;
	h3{
		color: #fff;
	}
	color: #ccc;
	a{color: #ccc;}
	ul.address li i{color: @main-color;}
	.box-cart{
		border-bottom: 1px solid #2a3037;
	}
	.box-madeby{
		border-top: 1px solid #2a3037;
	}
}
.bottom-footer-3{
	background: #232f3e;
	h3 i{color: #999;}
	ul a.more{
		font-weight: bold;
		color: #fff;
	}
}
/*******************************************************************************************************
											HOME 04 
********************************************************************************************************/
.top-header-4{
	padding: 25px 100px 10px;
	z-index: 999;
    position: relative;
	border-bottom: none;
	.main-nav{
		text-align: right;
		> ul > li > a{
			color: #fff;
			&:hover{color: @main-color;}
		}
	}
	.box-right{
		li >a{color: #fff;}
	}
}
.box-banner-parallax{
	margin-top: -76px;
	height: 900px;
	background: url(../images/blog/blog_15.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	.box-info-banner{
		position: absolute;
		bottom: 180px;
		padding: 0 100px;
		width: 100%;
		.text{
			float: left;
			.font-lato;
			color: #fff;
			h3{
				font-size: 30px;
				margin: 0;
				font-weight: 600;
				padding: 20px 0 15px;
				border-top: 1px solid #bababa;
			}
			p{font-size: 18px;}
		}
		a{
			float: right;
			font-size: 18px;
			text-transform: uppercase;
			color: #000;
			font-weight: bold;
			line-height: 60px;
			width: 140px;
			height: 60px;
			background: #fff;
			position: relative;
			text-align: center;
			margin-top: 25px;
			&:after{
				&:extend(.absolute);
				border-bottom: 1px solid #666;
				width: 98px;
				margin: auto;
				bottom: 19px;
			}
			&:hover{
				background: @main-color;
				color: #fff;
				&:after{border-bottom: 1px solid #fff;}
			}
		}
	}
}
.box-banner-products{
	.wrap-banner{
		margin: 0 -15px;
	}
	.banner{
		position: relative;
		&:before{
			&:extend(.absolute);
			background: fade(#fff,90%);
			opacity: 0;
			.transition;
		}
		&:hover{
			.text,&:before{opacity: 1;}
		}
		a{
			width: 100%;
			img{width: 100%;}
		}
	}
	.text{
		.font-lato;
		text-align: center;
		&:extend(.absolute);
		height: 71px;
		margin: auto;
		opacity: 0;
		.transition;
		h3{
			margin: 0 0 17px;
		}
		h3 a{font-size: 30px;}
		>a{
			font-family: 'Poppins',san-serif;
			i{
				font-size: 18px;
				float: right;
				margin: 2px 0 0 10px;
			}
		}
	}
}
.top-footer-4{
	margin-top: 0;
}
/********************************************************************************************************
											HOME 05 
********************************************************************************************************/
.box-small-search{
	&:hover{
		.search-form-sp{
			opacity: 1;
			visibility: visible;
			top: 25px;
		}
	}
}
.search-form-sp{
	position: absolute;
	right: -2px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	top: 40px;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	.transition;
	input[type="text"]{
		border: none;
		padding: 10px 15px;
	}
	input[type="submit"]{
		width: 41px;
		height: 41px;
		border: none;
		background: @main-color;
		position: absolute;
		right: 0;
		top: 0;
	}
	i{
		font-size: 18px;
		position: absolute;
		right: 10px;
		top: 12px;
		color: #fff;
	}
}
.top-header-5{
	background: #232f3e;
	border-bottom: none;
	.main-nav > ul > li > a{
		color: #fff;
		&:hover{color: @main-color;}
	}
	.box-right ul li >a{
		color: #fff;
	}
}
.box-update-product{
	.owl-theme .owl-controls .owl-buttons div{
		&:extend(.box-blog .owl-theme .owl-controls .owl-buttons div);
		&:hover{background: @main-color;}
	}
	.owl-theme .owl-controls .owl-buttons div i{line-height: 30px;}
	.title{
		text-align: center;
		.font-lato;
		margin: 25px 0;
		span{
			font-weight: 300;
		}
	}
	.wrap-product{
		margin: 0 -15px;
	}
	.item{
		margin: 0 15px;
		box-shadow: none;
		&:hover{
			.box-cart{
				opacity: 1;
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;
			}
		}
	}
	.box-cart{
		bottom: 0;
		opacity: 0;
		.transition;
	}
	.box-cart .price{
		padding: 5px 10px;
	}
}
.box-sale{
	position: relative;
	text-align: center;
	margin: 50px 0;
	h2,h3{.font-lato; margin: 0;}
	h3{
		font-size: 30px;
		text-transform: capitalize;
		font-weight: 300;
		color: #999;
	}
	h2{
		font-size: 60px;
		font-weight: bold;
	}
	.box-text {
		&:extend(.absolute);
		height: 132px;
		margin: auto;
		a{
			&:extend(.box-info-slide a);
			margin: 5px 0 0;
		}
	}
}
/**** box-product-show ****/
.box-product-show{
	.owl-pagination{
		padding: 19.5px 0;
		background: #f9f9f9;
	}
	.box-left{
		margin-right: 20px;
		.item{margin: 0;}
	}
	.wrap-item{
		.item .product-extra-link a.quick-view span{left: -10px;}
		.item .product-extra-link a.wishlist span{right: -10px;}
	}
	.box-right{
		margin-left: -40px;
		.wrap-product{
			margin: 0 10px;
		}
		.item{
			margin: 0 -10px 10px;
		}
	}
	.item{
		margin: 0 0 10px;
		box-shadow: none;
		&:hover{.box-cart{opacity: 1;}}
		.box-cart{
			bottom: 0;
			opacity: 0;
			.transition;
		}
	}
}
.box-product-show-2{
	margin-top: 10px;
	.box-1{
		margin-right: -40px;
	}
	.box-2{
		margin: 0 20px;
		.item{margin: 0;}
	}
	.box-3{
		margin-left: -40px;
	}
	.owl-pagination{
		padding:40px 0 39px;
	}
}
.box-product-show-3{
	margin-bottom: 50px;
	.box-1{margin-right: -40px;}
	.box-2{
		margin-left:20px;
		.item{margin: 0;}
	}
	.wrap-item-bottom{
		margin: 0 10px;
		.item{margin: 0 -10px;}
	}
}
/*** box-choice ****/
.box-choice{
	position: relative;
	text-align: center;
	.title{
		position: absolute;
		top: -10px;
		left: 45px;
		text-transform: capitalize;
		h3{
			font-size: 24px;
			.font-lato;
			color: #fff;
		}
		span.buy{
			font-weight: 100;
		}
		span.choice{
			color: @main-color;
		}
	}
	.wrap-choice{
		position: relative;
		&:hover{
			&:before{opacity: 1;}
		}
		&:before{
			&:extend(.absolute);
			background: rgba(0,0,0,0.2);
			opacity: 0;
			.transition;
		}
	}
	.wrap-choice.box-1{
		margin-right: -10px;
	}
	.wrap-choice.box-2{
		margin-left: -10px;
	}
	.info-box{
		text-align: center;
		border: 1px solid #fff;
		padding: 2px;
		&:extend(.absolute);
		margin: auto;
		width: 346px;
		height: 126px;
		.wrap-info{
			background: fade(#fff,90%);
			height: 100%;
			padding: 23px 0;
		}
		h3{text-transform: uppercase;}
		h3,p{
			.font-lato;
			font-weight: bold;
			margin: 0;
			line-height: 24px;
		}
		p{font-size: 24px;}
		span{
			margin-top: 8px;
			display: inline-block;
		}
	}
}
/****************************************************************************************************
												HOME 06 
*****************************************************************************************************/
.top-header-6{
	padding: 9px 0 9px;
    border-bottom: none;
	background: #f2f2f2;
	.phone-number{
		i{margin-right: 8px;}
	}
	.box-right{
		margin: 0;
	}
}
.main-header-6{
	text-align: center;
	.logo{
		margin: 50px 0 30px;
	}
	.main-nav{
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		padding: 18.5px 0;
	}
}
.box-slider-06{
	margin-top: 30px;
	.owl-pagination{
		left: 0;
		right: 0;
		margin: 60px;
		margin: auto;
	}
	.owl-theme .owl-controls .owl-buttons div{
		&:extend(.box-slider-3 .owl-theme .owl-controls .owl-buttons div);
		&:hover{background: @main-color;}
	}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{left: 30px;}
	.owl-theme .owl-controls .owl-buttons div.owl-next{right: 30px;}
	.owl-theme .owl-controls .owl-page.active span{
		background: @main-color;
	}
	.owl-theme .owl-controls .owl-page span{
		background: #000;
	}
	.box-info-slide{
		&:extend(.box-choice .info-box);
		width: 508px;
		height: 257px;
		h2{
			color: #999;
		}
		h2,h3{
			font-size: 30px;
			margin: 0;
		}
		h3{
			position: relative;
			&:before{
				&:extend(.absolute);
				width: 66px;
				height: 15px;
				background: url(../images/bf-img.png);
				top: auto;
				bottom: -30px;
				margin: auto;
			}
		}
		a{
			margin: 46px 0 0;
		}
	}
	.wrap-info-slide{
		&:extend(.box-choice .info-box .wrap-info);
		background: #fff;
		padding: 52px 0;
	}
}
.box-banner-6{
	position: relative;
	margin: 10px 10px 0;
	.banner{
		margin: 0 -10px;
	}
	.info-box{
		&:extend(.box-choice .info-box);
		width: 290px;
		height: 46px;
	}
	.wrap-info{
		&:extend(.box-choice .info-box .wrap-info);
		padding: 10px 0;
		i{margin-left: 20px;}
	}
}
.box-product-collection{
	margin-top: 75px;
	.title{
		text-align: center;
		position: relative;
		&:before,&:after{
			&:extend(.absolute);
			width: 100%;
			border-top: 1px solid #f2f2f2;
			z-index: -2;
		}
		&:after{
			bottom: 58px;
			top: auto;
		}
		.wrap-title{
			display: inline-block;
			margin: auto;
		}
		span,.text{float: left;}
		span{
			font-size: 30px;
			.font-lato;
			font-weight: 100;
			position: relative;
			color: #fff;
			margin-top: 10px;
			&:after{
				&:extend(.absolute);
				width: 80px;
				height: 91px;
				background: url(../images/bf-img-2.png);
				z-index: -1;
				left: -22px;
				top: -10px;
			}
			
		}
		.text{
			margin-left: 60px;
			h2,h3{margin: 0;}
		}
		h2{
			.font-greatvibes;
			font-size: 60px;
			color: #ccc;
		}
		h3{
			.font-lato;
			font-size: 30px;
			font-weight: bold;
		}
	}
	.wrap-product-collection{
		margin-top: 50px;
		.item{
			margin: 0 0 30px;
		}
		.box-left{
			margin-right: 30px;
			.info-box{
				&:extend(.box-choice .info-box);
				width: 418px;
				height: 178px;
				h3{
					.font-lato;
					font-size: 30px;
					font-weight: 300;
				}	
				a{&:extend(.box-blog .info-box > a);}
				.wrap-info-box{
					&:extend(.box-choice .info-box .wrap-info);
					background: #fff;
				}
			}
			.info-box.has-deal-week-countdown{
				height: 238px;
				.wrap-info-box{
					padding: 45px 0;
				}
			}
		}
		.box-right{
			margin-left: -30px;
			text-align: center;
			>a{
				&:extend(.box-blog .info-box > a);
				margin-top: 20px;
			}
		}
	}
	.deal-week-countdown{
		h3{ margin: 0 0 15px;}
	}
	.time_circles{
		>div{
			display: inline-block;
			width: 50px !important;
			height: 50px !important;
			border: 1px solid #e5e5e5;
			border-radius: 50%;
			text-align: center;
			padding: 8px 0;
			margin: 0 10px;
			span{
				display: table;
				width: 100%;
				line-height: 17px;
			}
			span.number{
				.font-lato;
				font-size: 18px;
				font-weight: bold;
				position: relative;
				&:after{
					position: absolute;
					content:':';
					right: -13px;
					top: 5px;
				}
			}
			span.text{font-size: 12px;}
		}
		.textDiv_Seconds{
			span.number{&:after{display: none;}}
		}
	}
}
.box-services-6{margin-top: 50px;}
.box-blog-06{margin-bottom: 40px;}
/********************************************************************************************************
											HOME 07 
*********************************************************************************************************/
.players{
	text-align: center;
	position: relative;
	margin: 115px 0 250px;
	h3{
		.font-lato;
		font-size: 90px;
		font-weight: bold;
		text-transform: capitalize;
		&:extend(.absolute);
		height: 99px;
		margin: auto;
		z-index: 9999;
		top: auto;
		bottom: 53%;
	}
	.mejs__controls{display: none;}
}
.mejs__container{
	margin: auto;
}
.mejs__overlay-button{margin-top: 100px;}
.box-about-product{
	margin-bottom: 100px;
	h3{
		.font-lato;
		font-size: 48px;
		text-transform: capitalize;
		font-weight: bold;
		margin: 0;
	}
	.box-text{
		margin:0 0 0 20px;
		i{
			font-size: 6px;
			margin: 8px 10px 0 0;
			float: left;
			color: #ccc;
		}
		ul{
			padding: 40px;
			border: 1px solid #f2f2f2;
			box-shadow: 0 3px 3px fade(#000,5%);
			margin-top: 20px;
		}
		li{
			margin-bottom:15px;
		}
	}
}
.box-introduce{
	.box-img{
		a{
			box-shadow: 0 0 30px fade(#000,10%);
			position: relative;
			&:before{
				&:extend(.absolute);
				width: 300px;
				height: 300px;
				background: #afd6e7;
				z-index: -1;
				top: 50px;
				left: -50px;
			}
		}
	}
	.box-text{
		margin-top: 57px;
		h3{
			.font-lato;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 15px;
		}
	}
}
.box-introduce-1{
	.box-img{float: right;}
}
.box-introduce-2{
	margin-top: 100px;
	.box-img{
		a{
			&:before{
				left: auto;
				right: -50px;
			}
		}
	}
}
.box-utilities{
	margin-top: 130px;
	h3{
		margin: 0 0 17px;
		.font-lato;
		font-weight: bold;
		font-size: 30px;
		color: #000;
	}
	.wrap-utilities{
		text-align: center;
		margin: 0 -15px;
		img,.box-img{border-radius: 50%;}
		.box-img{
			border: 10px solid #afd6e7;
			display: inline-block;
			margin-bottom: 30px;
			a{
				position: relative;
				&:before{
					&:extend(.absolute);
					width: 100%;
					height: 100%;
					background: fade(@main-color,30%);
					border-radius: 100%;
					opacity: 0;
					.transition;
				}
				&:hover{&:before{opacity: 1;}}
			}
		}
		p{
			padding: 0 20px;
		}
	}
	.wrap-utilities.wrap-utilities-sp{
		.box-img{margin-top: 20px;}
	}
}
.box-special{
	text-align: center;
	padding-top: 85px;
    border-top: 1px solid #f2f2f2;
	margin-top: 110px;
	.title{
		margin-bottom: 63px;
		h3{
			&:extend(.box-utilities h3);
			font-size: 48px;
			margin: 0 0 10px;
		}
		p{
			font-weight: bold;
			color: #555;
		}
	} 
	.box-img{margin-bottom: 20px;}
	.item-special{
		padding-bottom: 10px;
		.transition;
		p{	color: #ccc; 
			font-weight: bold;}
		span{
			color: #555;
			font-weight: 400;
		}
		&:hover{
			box-shadow: 0 0 5px rgba(0,0,0,0.3);
		}
	}
}
.box-shape{
	padding-top: 100px;
	margin-top: 73px;
	border-top: 1px solid #f2f2f2;
	>div{
		float: left;
	}
	.box-left{
		width:60%;
		.box-icon-sn{
			text-align: center;
			margin-top: 45px;
		}
	}
	.info-box{
		width: 40%;
		margin: 150px 0 0 -65px;
		.price{
			font-weight: bold;
			margin: 15px 0 20px;
			&:extend(.box-slider-2 .price);
			.old-price{
				&:extend(.box-slider-2 .price .old-price);
			}
			.new-price{
				&:extend(.box-slider-2 .price .new-price);
			}
			sup{&:extend(.box-slider-2 .price sup);}
		}
		>p{
			color: #999;
			padding-right: 50px;
			a{
				color: #000;
				font-weight: bold;
			}
		}
		.product-extra-link{
			margin-top: 30px;
			&:extend(.box-slider-2 .product-extra-link);
			>a{
				&:extend(.box-slider-2 .product-extra-link a);
				background: #fff;
				&:hover{
					&:extend(.box-slider-2 .product-extra-link a:hover);
					i{color: #fff;}
				}
				i{
					color: #ccc;
					margin-left: 10px;
				}
			}
		}
	}
}
.box-say{
	text-align: center;
	background: #ddeff2;
	padding: 90px 0;
	margin-top:105px;
	h3{
		&:extend(.box-utilities h3);
		text-transform: capitalize;
	}
	i{
		font-size: 30px;
		color: #fff;
		margin: 10px 0 23px;
	}
	p{
		font-size: 18px;
		margin-bottom: 60px;
		padding: 0 280px;
		span{
			font-weight: bold;
			color: #555;
		}
	}
}
/******************************************************************************************************
											HOME 08
*******************************************************************************************************/
.box-banner-08{
	text-align: center;
	position:relative;
	.info-box{
		height: 88px;
		margin: auto;
		&:extend(.absolute);
		h3,p{color: #fff;}
		h3{
			font-size: 48px;
			font-weight: bold;
			margin: 0 0 15px;
		}
		span{font-weight: bold;}
	}
}
.box-tag-08{
	margin-top: 60px;
	ul{
		border-left: 1px solid #f2f2f2;
		li{
			&:extend(.bottom-footer ul li);
			margin: 0 5px 15px 0;
			a{
				color: #999;
				&:hover{color: @main-color;}
			}
			a.more{color: #000;}
			&:last-child{margin-bottom: 0;}
		}
	}
	.title{
		width: 7.5%;
		padding: 32px 0;
		i{
			font-size: 60px;
			color: #ccc;
		}
	}
	ul{
		width: 92.5%;
		padding-left: 40px;
	}
	.title, ul{
		float: left;
	}
}
.box-product-08{
	background:#afd6e7;
	margin-top: 45px;
	padding: 30px 0 40px;
}
.item .customize{
	background: #fff;
	color: #ccc;
}
.sale-item{
	position: absolute;
	background: #999;
	width: 40px;
	height: 20px;
	z-index: 99999;
	margin: 10px 0 0 10px;
	.transition;
	span{
		font-size: 12px;
		color: #fff;
	}
}
.item{
	&:hover{
		.sale-item{
			opacity: 0;
			z-index: 0;
		}
		.customize{
			color: #333;
		}
		.box-cart .price{
			background: @main-color;
			color: #fff;
		}
	}
}
/********************************************************************************************************
												HOME 09
********************************************************************************************************/
.box-product-parallax{
	background-attachment: fixed !important;
	background-repeat: no-repeat !important;
	padding: 100px 0;
	.info-box{
		width: 30%;
		margin: 50px 0 0 140px;
		h3{
			margin: 0;
			a{
				&:extend(.box-utilities h3);
				&:hover{color: @main-color;}
			}
		} 
		span{
			&:extend(.box-utilities h3);
		}
		sup{top: -6px;}
		>a{&:extend(.box-info-slide a);     margin: 30px 0 0;}
		.price{
			margin-bottom: 15px;
		}
	}
	.box-img{
		width: 31%;
		a{
			float: left;
			width: 47%;
			margin: 5px;
			overflow: hidden;
			&:hover{
				img{&:extend(.effect-img);}
			}
			img{width: 100%;}
		}
	}
	.info-box,.box-img{
		float: left;
	}
}
.box-product-parallax-1,.box-product-parallax-3,.box-product-parallax-5{
	background-position: left -278px center !important;
	.info-box,.box-img{
		float: right;
	}
	.info-box{
		margin-right: 60px;
	}
}
.box-product-parallax-2,.box-product-parallax-4,.box-product-parallax-6{
	background-position: right -278px center !important;
}
.box-product-parallax-1{
	background: url(../images/blog/blog_35.jpg);
}
.box-product-parallax-2{
	background: url(../images/blog/blog_36.jpg);
}
.box-product-parallax-3{
	background: url(../images/blog/blog_37.jpg);
}
.box-product-parallax-4{
	background: url(../images/blog/blog_38.jpg);
}
.box-product-parallax-5{
	background: url(../images/blog/blog_39.jpg);
}
.box-product-parallax-6{
	background: url(../images/blog/blog_40.jpg);
}
.box-lastest-product{
	padding: 25px 0;
	.owl-theme .owl-controls .owl-buttons div.owl-next{right: 35px;}
	.owl-theme .owl-controls .owl-buttons div{
		&:extend(.box-product-slide .box-right .owl-theme .owl-controls .owl-buttons div);
		&:hover{background: @main-color;}
	}
	.owl-theme .owl-controls .owl-buttons div i{
		line-height: 30px;
	}
	.wrap-item{
		a{
			border: 1px solid #e5e5e5;
			margin: 0 10px;
		}
	}
	.title{
		width: 15%;
		margin-top: 5px;
		h3{
			font-size: 18px;
			.font-lato;
		}
		padding-left: 30px;
	}
	.wrap-lastest-product{
		width: 85%;
		padding: 0 80px 0 40px;
	}
	.wrap-lastest-product,.title{
		float: left;
	}
}
/********************************************************************************************************
													HOME 10 
*********************************************************************************************************/
.top-header-10{
	border-bottom: none;
}
.logo-10{
	padding-left: 30px;
}
.phone-number-10{
	float: right;
    margin-right: 30px;
	a{
		color: #fff;
		font-weight: bold;
		padding: 10.5px 15px;
		border: 1px solid @main-color;
		font-size: 18px;
	}
	span{
		font-weight: 100;
		margin-right: 10px;
		font-size: 14px;
	}
	i{
		color: @main-color;
		margin-right: 7px;
	}
}
.box-search-10{
	margin: 0 0 0 5px;
	input[type="text"]{
		width: 450px;
	}
	form{background: #fff;}
}
.bottom-header{
	background: #232f3e;
	padding: 5px 0 27px;
	.main-nav > ul > li > a{
		color: #fff;
	}
	.box-right a{
		color: #fff;
		font-size: 18px;
	}
	.main-nav{
		margin: 6px 0 0 30px;
	}
	.box-right{
		float: right;
		margin-right: 39px;
		li{margin-left: 20px;}
		sup{color: @main-color;}
	}
}
.main-content-home10{
	margin-top: 20px;
	.box-right{
		margin: 0 20px 70px -44px;
	}
	.box-left{
		margin: 0 34px 0 20px;
	}
}
.banner-home-10{
	position: relative;
	h3,span{
		font-size: 48px;
		.font-lato;
		color: #fff;
	}
	h3{
		font-weight: 100;
		margin: 0;
	}
	span{
		font-weight: bold;
	}
	.info-box{
		&:extend(.absolute);
		height: 180px;
		margin: auto;
		padding-left: 150px;
	}
	.info-box >a{
		&:extend(.box-info-slide a);
		margin: 32px 0 0;
	}
}
.box-product-home10{
	margin: 30px 0 50px;
	.wrap-product{
		margin: 0 -15px;
	}
	.title{
		border-bottom: none;
		text-align: left;
		padding-bottom: 0;
		>h3 >a{
			&:extend(.box-product-parallax .info-box h3);
			margin: 0 0 10px;
		}
		h3 a{color: #333;}
	}
	.nav-tabs > li:after{
		display: none;
	}
	.box-tabs{float: right;}
	.nav-tabs > li{
		position: relative;
		padding-bottom: 14px;
		&:last-child{margin-right: 0;}
		&:before{
			top: auto;
			bottom: 0;
			height: 2px;
			border-radius: 0;
			&:extend(.absolute);
			width: 100%;
			border-bottom: 1px solid @main-color;
		}
	}
	.nav-tabs{
		margin-top: 11px;
	}
	.item{
		width: 16.9%;
		float: left;
		margin: 0 15px 30px;
		.box-cart .price{
			padding: 5px 10px;
		}
		.box-cart{
			bottom: 40px;
			border-bottom: none;
			border-top: none;
		}
		.customize{
			padding: 10px 0 9px;
		}
	}
	.tab-content > .tab-pane{
		padding: 30px 27px 0px 30px;
		border: 1px solid #e5e5e5;
	}
}
.list-product{
	.title{
		border: 1px solid #e5e5e5;
		padding: 10px;
		i{
			float: right;
			margin-top: -20px;
			font-size: 24px;
			font-weight: bold;
		}
		.box-img,.text{
			float: left;
		}
		.box-img{
			width: 16.8%;
		}
		.text{
			width: 74%;
			margin: 0 0 0 20px;
		}
		h3{
			margin: 10px 0 0;
			.font-lato;
			font-size: 18px;
			font-weight: bold;
		}
	}
	>ul>li{
		i.fa-angle-up{display: none;}
		ul{display: none;}
	}
	>ul>li.active{
		i.fa-angle-up{display: block;}
		i.fa-angle-down{display: none;}
		ul{display: block;}
	}
	ul ul{
		padding: 20px 20px 5px;
		border: 1px solid #e5e5e5;
		border-top: none;
		margin-bottom: 6px;
	}
	li li{
		width: 100%;
		margin-bottom: 20px;
	}
}
.banner-sidebar{
	border: 1px solid #e5e5e5;
    padding: 5px;
	position: relative;
	margin-top: 15px;
	.box-img a{
		width: 100%;
		img{width: 100%;}
	}
	.box-info{
		&:extend(.absolute);
		height: 275px;
		margin: auto auto auto 28px;
		>a{
			font-size: 18px;
			font-weight: bold;
			width: 150px;
			height: 40px;
			text-transform: uppercase;
			background: @main-color;
			color: #fff;
			text-align: center;
			line-height: 40px;
			margin-top: 25px;
			&:hover{background: #555;}
		}
	}
	span.upto{font-size: 30px;}
	h3{
		font-size: 60px !important;
		padding:0 0 5px;
	}
	span,h3{
		display: table;
		.font-lato;
		font-size: 24px;
		font-weight: bold;
		color: #fff;
	}
}
/******************************************************************************************************
												BLOG FEATURED 
*******************************************************************************************************/
.cate-header{
	ul li{
		margin-right: 28px;
	}
	a{
		padding: 15px 0;
		&:hover{
			text-shadow: 0px 0px 0.1px #333;
			color: #333;
		}
	}
}
.box-breadcrumb{
	padding-top: 15px;
    border-top: 1px solid #e5e5e5;
	a{
		color: #999;
		font-size: 12px;
		&:hover{color: @main-color;}
	}
}
.banner-blog{
	position: relative;
	margin-top: 6px;
	.box-info{
		height: 177px;
		margin: auto auto auto 85px;
		&:extend(.absolute);
		h3{&:extend(.banner-home-10 h3);}
		.price span{&:extend(.banner-home-10 span);}
		a{&:extend(.banner-home-10 .info-box  >a);}
	}
}
.box-default-style-1{
	.title{margin: 50px 0 45px !important;}
	.box-info{
		margin: -45px 30px 0;
		padding: 16px 39px;
		background: fade(#fff,95%);
	}
}
.box-default-style{
	text-align: center;
	.wrap-item{margin:0 -15px;}
	.title{
		margin: 63px 0 51px;
		h3{&:extend(.box-product-collection .title h3);}
	} 
	.blog-item{margin: 0 15px;}
	.box-info{
		z-index: 999;
		position: relative;
		h3{
			&:extend(.box-product-collection .title h3);
			font-size: 24px;
			margin: 0;
		}
		>a{&:extend(.box-blog .info-box > a);}
		ul{margin-top: 20px;}
		ul li{
			padding: 0 10px;
			font-size:12px;
			color: #999;
			&:first-child{
				padding-left: 0;
				border-right: 1px solid #999;
			}
			a{
				color: #999;
				&:hover{color: @main-color;}
			}
		}
	}
	.owl-theme .owl-controls .owl-buttons div{
		&:extend(.box-blog .owl-theme .owl-controls .owl-buttons div);
		&:hover{background: @main-color;}
	}
	.owl-theme .owl-controls .owl-buttons div i{line-height: 30px;}
}
.box-default-style-2{
	.title{margin: -10px 0 45px !important;}
	.box-info{
		h3{margin: 20px 0 12px;}
	}
}
.box-blog-post{
	background:#232f3e;
	color: #fff;
	padding-bottom: 80px;
	margin-top: 30px;
	.box-info{
		text-align: left;
		h3{margin: 20px 0;}
		p{color: #bdc1c5;}
		h3 a{color: #fff;}
	}
}
.box-vertical{
	.owl-carousel .owl-wrapper-outer{
		padding-bottom: 10px;
	}
	.box-img,.box-info{
		float: left;
	}
	.box-img{width: 45.21%;}
	.box-info{
		width: 54.79%;
		padding: 30px 23px;
		h3{
			margin-bottom: 10px;
		}
	}
	.item-box{
		margin: 0 15px;
		border: 1px solid #f2f2f2;
		box-shadow: 0 3px 3px fade(#000,5%);
	}
	span{
		color: #999;
	}
}
.box-grid{
	.item-box{
		margin: 0 15px;
	}
	.item-box-has-children{
		&:after{display: none;}
	}
	.item-box-children,.item-box{
		position: relative;
		&:after{
			&:extend(.absolute);
			height: 230px;
			background: -webkit-gradient(linear,right bottom,left top, from(rgba(0, 0, 0, 0.9)), to(transparent));
			background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
			transform: rotate(180deg);
			bottom: 0;
			top: auto;
			z-index: 99;
		}
	}
	.box-info{
		text-align: left;
		position: absolute;
		bottom: 0;
		padding: 0 20px 20px;
		h3 a{color: #fff; margin-bottom: 16px;}
		p{color: fade(#fff,70%);}
		span{color: #999;}
	}
}
.box-grid-2{
	background: #f5f5f5;
	padding-bottom: 75px;
	margin-top: 75px;
	.title{
		margin: 55px 0;
	}
	.item-box{
		padding: 10px 10px 20px;
		box-shadow: 0 3px 3px fade(#000,5%);
		background: #fff;
	}
	.box-img{
		a,img{width: 100%;}
	}
	.box-info{
		h3{margin: 20px 0 15px;}
		text-align: left;
		ul{
			margin-top: 40px;
			li{
				padding: 0 7px;
			}
		} 
	}
}
.box-overlay{
	.box-img{
		a,img{width: 100%;}
	}
	.box-info{
		padding: 0 20px 10px;
		ul{
			margin-top: 40px;
			li{
				&:first-child{border-right: none;}
				padding: 0;
			}
		} 
	}
}
.box-overlay-2{
	.item-box{
		position: relative;
		&:before{
			&:extend(.absolute);
			width: 100%;
			background: fade(#000,40%);
		}
		img{
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}
}
.box-masonery{
	.title{margin: 40px 0;}
	.box-info{
		h3{margin: 20px 0 15px;}
		p{padding: 0 15px;}
	}
	.item-box{margin-bottom: 45px;}
	.item-box-sp{margin-bottom: 0;}
	ul{
		margin-top: 40px;
		li{
			padding: 0 7px;
		}
	} 
}
.wrap-main-post{
	margin: 50px 0;
	.box-left{
		padding-right: 30px;
		border-right: 1px solid #e5e5e5;
		.number-page{
			float: right;
			a{
				width: 30px;
				height: 30px;
				border: 1px solid #e5e5e5;
				text-align: center;
				line-height: 30px;
				margin: 0 2px;
			}
			a.active{
				border: 1px solid @main-color;
				box-shadow: 0 0 5px fade(@main-color,100%);
			}
		}
	}
	.box-right{
		.list-table.list-product>.title{padding-top: 0;}
		.list-table{
			margin-bottom: 10px;
			>.title{
				border-bottom: 2px solid #e5e5e5 !important;
				padding: 25px 0 10px;
				h3{
					font-size: 18px;
					margin-top: 0;
					.font-lato;
					font-weight: bold;
				}
			}
		}
		.list-product{
			>.title{
				border: none;
			}
			>ul{    margin-top: 15px;}
			>ul li{
				width: 100%;
				.title,ul{border: none;}
				.text{
					width: 100%;
					margin: 0;
				}
				ul{
					padding: 5px 0 0;
					margin-bottom: 0;
					span{
						float: right;
						font-size: 12px;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						border: 1px solid #e5e5e5;
						text-align: center;
						line-height: 20px;
					}
					li{
						margin-bottom: 10px;
					}
				}
				.title{
					padding: 5px 0;
					i{
						color: #43567e;
						font-size: 14px;
						font-weight: 100;
					}
					h3{
						font-family: 'Poppins', san-serif;
						font-size: 14px;
						margin: 0;
					}
				}
			} 
		}
	}
	.item-box{
		margin-bottom:30px;
	}
	.item-box.last-child{margin-bottom: 30px;}
	.box-info{
		margin:-43px 30px 0;
		background:fade(#fff,95%);
		padding: 20px;
		position: relative;
		>a{
			&:extend(.box-blog .info-box > a);
			margin: 25px 0 0;
		}
		h3{
			&:extend(.box-grid-2 .box-info h3);
			margin-top: 0;
		}
		ul{
			padding: 10px 0;
			border-bottom: 1px solid #e5e5e5;
			li{
				&:extend(.box-default-style .box-info ul li);
				span,a{color: #999;}
				&:first-child{padding: 0;}
				a:hover{color:@main-color;}
			}
		} 
		ul.time-post{
			li{
				border-right: 1px solid #e5e5e5;
				&:last-child{border-right: none;}
				&:first-child{padding-right: 10px;}
			}
		} 
	}
}
.wrap-list{margin-top: 25px;}
.wrap-latest{
	span{
		font-size: 12px;
		color: #ccc;
	}
	.box-img,.box-text{
		float: left;
	}
	.box-img{
		padding: 5px;
		border: 1px solid #e5e5e5;
		width: 45.2%;
	}
	.box-text{
		width: 54.8%;
		padding: 8px 0 0 15px;
	}
	.item-latest{
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #e5e5e5;
	}
	.item-latest.last-child{
		border-bottom: none;
	}
}
.box-comment{margin-bottom: 0 !important;}
.wrap-comment{
	.number{
		width: 18.52%;
		height: 50px;
		text-align: center;
		border: 1px solid #e5e5e5;
		padding: 8px 0;
		span{
			font-size: 12px;
			margin-top: -5px;
			display: inherit;
		}
		i{
			font-size: 18px;
			color: #ccc;
			width: 100%;
		}
	}
	.number, .box-text{float: left;}
	.box-text{
		padding:6px 0 0 20px;
		width: 81.48%;
		span{&:extend(.wrap-latest span);}
	}
	.item-comment{
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 10px;
	}
	.item-comment.last-child{
		border-bottom: none;
		margin-bottom: 0;
	}
}
.wrap-tag{
	a{
		padding:5px 10px;
		border: 1px solid #e5e5e5;
		margin: 0 6px 10px 0;
		&:hover{
			border: 1px solid @main-color;
			box-shadow: 0 0 5px fade(@main-color, 100%);
		}
	}
}
.wrap-archives{
	a{
		width: 100%;
		margin-bottom: 10px;
	}
	span{
		font-size: 12px;
		&:extend(.wrap-main-post .box-right .list-product > ul li ul span);
	}
}
.wrap-blog-grid.box-blog .wrap-blog:hover .info-box{
	margin-top: 40px;
}
.wrap-blog-grid{
	margin: 50px 0 95px;
	display: inline-block;
	.wrap-blog{
		margin:0 0 30px;
	}
	.more a{margin-top: 0;}
} 
/********************************************************************************************************
										GRIDVIEW 
********************************************************************************************************/
.wrap-gridview{
	.title{
		padding: 25px 0 8px;
		border-bottom: 1px solid #f2f2f2;
		h3{
			&:extend(.box-utilities h3);
			float: left;
			margin: 0;
		}
	}
	.box-view{
		float: right;
		>div{float: left;}
		.sortby{
			position: relative;
			&:after{
				position: absolute;
				content: '\f0d7';
				font-family: FontAwesome;
				font-size: 15px;
				right: 15px;
				top: 7px;
			}
		}
		select{
			-webkit-appearance: none;
			padding: 3.5px 38px 3.5px 15px;
			border: 1px solid #e8e8e8;
		}
	}
	.item{margin: 0 0 30px;}
	.wrap-product{
		margin:20px 0 0;
	}
	.number-page{
		float: right;
		margin-bottom: 50px;
		ul li a{&:extend(.wrap-main-post .box-left .number-page a);}
		ul li a.active{&:extend(.wrap-main-post .box-left .number-page a.active);}
	}
}
.view-way{
	margin-left: 30px;
	a{
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		border: 1px solid #e8e8e8;
		color: #999;
		background: #fafafa;
		margin: 0 -2px;
	}
	a.active{
		background: @main-color;
		color: #fff;
		border: 1px solid @main-color;
	}
}
.product-rating{
	background: url(../images/rate.png) top left repeat-x;
	display: inline-block;
	width: 85px;
	height: 13px;
}
.inner-rating {
	width: 100%;
	background: url(../images/rate.png) bottom left repeat-x;
	height: 13px;
}
.main-content-gridview{
	margin-top: 15px;
	.list-table{
		border: 1px solid #e5e5e5;
		padding: 20px;
		margin: 20px 0 0;
		.title h3{
			.font-lato;
			font-size: 18px;
			font-weight: bold;
			margin: 0 0 20px;
		}
	}
	.box-review{
		ul li{
			width: 100%;
			span{margin-left: 5px;}
		}
		.rate-4{
			.inner-rating{width: 80%;}
		}
		.rate-3{
			.inner-rating{width: 65%;}
		}
		.rate-2{
			.inner-rating{width: 45%;}
		}
		.rate-1{
			.inner-rating{width: 20%;}
		}
	}
	.box-discount{
		ul li{
			width: 100%;
			margin-bottom: 20px;
			&:last-child{margin-bottom: 0;}
		}
	}
	.banner-sidebar{
		margin-top: 20px;
	}
	.banner-blog{
		margin-top: 0;
		.box-info{
			height: 105px;
			h3{font-size: 30px;}
			.price span{font-size: 24px;}
			a{   
				margin: 15px 0 0; 
				font-size: 14px;
			}
		}
	}
}
.list-table.box-color{
	padding: 20px 0;
}
.box-color{
	.title h3{padding: 0 20px;}
	ul{margin-top: -10px;}
	ul li{
		width: 100%;
		a{
			width: 100%;
			border: 1px solid transparent;
			padding: 3px 0;
			position: relative;
			&:hover{
				border: 1px solid @main-color;
				box-shadow: 0 0 8px fade(@main-color,100%);
				i{opacity: 1;}
			}
			i{
				color: #ccc;
				margin: 0 28px 0 5px;
				opacity: 0;
			}
			&:before{
				&:extend(.absolute);
				width: 15px;
				height: 15px;
				border-radius: 100%;
				top: 6px;
				left: 22px;
			}
		}
		a.cyan{
			&:before{background: #baeaff;}
		}
		a.blue{
			&:before{background: #00aefa;}
		}
		a.pink{
			&:before{background: #ff74bc;}
		}
		a.blush{
			&:before{background: #ffcaad;}
		}
		a.eggplant{
			&:before{background: #df29ae;}
		}
		a.grey{
			&:before{background: #a7a7a7;}
		}
		a.olive{
			&:before{background: #4a5b2f;}
		}
		a.White{
			&:before{background: #fff; border: 1px solid #e5e5e5;}
		}
		a.organ{
			&:before{background: #ff560b;}
		}
		a.black{
			&:before{background: #000;}
		}
	} 
}
#slider-range{
	height: 3px;
	background: @main-color;
	border: none;
}
.ui-slider-range{
	background: #e5e5e5;
}
.box-range{
	position: relative;
	margin-top: 15px;
	.ui-slider-handle{
		width: 15px;
		height: 15px;
		border-radius: 100%;
		background: #000;
		border: none;
		&:before{
			position: absolute;
			content:"";
			width: 9px;
			height: 9px;
			background: #fff;
			border-radius: 100%;
			top: 3px;
			left: 3px;
		}
		span{display: none;}
	}
	ul{
		margin-top: 15px;
		li span{
			font-size: 12px;
			color: #999;
		}
		li:last-child{
			float: right;
		}
	} 
	a.btn-filter{
		width: 70px;
		height: 30px;
		background: #000;
		color: #fff;
		text-align: center;
		line-height: 30px;
		float: right;
		margin: 15px 23px 0 0;
		&:hover{
			background: @main-color;
		}
	}
	#amount{
		position: absolute;
		width: 130px;
		height: 30px;
		border: 1px solid #e5e5e5;
		text-align: center;
		line-height: 30px;
		top: 113px;
	}
}
/******************************************************************************************************
												LISTVIEW 
********************************************************************************************************/
.item-listview{
	border: 1px solid #f2f2f2;
	margin-bottom: 30px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
	&:hover{
		.customize{color: #333;}
	}
	.thumb-product,.info-box{
		float: left;
	}
	.thumb-product{width: 31.04%;}
	.info-box{
		width: 68.06%;
		padding: 25px 30px 0;
		p{font-size: 12px;}
	}
	.customize{
		width: 100%;
		color: #ccc;
		border-top: 1px solid #f2f2f2;
		padding: 13px 0 13px 93px;
	}
	.name-product{
		span{color: #999;}
		h3{margin: 2px 0;}
	}
	.rating-box{
		display: inline-block;
		position: relative;
		.product-rating{margin: 2px 0 0;}
		.product-rating, >a, span{
			float: left;
			color: #999;
		}
		>a{
			margin: -4px 13px 0 5px;
			float: left;
		}
		&:hover{
			.feedback-rating{
				opacity: 1;
				visibility: visible;
			}
		}
	}
	.price{
		font-size: 18px;
		.font-lato;
		color: #999;
		font-weight: bold;
		margin: 11px 30px 0 0;
		float: left;
		sup{&:extend(.item .box-cart .price sup);}
	}
	.cart{
		width: 163px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		text-transform: uppercase;
		font-weight: bold;
		background: @main-color;
		color: #fff;
		i{margin-left: 10px;}
		&:hover{background: #000;}
	}
	.box-cart{
		padding-top: 10px;
		border-top: 1px solid #f2f2f2;
		margin: 7px 0 15px;
	}
}
.feedback-rating{
	text-align: center;
	position: absolute;
    width: 250px;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    z-index: 9999;
	padding: 15px;
	border: 1px solid #e5e5e5;
    top: 25px;
	opacity: 0;
	.transition;
	visibility: hidden;
	ul li{
		width: 100%;
		>div{
			display: table-cell;
			vertical-align: middle;
			width: 100%;
		}
		span{
			color: #333 !important;
			.font-lato;
		}
	}
	.average-progress{
		width: 120px;
		height: 7px;
		background: #ddd;
	}
	.inner-average-progress{
		background: @main-color;
		height: 100%;
	}
	>a{
		font-size: 12px;
		color: #000;
		margin-top: 5px;
		&:hover{color: @main-color;}
	}
}

/*******************************************************************************************************
											PRODUCT SHOW 
********************************************************************************************************/
.zoomContainer .zoomLens{
	border:2px solid #999 !important;
}
.zoomWindowContainer .zoomWindow{
	border: 2px solid @main-color !important;
}
.banner-show{text-align: center;}
.box-breadcrumb-sp{
	border-top: 0;
}
.cate-header-sp{
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 5px;
	a{
		padding: 20px 0 10px;
	}
}
.main-detail{
	margin-top: 20px;
}
.detail-product{
	padding-left: 60px;
    position: relative;
	p{
		text-align: center;
		margin-top: 12px;
		color: #999;
	}
}
.thumb-carousel{
	&:extend(.absolute);
	width: 50px;
}
.detail-product .mid{position: relative;}
.icon-video{
	position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
	background: @main-color;
	color: #fff !important;
    border-radius: 5px;
    bottom: 50px;
    right: 20px;
	z-index: 9999;
	&:hover{
		background: #49d560;
	}
}
.carousel-detail.carousel-detail-video{height: 170px !important;}
.carousel-detail{
	height: 220px!important;
    padding-top: 50px;
	ul li{
		padding: 5px;
		width: 100% !important;
		min-height: 50px;
		&:hover{
			a{
				box-shadow: 0 0 8px fade(@main-color,100%);
				border: 1px solid @main-color;
			}
		}
	}
	a{
		margin-bottom: 5px;
		border: 1px solid transparent;
	}
}
.text-grey{
	color: #999;
}
.text-red{
	color: #bd0000;
}
.text-green{
	color: #00b709;
	display: table;
	margin-bottom: 15px;
}
.text-color{
	color: #000;
}
p.text-grey{display: inline-block;}
.name-pro{
	border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
	.rating-box{
		i{
			color: #999;
			margin: 0 10px 0 5px;
		}
	}
	>p{
		font-size: 24px;
		.font-lato;
	}
}
.price-pro{
	.sp-1{margin-left: 37px;}
	.sp-2{margin-left: 42px;}
	.sp-3{margin-left: 8px;}
}
.img-pro{
	li{
		width: 30%;
		border: 1px solid #f2f2f2;
		.transition;
		margin-right: 10px;
		padding: 5px;
		img{
			width: 36.1%;
			margin-right: 10px;
		}
		&:hover{
			border: 1px solid @main-color;
		}
	}
}
.detail-info{
	.text-box{
		margin-top: 30px;
		p{
			position: relative;
			padding-left: 15px;
		}
		i{
			font-size: 7px;
			top: 7px;
			&:extend(.absolute);
		}
	}
}
.detai-cart{
	border: 1px solid #e5e5e5;
	padding: 20px;
	select{
		width: 115px;
		height: 40px;
		padding: 10px;
		border: 1px solid #e5e5e5;
		-webkit-appearance: none;
		position: relative;
		margin-left: 5px;
	}
	.qty-box{
		position: relative;
		display: inline-block;
		&:after{
			&:extend(.select-box::after);
			content: "\f0d7";
			top: 14px;
			color: #999;
		}
	}
	.product-extra-link{
		margin-top: 20px;
		&:extend(.box-shape .info-box .product-extra-link);
		>a{
			&:extend(.box-shape .info-box .product-extra-link>a);
			width: 230px;
			height: 50px;
			&:hover{
				&:extend(.box-shape .info-box .product-extra-link>a:hover);
			}
		}
	}
	.info-cart{
		margin: 35px 0 20px;
		p{color: #999;}
		span{color: #555;}
	}
	.socical-box{
		span{color: #0266bc;}
		text-align: center;
		.fa-facebook-official{color: #3664a2;}
		.fa-twitter{color: #65add3;}
		.fa-pinterest{color: #dc1609;}
		i{margin-left: 5px;}
	}
}
.box-tab-detail{
	margin-top: 40px;
	h2{
		font-size: 14px;
		font-weight: bold;
		margin: 0;
	}
	.nav-tabs{
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		li{    margin-right: 33px;}
		li>a{
			border: none;
			border-bottom: 1px solid transparent;
			padding: 20px 0 ;
			&:hover{
				background: #fff;
			}
		}
		li.active{
			>a{
				border: none;
				border-bottom: 2px solid @main-color;
			}
		}
	}
	h3{
		font-size: 18px;
		color: #555;
	}
	.title{
		width: 100%;
		margin-bottom: 27px;
	}
	.info-item{
		margin-bottom: 18px;
	}
	.img-box,.txt-box{float: left;}
	.img-box{width: 25.6%;}
	.txt-box{
		width: 70%;
		margin-left: 30px;
	}
}
.lastest-pro-detail{
	border-top: 1px solid #f2f2f2;
	margin: 50px 0;
	.title{
		padding: 10px 0 15px;
		h3{
			font-size: 24px;
			margin: 0;
			.font-lato;
		}
	} 
	.wrap-pro{
		margin: 0 -15px;
		.owl-carousel .owl-wrapper-outer{padding-bottom: 15px;}
	}
	.item{margin: 0 15px;}
}
.carousel-detail-service{
	height: 170px!important;
}
.img-pro-service li{
	width: 13.5%;
	img{
		width: 100%;
	}
} 
.txt-delivery{
	border-bottom: 1px solid #f2f2f2;
	padding: 25px 0 3px;
	span{
		font-weight: bold;
	}
}
.check-box{
	margin: 10px 0 25px;
	span{color: #999;}
	a{
		position: relative;
		padding-left: 25px;
		&:before{
			&:extend(.absolute);
			width:12px;
			height: 12px;
			border: 1px solid #e5e5e5;
			background: #f8f8f8;
			top: 5px;
		}
		&:after{
			&:extend(.absolute);
			content:"\f00c";
			font-family: FontAwesome;
			top: 6px;
			left: 2px;
			opacity: 0;
			font-size: 9px;
		}
		&:active{
			&:after{opacity: 1;}
		}
	}
}
.size-pro{
	p{
		color: #999;
		span{color: #555; font-weight: bold;}
	}
	ul{    margin: 12px 0 20px;}
	a{
		padding: 14.5px 15.5px;
		border: 1px solid #f2f2f2;
		&:hover{border: 1px solid @main-color;}
		margin-right: 5px;
	}
}
.size-select{
	position: relative;
	margin-bottom: 20px;
	select{
		&:extend(.detai-cart select);
	}
	option{
		border: 1px solid #f2f2f2;
		padding: 15px 0;
	}
	&:after{
		&:extend(.detai-cart .qty-box:after);
		left: 130px;
	}
}
.buy-new{
	span.text{
		&:after{
			&:extend(.absolute);
			width: 6px;
			height: 6px;
			background-color: @main-color;
			border-radius: 100%;
			top: 6px;
			left: 6px;
		}
	}
}
.buy-used{
	padding: 10px 20px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
	margin: 34px -20px;
    background: #f9f9f9;
}
.buy-box{
	margin-bottom: 20px;
	span.text{
		font-weight: bold;
		position: relative;
		padding-left: 30px;
		&:before{
			&:extend(.absolute);
			width: 18px;
			height: 18px;
			border-radius: 100%;
			border: 1px solid #575757;
		}
	}
	span.price{
		color: #bd0000;
		float: right;
	}
}
.socical-box-buy{
	margin-top: 46px;
}
/********************************************************************************************************
										QUICKVIEW 
*********************************************************************************************************/
.box-quickview-pro{
	padding: 50px;
	border-bottom: 1px solid #f2f2f2;
	.price{&:extend(.box-shape .info-box .price);}
	.old-price{&:extend(.box-shape .info-box .price .old-price);}
	.new-price{&:extend(.box-shape .info-box .price .new-price);}
	p{
		&:extend(.box-shape .info-box>p);
		a{font-weight: bold;}
	}
	.product-extra-link{
		&:extend(.box-shape .info-box .product-extra-link);
		>a{
			&:extend(.box-shape .info-box .product-extra-link>a);
			i{&:extend(.box-shape .info-box .product-extra-link>a i);}
			&:hover{
				&:extend(.box-shape .info-box .product-extra-link>a:hover);
				i{color: #fff;}
			}
		}
	}
	h3{margin: 0;}
	.box-icon-sn{
		text-align: center;
		margin-top: 50px;
	}
	.owl-theme .owl-controls .owl-buttons div.owl-next{right: -15px;}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{left: -15px;}
}
.box-related{
	.title{
		text-align: center;
		.font-lato;
		margin: 40px 0 30px;
	}
	.box-img img{margin-bottom: 20px;}
}
/********************************************************************************************************
											CUSTOMIZE 
********************************************************************************************************/
.header-customize{
	padding: 20px 0;
	position: relative;
    z-index: 999;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	.box-left{
		img{width: 10.5%;}
		img,p{float: left;}
		p{    margin: 17px 0 0 12px;}
	}
	sup{
		font-size: 12px;
	}
	span.price{
		color: @main-color;
		margin-left: 5px;
	}
	span{margin-top: 10px;}
	p,span{
		.font-lato;
		font-size: 18px;
		float: left;
	}
	a.cart{
		&:extend(.box-shape .info-box .product-extra-link>a);
		width: 160px;
		height: 40px;
		line-height: 38px;
		box-shadow: none;
		font-weight: bold;
		background: @main-color;
		border: none;
		color: #fff;
		i{margin-left: 10px;}
		float: left;
	}
	.box-right{float: right;}
}
.detail-qty{
	width: 80px;
	height: 40px;
	line-height: 40px;
	float: left;
    border: 1px solid #f2f2f2;
	position: relative;
	margin: 0 10px 0 15px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	.btn-qty{
		width: 15px;
		height: 30px;
		background: #f2f2f2;
		border-radius: 5px;
		line-height: 15px;
		margin: 4px 0 0 55px;
		padding: 0 0 0 2.5px;
	}
	.qty-val{margin:0 0 0 20px;}
}
.customize-pro{
	background: #f2f2f2;
	text-align: center;
	padding: 50px 0;
	.title{margin-bottom: 45px;}
	.box-pro{
		width: 65%;
		margin: auto;
	}
	.info{
		margin: 10px 0 10px;
	}
	.box-item{
		width: 19.6%;
		display: inline-block;
		background: #fff;
		border: 1px solid transparent;
		margin-bottom: 3px;
		position: relative;
		&:hover{
			&:before{opacity: 1;}
			border: 1px solid @main-color;
		}
		&:before{
			background: rgba(255,255,255,0.9);
			&:extend(.absolute);
			z-index: 999;
			opacity: 0;
			.transition;
		}
		>a{
			position: relative;
			i{
				font-size: 30px;
				color: @main-color;
				position: absolute;
				top: 50px;
				opacity:0;
			}
			&:active{ i{opacity:1;}}
		} 
		span{
			width: 100%;
			display: table;
			.font-lato;
		}
		span.price{
			font-size: 18px;
			font-weight: bold;
			margin-top: 8px;
		}
		sup{font-size: 12px;}
	}
}