<template>
    <div style="position: relative;">
             <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.Number') }}</label>
                    <input type="text" class="form-control" :readonly="shouldDisable" v-model="newPorderData.number">
                </div>
            </div>
            <div class="clearfix"></div>
        <div class="row">
            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.branche') }}</label>
                    <select class="form-control" v-model="newPorderData.branch_id">
                        <option value="-1" disabled selected>{{ $t('admin.select_branch') }}</option>
                        <option v-for="(branch) in branches" :value="branch.id" :key="branch.id">
                            {{ syslng === 'ar' ? branch.name_ar : branch.name_en }} 
                        </option>
                    </select>						
                </div>
            </div> -->
         <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.city') }}</label>
                    <select class="form-control" v-model="newPorderData.city_id">
                        <option value="-1" disabled selected>{{ $t('admin.ccity') }}</option>
                        <option v-for="(c) in cities" :value="c.id" :key="c.id">
                            {{ syslng === 'ar' ? c.city_name_ar : c.city_name_en }} 
                        </option>
                    </select>						
                </div>
            </div>
         <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.ec') }}</label>
                    <select class="form-control" v-model="newPorderData.ec_id">
                        <option value="-1" disabled selected>{{ $t('admin.select_ec') }}</option>
                        <option v-for="(ec) in ec" :value="ec.id" :key="ec.id">
                            {{ ec.name }}
                        </option>
                    </select>						
                </div>
            </div>
   
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.ads_status') }}</label>
                    <select class="form-control" v-model="newPorderData.ads_status">
                        <option value="yes">{{ $t('admin.yes') }}</option>
                        <option value="no">{{ $t('admin.no') }}</option>
                     
                    </select>						
                </div>
            </div>
    
       
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.payment_status') }}</label>
                    <select class="form-control" v-model="newPorderData.payment_status">
                        <option value="cash">{{ $t('admin.cash') }}</option>
                        <option value="card">{{ $t('admin.card') }}</option>
                        <option value="later">{{ $t('admin.later') }}</option>

                     
                    </select>						
                </div>
            </div>
    
        <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.delivery_status') }}</label>
                    <select class="form-control" v-model="newPorderData.delivery_status">
                         <option value="yes">{{ $t('admin.yes') }}</option>
                        <option value="no">{{ $t('admin.no') }}</option>
                    </select>						
                </div>
            </div>
       
          <div class="clearfix"></div>
               <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.client_name') }}</label>
                    <input type="text" class="form-control" v-model="newPorderData.client_name">
                </div>
            </div>
               <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.mobile') }}</label>
                    <input type="text" class="form-control" v-model="newPorderData.mobile">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.event_date') }}</label>
                    <input type="date" class="form-control" v-model="newPorderData.event_date">
                </div>
            </div>
                    <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.delivery_date') }}</label>
                    <input type="datetime-local" class="form-control" v-model="newPorderData.delivery_date">
                </div>
            </div>
            <hr>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.traies') }}</label>
                    <input type="number" class="form-control" v-model="newPorderData.traies">
                </div>
            </div>
<hr>
              <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.total') }}</label>
                    <input type="number" class="form-control" v-model="newPorderData.total">
                </div>
            </div>
<hr>
              <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.paid') }}</label>
                    <input type="number" class="form-control" v-model="newPorderData.paid">
                </div>
            </div>
<hr>
               <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.insurance') }}</label>
                    <input type="number" class="form-control" v-model="newPorderData.insurance">
                </div>
            </div>
<hr>

               <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.residual') }}</label>
                    <input type="number" class="form-control" v-model="newPorderData.residual">
                </div>
            </div>
     <div class="clearfix"></div>
                <div class="col-md-9">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.cnotes') }}</label>
                   <textarea class="form-control input-lg" rows="3" v-model="newPorderData.notes"></textarea>
                </div>
            </div>

        </div>
        <hr>
        <div class="row" v-for="(trie,indexs) in pOrderTries" :key="indexs">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name" v-if="indexs == 0">{{ $t('admin.tries') }}</label>
                    <select class="form-control" v-model="trie.product_id">
                        <option value="-1" disabled selected>{{ $t('admin.Select_Item') }}</option>
                        <option v-for="(tr) in tries" :value="tr.id" :key="tr.id">
                              {{tr.code}}   {{'|'}}  {{ tr.title }} {{'|'}} {{tr.price}}
                        </option>
                    </select>						
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="indexs == 0">{{ $t('admin.Vendor_Referance') }}</label>
                    <input type="text" class="form-control" v-model="tries.vendor_reference">
                </div>
            </div>
        
            <div class="col-md-1">
                <div class="form-group">
                    <label class="upper" for="name" v-if="indexs == 0">{{ $t('admin.Qty') }}</label>
                    <input type="number" class="form-control" v-model="tries.qty"  min="1">
                </div>
            </div>
            
        
    
            <div class="col-md-1">
                <i class="glyphicon glyphicon-trash" @click="removetry(indexs)" v-if="indexs != 0"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-info" @click="addNewtry">{{ $t('admin.add_new_item') }}</button>
            </div>

        </div>
     
        <hr>
        <div class="row" v-for="(item,index) in pOrderItems" :key="index">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.products') }}</label>
                    <select class="form-control" v-model="item.product_id">
                        <option value="-1" disabled selected>{{ $t('admin.Select_Item') }}</option>
                        <option v-for="(it) in items" :value="it.id" :key="it.id">
                              {{it.code}}   {{'|'}}  {{ it.title }} {{'|'}} {{it.price}}
                        </option>
                    </select>						
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Vendor_Referance') }}</label>
                    <input type="text" class="form-control" v-model="item.vendor_reference">
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Vendor_Price') }}</label>
                    <input type="text" class="form-control" v-model="item.unit_price" @input="calcTotal">
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Qty') }}</label>
                    <input type="number" class="form-control" v-model="item.qty" @input="calcTotal" min="1">
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">Free Kilos</label>
                    <input type="number" class="form-control" v-model="item.free_kilos" @input="calcTotal">
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">Discount</label>
                    <input type="number" class="form-control" v-model="item.discount" @input="calcTotal">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Total') }}</label>
                    <input type="text" class="form-control" v-model="item.total">
                </div>
                
            </div>
            <div class="col-md-1">
                <i class="glyphicon glyphicon-trash" @click="removeItem(index)" v-if="index != 0"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-info" @click="addNewItem">{{ $t('admin.add_new_item') }}</button>
            </div>
            <div class="col-md-3 pull-left">
                <div class="form-group">
                    <label class="upper" for="name">Subtotal</label>
                    <input type="text" class="form-control" v-model="subtotal">
                </div>
            
                <div class="form-group">
                    <label class="upper" for="name">Total Discount</label>
                    <input type="text" class="form-control" v-model="discount">
                </div>
                <div class="form-group">
                    <label class="upper" for="name">Total Free Kilos</label>
                    <input type="text" class="form-control" v-model="freekilos">
                </div>
            
                <div class="form-group">
                    <label class="upper" for="name">Taxs</label>
                    <input type="text" class="form-control" v-model="taxs">
                </div>
            
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.Total') }}</label>
                    <input type="text" class="form-control" v-model="total">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-7">
                <label for="">{{ $t('admin.terms_conditions') }}</label>
                <textarea class="form-control input-lg" rows="3" v-model="newPorderData.terms"></textarea>
            </div>
        </div>
        <hr>
      
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 pull-left">
                <button class="btn btn-success" @click="savePO">{{ $t('admin.savepo') }}</button>
                <button class="btn btn-primary" @click="savePOandNew">{{ $t('admin.addandnew') }}</button>
                <button class="btn btn-danger" @click="cancel">{{ $t('admin.canceladd') }}</button>
            </div>
        </div>
        <moon-loader :loading="loading" :color="color"></moon-loader>
    </div>
</template>

<script>
import {placeNewBuyOrder} from './../../BackEnd-Calls'
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
import axios from 'axios'
    export default {
        data() {
            return {        
                newPorderData: {branch_id:this.branch,user_id:this.userId,city_id:'-1',ec_id:'-1',payment_status:'-1',ads_status:'-1',delivery_satuts:'-1'},
                pOrderItems : [{total:0,qty:0,unit_price:0}],
                pOrderTries : [{total:0,qty:0,unit_price:0}],
                subtotal:0,
                discount: 0,
                freekilos: 0,
                taxs: 0,
                // total: 0,
                loading: false,
                color: '#2c343c',
            }
        },
       
        props: {
            syslng : String,
            branches : Array,
            ec : Array,
            cities : Array,
            items : Array,
            tries : Array,
            userId: Number,
            branch: Number,
            lastnumber: Number
        },
        components: {
            'MoonLoader':MoonLoader,
            
        },
        watch:{
            'pOrderItems': function(oldval,newval){
                this.calcTotal()
            },
             'pOrderTries': function(oldval,newval){
                this.calcTotaltries()
            },
         
        },
        mounted(){
            this.genNumber()
            this.getUserId()    
        },
        methods:{
             getUserId(){
             this.newPorderData.user_id = userId
            },
            genNumber(){
                this.newPorderData.number = 'BO-'+parseInt('100'+this.lastnumber) 
            },
            addNewItem(){
                this.pOrderItems.push({total:0,qty:0,unit_price:0})
                

            },
             addNewtry(){
               
                 this.pOrderTries.push({total:0,qty:0,unit_price:0})
            },
            removeItem(index){
                this.pOrderItems.splice(index,1)
        
            },
             removetry(indexs){
                this.pOrderTries.splice(indexs,1)
        
            },
            calcTotal(){
                this.subtotal = 0
                this.freekilos = 0
                this.discount = 0
                this.pOrderItems.forEach(element => {
                    element.total = (element.unit_price * element.qty )
                    this.subtotal += element.total ? element.total : 0
                    this.freekilos += element.free_kilos ? parseFloat(element.free_kilos) : 0
                    this.discount =  (element.discount*element.unit_price)/100 
                });
           

                this.total = parseFloat(this.subtotal-this.discount);
                this.taxs = parseFloat((this.total*5)/100)
                this.total = parseFloat(this.total + this.taxs)
            },
            calcTotaltries(){
                this.subtotal = 0
                this.freekilos = 0
                this.discount = 0
                this.pOrderTries.forEach(element => {
                    element.total = element.qty 
                    // this.subtotal += element.total ? element.total : 0
                    // this.freekilos += element.free_kilos ? parseFloat(element.free_kilos) : 0
                    // this.discount =  (element.discount*element.unit_price)/100 
                });
           

                // this.total = ''
                // this.taxs = ''
                // this.total = ''
            },
            
            savePO(){
                this.calcTotal()
                this.calcTotaltries();
                this.loading = true
               
                // this.newPorderData.total = this.total
                return axios.post('create',{poData:this.newPorderData,items:this.pOrderItems,tries:this.pOrderTries}).then(response => {
                    this.loading = false
                    this.playSound('http://soundbible.com/mp3/Air Plane Ding-SoundBible.com-496729130.mp3')
                    this.succesnotification('Purchase order added')
                   
                    return response.data
                })
                .catch(error => {
                    console.log(error)
                    this.errornotification('Error Ocured')
                    this.loading = false
                })
            },
            savePOandNew(){
                let neworder = this.savePO();
                this.newPorderData = {user_id:this.userId,branch_id:'-1',city_id:'-1',ec_id:'-1',payment_status:'-1',ads_status:'-1',delivery_satuts:'-1'}
                this.pOrderItems =  [{total:0,qty:0,unit_price:0}]
                this.pOrderTries =  [{qty:0}]

                // this.total = 0
                this.newPorderData.number = 'BO-'+parseInt('100'+this.lastnumber+'1') 

            },
            cancel(){

            },
            playSound (sound) {
                if(sound) {
                    var audio = new Audio(sound);
                    audio.play();
                }
            },
            succesnotification(message) {
                this.$snotify.success(message, {
                    timeout: 2000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
            },
            errornotification(message) {
                this.$snotify.error(message, {
                    timeout: 8000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
        
        },
    
    }

    }
</script>

<style scoped>
.v-spinner {
    padding: 0px;
    position: absolute;
    top: 0;
    background: #00000026;
    width: 100%;
    height: 100%; 
}
.notice {
    cursor: pointer;
}
</style>