/*********************
**   RTL Websites   **
*********************/

$dir: rtl;
$reverse_dir: ltr;

$start_dir: right;
$end_dir: left;

$transform_dir: -1;

* {
    letter-spacing: normal !important;
    text-transform: none !important;
}

body {
    font-family: 'flat-jooza', sans-serif;
    font-size: 15px;
    line-height: 1.3;
}
.container {
    font-family: 'flat-jooza',
    sans-serif;
    font-size: 15px;
    line-height: 1.3;
}


header {
    .overlay {
        nav {
            .logo {
                font-family: 'yassin', sans-serif !important;
            }
        }
    }
}

p {
    line-height: 1.6;
}

/*------------------------------------------------------------------------------------------*/
/* Magnific Popup Plugin */
/*------------------------------------------------------------------------------------------*/
.mfp-content {
    text-align: right
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    left: -6px;
    right: auto;
    text-align: left;
    padding-left: 6px;
    padding-right: 0
}

.mfp-title {
    text-align: right;
    padding-left: 36px;
    padding-right: 0
}

.mfp-counter {
    left: 0;
    right: auto;
    direction: ltr
}