/*********************
**   LTR Websites   **
*********************/

$dir: ltr !global;
$reverse_dir: rtl;

$start_dir: left;
$end_dir: right;

$transform_dir: 1;

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

p {
    line-height: 1.6;
}