/* main color */
@main-color: #ffcb66;
.color{
	color: @main-color;
}
a:hover,a:focus{
	color: @main-color;
}
.bg-color{
	background: @main-color !important;
}
.top-header .mini-cart-box{
	sup{color: @main-color;}
}
.mini-cart-content{
	.mini-cart-button{
		a{
			&:hover{
				background: @main-color;
				border: 1px solid @main-color;
			}
		}
	}
}
.box-info-slide{
	h2{
		color: @main-color;
	}
}
.box-product{
	.title{
		a.filter{
			i{color: @main-color; margin-right: 7px;}
		}
	}
}
.box-product .nav-tabs>li:before{
	background: @main-color;
}
.item{
	&:hover{
		.price{
			background:@main-color;
		}
	}
}
.box-services{
	.call{
		i,h3 a{color: @main-color;}
	}
}
.box-blog{
	.info-box ul li a{
		&:hover{color: @main-color;}
	}
	.owl-theme .owl-controls .owl-buttons div{
		&:hover{background: @main-color;}
	}
}
.bottom-footer ul a{
	&:hover{color: @main-color;}
}
.drop-list>.title{
	border-bottom: 1px solid @main-color;
}
.box-slider-2 .product-extra-link a{
	&:hover{
		background: @main-color;
		border-color: @main-color;
	}
}
.box-slider-2 .owl-theme .owl-controls .owl-page.active span{
	background: @main-color;
}
.box-product-2 .nav-tabs li.active a{
	background: @main-color;
}
.box-product-2 .filter i{
	color: @main-color;
}
.box-product-2 .number-page a{
	&:hover{background: @main-color;}
}
.box-product-2 .number-page a.active{
	background: @main-color;
}
.box-banner .box-text a{
	&:hover{color: @main-color;}
}
.box-product-slide .box-right .owl-theme .owl-controls .owl-buttons div{
	&:hover{background: @main-color};
}
.top-footer-3, .info-footer-3 {
	a{
		&:hover{color: @main-color;}
	}
}
.info-footer-3 ul.address li i{
	color: @main-color;
}
.top-header-4 .main-nav > ul > li > a{
	&:hover{color: @main-color;}
}
.box-banner-parallax .box-info-banner a{
	&:hover{background: @main-color;}
}
.top-header-5 .main-nav > ul > li > a{
	&:hover{color: @main-color;}
}
.box-update-product .owl-theme .owl-controls .owl-buttons div{
	&:hover{background: @main-color;}
}
.box-choice .title span.choice{
	color: @main-color;
}
.box-slider-06 .owl-theme .owl-controls .owl-buttons div{
	&:hover{background: @main-color;}
}
.box-slider-06 .owl-theme .owl-controls .owl-page.active span{
	background: @main-color;
}
.box-tag-08 ul li a{
	&:hover{color: @main-color;}
}
.box-product-parallax .info-box h3 a{
	&:hover{color: @main-color;}
}
.box-lastest-product .owl-theme .owl-controls .owl-buttons div{
	&:hover{background: @main-color;}
}
.phone-number-10{
	a{border: 1px solid @main-color;}
	i{color: @main-color;}
}
.bottom-header .box-right sup{
	color: @main-color;
}
.box-product-home10 .nav-tabs > li.active{
	border-bottom: 1px solid @main-color;
}
.banner-sidebar .box-info>a{
	background: @main-color;
}
.box-breadcrumb a{
	&:hover{color: @main-color;}
}
.box-default-style .box-info ul li a{
	&:hover{color: @main-color;}
}
.box-default-style .owl-theme .owl-controls .owl-buttons div{
	&:hover{background: @main-color;}
}
.wrap-main-post .box-left a.active{
	border: 1px solid @main-color;
	box-shadow: 0 0 5px fade(@main-color,100%);
}
.wrap-main-post .box-info ul li a:hover{
	color:@main-color;
}
.wrap-latest h3 a{
	&:hover{color: @main-color;}
}
.wrap-comment h3 a{
	&:hover{color: @main-color;}
}
.wrap-tag a:hover{
	border: 1px solid @main-color;
	box-shadow: 0 0 5px fade(@main-color, 100%);
}
.view-way a.active{
	background: @main-color;
	border: 1px solid @main-color;
}
.box-color ul li a{
	&:hover{
		border: 1px solid @main-color;
		box-shadow: 0 0 8px fade(@main-color,100%);
	}
}
#slider-range{
	background: @main-color;
}
.box-range a.btn-filter{
	&:hover{background: @main-color;}
}
.item-listview .cart{
	background: @main-color;
}
.feedback-rating{
	.inner-average-progress{background: @main-color;}
	>a{&:hover{color: @main-color;}}
}
.zoomWindowContainer .zoomWindow{
	border: 2px solid @main-color !important;
}
.icon-video{
	background: @main-color;
}

.img-pro li:hover{
	border: 1px solid @main-color;
}
.box-tab-detail .nav-tabs li.active>a{
	border-bottom: 2px solid @main-color;
}
.size-pro a{
	&:hover{border: 1px solid @main-color;}
}
.buy-new span.text{
	&:after{background-color: @main-color;}
}
.header-customize span.price{
	color: @main-color;
}
.header-customize a.cart{
	background: @main-color;
}
.customize-pro .box-item:hover{
	border: 1px solid @main-color;
}
.customize-pro .box-item>a i{
	color: @main-color;
}
.owl-theme .owl-controls .owl-buttons div{
	background: @main-color;
}
.owl-theme .owl-controls .owl-page span{
	background:@main-color;
}
.main-nav > ul > li > a{
	&:hover{ color: @main-color;}
}
.main-nav > ul > li .sub-menu > li > a{
	&:hover{background: @main-color; color: #fff;}
}
.box-shape .info-box .product-extra-link>a:hover{
	background: @main-color;
	border: 1px solid @main-color;
}
.detai-cart .product-extra-link a:hover{
	background: @main-color;
}
.item:hover .box-cart .price{
	background: @main-color;
}
.blockquote{
	border: 1px solid @main-color;
	&:after{
		background: @main-color;
	}
}
.client-info .title14 a{
	color: @main-color;
}
.contact-form input[type="submit"]{
	background: @main-color;
}
.contact-accordion .item-toggle-tab.active .toggle-tab-title, .contact-accordion .toggle-tab-title::after, .window-popup .close-popup {
    color: @main-color;
}
.carousel-detail ul li.active>a,
.carousel-detail ul li:hover a{
	box-shadow: 0 0 8px @main-color !important;
    border: 1px solid @main-color !important;
}
.review-form > div > input[type="submit"]:hover{
	background: @main-color;
}
.header-customize a.cart{
	background: @main-color;
}
.box-quickview-pro .product-extra-link>a:hover{
	background: @main-color;
}
.form-coming input[type=submit],.coming-social a:hover{
	background-color: @main-color;
}
.form-my-account input[type=submit]:hover{
	background-color: @main-color;
}
.coming-countdown>.time_circles>div::before{
	border: 10px solid @main-color; 
}
.coming-countdown > .time_circles > div > .number::after{
	background: @main-color;
}