/*----------------------------------
Project: smartbuy
Version: 1.1
Last change: 
Author:	7UP Theme
Author URI: https://7uptheme.com/
1.HOME 01
2.HOME 02
3.HOME 03
4.HOME 04
5.HOME 05
6.HOME 06
7.HOME 07
8.HOME 08
9.HOME 09
10.HOME 10
11.BLOG FEATURED 
12.GRIDVIEW 
13.LISTVIEW 
14.PRODUCT SHOW 
15.QUICKVIEW 
16.CUSTOMIZE 
-----------------------------------*/
/* General */
body {
    color: #333;
    font-family:'Poppins', sans-serif;
    font-size: 14px;
    line-height: inherit;
    margin: 0;
    padding: 0;
	font-weight:400;
}
.wrap{
	overflow:hidden;
	position:relative;
}
*{	
	box-sizing:border-box;
	outline:none;
}
img{
	max-width:100%;
	.transition;
}
ins{text-decoration: none;}
a{
	color:#333;
	.transition;
	display: inline-block;
}
a:hover,a:focus{
	text-decoration:none;
	outline:none;
}
.container {
    max-width: 1200px;
	position:relative;
    width: 100%;
}
input,input:focus,input:hover{
	outline:none;
}
/*Begin Class*/
.after-title{
	.absolute;
	border-bottom: 2px solid #e5e5e5;
	width: 50px;
}
.hidden-canvas canvas{ display: none;}
.hover-ef{
	&:before{
		top:50%;
		bottom: 50%;
		background-color: rgba(255,255,255,0.3);
	}
	&:after{
		right:50%;
		left: 50%;
		background-color: rgba(255,255,255,0.3);
	}
}
.border{
	border:1px solid #e5e5e5;
}
.border-left{
	border-left:1px solid #e5e5e5;
}
.border-right{
	border-right:1px solid #e5e5e5;
}
.border-top{
	border-top:1px solid #e5e5e5;
}
.border-bottom{
	border-bottom:1px solid #e5e5e5;
}
.transition{
	transition:all 0.3s ease-out 0s;
	-webkit-transition:all 0.3s ease-out 0s;
}
.drop-shadow{
	box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);
}
.round{
	border-radius:50%;
}
.desc {
    color: #555;
    margin: 0;
	line-height:24px;
}
.white{
	color:#fff;
}
.black{
	color:#333;
}
.bg-white{
	background:#fff;
}
.bg-gray{
	background: #fafafa;
}
.list-none{
	list-style:none;
	margin:0;
	padding:0;
}
.list-inline-block{
	margin:0;
	padding:0;
	list-style:none;
}
.list-inline-block>li{
	display:inline-block;
}
.font-lato{
	font-family: 'Lato', sans-serif;
}
.font-greatvibes{
	font-family: 'Great Vibes', cursive;
}
.absolute{
	position:absolute;
	content: '';
	top:0;
	left:0;
	bottom:0;
	right:0;
}
.inline-block{
	display:inline-block;
}
div.table{
	display:table;
	margin:0;
	width:100%;
}
div.table>div{
	display:table-cell;
	vertical-align:top;
}
.effect-img{
	transform: scale(1.2)  rotate(5deg) ;
	-webkit-transform: scale(1.2)  rotate(5deg) ;
	-moz-transform: scale(1.2)  rotate(5deg) ;
}
.has-bottom{
	&:hover{border-bottom-color: transparent !important;}
}
.title14{
	font-weight:700;
	margin:0;
	font-size:14px;
	text-transform:uppercase;
}
.title12{
	&:extend(.title14);
	font-size:12px;
}
.title16{
	&:extend(.title14);
	font-size:16px;
}
.title18{
	&:extend(.title14);
	font-size:18px;
}
.title24{
	&:extend(.title14);
	font-size:24px;
}
.title30{
	&:extend(.title14);
	font-size:30px;
} 
.title40{
	&:extend(.title14);
	font-size:40px;
} 
.title48{
	&:extend(.title14);
	font-size:48px;
} 
.title60{
	&:extend(.title14);
	font-size:60px;
}
/*End Class*/
/*Begin Owl Carousel*/
.wrap-item > div:not(:first-child){
    display: none;
}
.owl-theme .owl-controls{
	margin:0;
}
.owl-theme .owl-controls .owl-buttons div{
	width: 40px; height: 40px;
	top: 0;
    bottom: 0;
    margin: auto;
	opacity:0;
	padding:0;
	z-index:9;
	position:absolute;
	text-align:center;
	.transition;
	.round;
}
.banner-slider{
	position:relative;
	overflow:hidden;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div{
	width:50px;
	height:50px;
	margin-top:-25px;
	border:none;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div::after {
    font-family: fontAwesome;
    font-size: 30px;
    height: 100%;
    left: 0;
    line-height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-prev::after{
	content:"\f104";
}
.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-next::after{
	content:"\f105";
}
.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-prev{
	left:-50px;
}
.banner-slider .owl-theme:hover .owl-controls .owl-buttons div.owl-prev{
	left:10px;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div.owl-next{
	right:-50px;
}
.banner-slider .owl-theme:hover .owl-controls .owl-buttons div.owl-next{
	right:10px;
}
.banner-slider .owl-theme .owl-controls .owl-buttons div i{
	display:none;
}
.owl-theme.show-navi .owl-controls .owl-buttons div{
	opacity:1;
}
.owl-theme .owl-controls .owl-buttons div:hover{
	color:#fff;
}
.owl-theme:hover >.owl-controls >.owl-buttons >div{
	opacity:1;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev{
	left:0;
}
.owl-theme .owl-controls .owl-buttons div.owl-next{
	right:0;
}
.owl-theme .owl-controls .owl-buttons div i{
	display:block;
	line-height:40px;
	color: #fff;
}
.owl-theme .owl-controls .owl-page {
    vertical-align: middle;
}
.owl-theme .owl-controls .owl-page span{
	margin:0 5px;
	width:10px;
	height:10px;
	border-radius:50%;
	opacity:1;
	position:relative;
	z-index: 9;
	.transition;
}
.owl-theme .owl-controls .owl-page.active span{
	background: #000;
}
.banner-slider.bg-slider .item-slider {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.banner-slider .item-slider {
    position: relative;
}
.banner-slider.bg-slider .banner-thumb img {
    max-width: none;
    opacity: 0;
    width: auto;
}
.group-navi .owl-buttons {
    position: absolute;
    right: 15px;
    top: -45px;
    width: 61px;
}
.banner-slider .banner-thumb img {
    width: 100%;
}
.banner-slider .banner-info {
    height: 200px;
}
.banner-info {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
	z-index:9;
}
.banner-info-image {
    position: absolute;
    right: 0;
    top: 0;
}
.banner-info-text {
	top:50%;
	height:200px;
	margin:-100px 0 0;
	z-index:9;
	left:0;
	position:absolute;
}
/*End Owl Carousel*/
/*Begin Slider Effect*/
.time-delay1{
	transition-delay:0.5s;
	-webkit-transition-delay:0.5s; 
}
.time-delay2{
	transition-delay:0.8s;
	-webkit-transition-delay:0.8s; 
}
.time-delay3{
	transition-delay:1.1s;
	-webkit-transition-delay:1.1s; 
}
.time-delay4{
	transition-delay:1.4s;
	-webkit-transition-delay:1.4s; 	
}
.top-to-bottom{
	transform:translateY(-500px);
	-webkit-transform:translateY(-500px);
	transition-property:all;
	transition-timing-function:ease-out;
	transition-duration:0.5s;
	-webkit-transition-property:all;
	-webkit-transition-timing-function:ease-out;
	-webkit-transition-duration:0.5s;
	opacity:0;
}
.owl-item.active .top-to-bottom{
	transform:translateY(0);
	-webkit-transform:translateY(0);
	opacity:1;
}
.bottom-to-top{
	transform:translateY(500px);
	-webkit-transform:translateY(500px);
	transition-property:all;
	transition-timing-function:ease-out;
	transition-duration:0.5s;
	-webkit-transition-property:all;
	-webkit-transition-timing-function:ease-out;
	-webkit-transition-duration:0.5s;
	opacity:0;
}
.owl-item.active .bottom-to-top{
	transform:translateY(0);
	-webkit-transform:translateY(0);
	opacity:1;
}
.right-to-left{
	transform:translateX(500px);
	-webkit-transform:translateX(500px);
	transition-property:all;
	transition-timing-function:ease-out;
	transition-duration:0.5s;
	-webkit-transition-property:all;
	-webkit-transition-timing-function:ease-out;
	-webkit-transition-duration:0.5s;
	opacity:0;
}
.owl-item.active .right-to-left{
	transform:translateX(0);
	-webkit-transform:translateX(0);
	opacity:1;
}
.left-to-right{
	transform:translateX(-500px);
	-webkit-transform:translateX(-500px);
	transition-property:all;
	transition-timing-function:ease-out;
	transition-duration:0.5s;
	-webkit-transition-property:all;
	-webkit-transition-timing-function:ease-out;
	-webkit-transition-duration:0.5s;
	opacity:0;
}
.owl-item.active .left-to-right{
	transform:translateX(0);
	-webkit-transform:translateX(0);
	opacity:1;
}
/*End Slider Effect*/
/*Begin Custom Scroll*/
.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown{
	display:none;
}
.mCSB_container {
    margin-right: 0;
}
.mCustomScrollBox > .mCSB_scrollTools {
    width: 4px;
}
/*End Custom Scroll*/
/*Begin Line White*/
.line-white{
	position:relative;
}
.line-white::after{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	width:2px;
	content:"";
	background:#fff;
}
/*End Line White*/
/*Begin Box Hover Dir*/
.box-hover-dir {
    overflow: hidden;
    position: relative;
}
.box-hover-dir>div{
	height: 100%;
    position: absolute;
    width: 100%;
	transition:all 0.5s ease-out 0s!important;
	-webkit-transition:all 0.5s ease-out 0s!important;
}
/*End Box Hover Dir*/
/*Begin Banner Adv*/
.banner-adv {
    position: relative;
}
.adv-thumb-link {
    display: block;
    overflow: hidden;
    position: relative;
}
.adv-thumb-link > img {
    display: block;
    width: 100%;
	.transition;
}
/*Zoom Rotate*/
.zoom-rotate .adv-thumb-link > img {
	transform:scale(1) rotate(0);
	-webkit-transform:scale(1) rotate(0);
}
.zoom-rotate:hover .adv-thumb-link > img {
	transform:scale(1.15) rotate(4deg);
	-webkit-transform:scale(1.15) rotate(4deg);
}
/*Zoom Image*/
.zoom-image:hover .adv-thumb-link > img {
	transform:scale(1.15);
	-webkit-transform:scale(1.15);
}
/*Fade Out In*/
.fade-out-in .adv-thumb-link::before{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	content:"";
	background:rgba(0,0,0,0.1);
	opacity:0;
	z-index:1;
	.transition;
}
.fade-out-in .adv-thumb-link::after{
	&:extend(.fade-out-in .adv-thumb-link::before);
}
.fade-out-in:hover .adv-thumb-link::before{
	opacity:1;
	top:50%;
	bottom:50%;
}
.fade-out-in:hover .adv-thumb-link::after{
	opacity:1;
	left:50%;
	right:50%;
}
/*Fade In Out*/
.fade-in-out .adv-thumb-link::before{
	&:extend(.fade-out-in .adv-thumb-link::before);
	opacity:1;
	top:50%;
	bottom:50%;
}
.fade-in-out .adv-thumb-link::after{
	&:extend(.fade-out-in .adv-thumb-link::before);
	opacity:1;
	left:50%;
	right:50%;
}
.fade-in-out:hover .adv-thumb-link::before{
	opacity:0;
	top:0;
	bottom:0;
}
.fade-in-out:hover .adv-thumb-link::after{
	opacity:0;
	left:0;
	right:0;
}
/*Overlay Image*/
.overlay-image .adv-thumb-link::after{
	&:extend(.fade-out-in .adv-thumb-link::before);
	background:rgba(0,0,0,0.3);
}
.overlay-image:hover .adv-thumb-link::after{
	opacity:1;
}
/*Blue Image*/
.blur-image:hover .adv-thumb-link img{
	filter:blur(5px);
	-webkit-filter:blur(5px);
}
/*Zoom Out*/
.zoom-out .adv-thumb-link img:last-child{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	visibility:hiden;
	transform:scale(3);
	-webkit-transform:scale(3);
}
.zoom-out:hover .adv-thumb-link img{
	opacity:1;
	visibility:visible;
	transform:scale(1);
	-webkit-transform:scale(1);
}
/*Line Scale*/
.line-scale .adv-thumb-link::before{
	position:absolute;
	top:20px;
	bottom:20px;
	left:10px;
	right:10px;
	content:"";
	border-top:1px solid fade(#fff,90%);
	border-bottom:1px solid fade(#fff,90%);
	z-index:1;
	transform:scaleX(0);
	-webkit-transform:scaleX(0);
	.transition;
}
.line-scale .adv-thumb-link::after{
	position:absolute;
	top:10px;
	bottom:10px;
	left:20px;
	right:20px;
	content:"";
	border-left:1px solid fade(#fff,90%);
	border-right:1px solid fade(#fff,90%);
	z-index:1;
	transform:scaleY(0);
	-webkit-transform:scaleY(0);
	.transition;
}
.line-scale:hover .adv-thumb-link::before,
.line-scale:hover .adv-thumb-link::after{
	transform:scale(1);
	-webkit-transform:scale(1);
}
/*End Banner Adv*/
/*******************************************************************************************************
										Preview	Menu				
********************************************************************************************************/
.main-nav > ul > li .sub-menu > li.menu-item-preview {
    position: relative;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    left: 100%;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 200px;
	opacity:0;
	visibility:hidden;
	margin-top:30px;
	.border;
	.transition;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview:hover > .preview-image {
	opacity:1;
	visibility:visible;
	margin-top:0;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image > a {
    display: block;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image > a > img {
    left: 0;
    position: absolute;
    top: 0;
    transition: all 5s ease-in-out 0s;
    -webkit-transition: all 5s ease-in-out 0s;
    width: 100%;
}
.main-nav > ul > li .sub-menu > li.menu-item-preview > .preview-image > a:hover > img {
    top: 100%;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children > .sub-menu.offset-right {
    left: auto;
    right: 100%
}
.main-nav .sub-menu.offset-right {
    left: auto;
    right: 0;
}
/*Begin Header On Top*/
.header-ontop {
	.transition;
}
.header-ontop.fixed-ontop {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    visibility: visible;
    width: 100%;
    z-index: 999!important;
	padding:15px 0;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed!important;
    top: 0;
}
/*End Header On Top*/
/*Begin Main Nav*/
.main-nav {
    position: relative;
	z-index:100;
	margin: 10px 0 0 -15px;
}
.main-nav > ul {
    font-size: 0;
    list-style: outside none none;
    padding: 0;
	margin:0;
    position: relative;
}
.main-nav > ul > li {
    display: inline-block;
    font-size: 14px;
}
.main-nav > ul > li > a {
    display: block;
    position: relative;
	font-size:14px;
	text-transform: capitalize;
	color: #000;
	font-weight: 500;
	margin: 0 12px;
	font-family: Poppins, sans-serif;
}
.main-nav li.menu-item-has-children{
	position:relative;
}
.main-nav li.menu-item-has-children:hover > .sub-menu {
    margin:0;
    opacity: 1;
    visibility: visible;
}
.main-nav li.has-mega-menu:hover > .mega-menu {
    margin:0;
    opacity: 1;
    visibility: visible;
}
.main-nav .sub-menu {
    background: #fff none repeat scroll 0 0;
	box-shadow:0 5px 5px 0 rgba(0,0,0,0.1);
    left: 0;
    list-style: outside none none;
    margin: 30px 0 0;
	padding: 15px 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 200px;
    z-index: 999;
	text-align:left;
	.transition;
}
.main-nav > ul > li .sub-menu > li {
	width: 100%;
}
.main-nav > ul > li .sub-menu > li > a {
    display: block;
    padding: 10px 20px;
    position: relative;
    text-transform: capitalize;
}
.main-nav > ul > li .sub-menu > li.menu-item-has-children > a {
    padding-right: 10px;
    position: relative;
}
.main-nav > ul > li .sub-menu > li.menu-item-has-children > a::after {
    content: "";
    font-family: "fontAwesome";
    position: absolute;
    right: 0;
    top: 11px;
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children > .sub-menu {
    left: 100%;
    top: 0;
}
.mega-menu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    left: 0;
    margin-top: 30px;
    opacity: 0;
    padding: 30px;
	text-align: left;
    position: absolute;
    top: 100%;
    visibility: hidden;
    width: 1000px;
    z-index: 99999999;
	.transition;
}
.main-nav > ul > li.has-mega-menu:hover .mega-menu {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
/*End Main Nav*/
/*Begin Toggle Mobile Menu*/
.main-nav .toggle-mobile-menu {
    display: none;
    height: 30px;
    width: 30px;
	position:relative;
	.transition;
}
.main-nav .toggle-mobile-menu span{
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    top: 50%;
	background:#fff;
}
.main-nav .toggle-mobile-menu::before, 
.main-nav .toggle-mobile-menu::after {
    content: '';
    position: absolute;
    top: 0;
    height: 4px;
    width: 100%;
    left: 0;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
	background:#fff;
}
.main-nav .toggle-mobile-menu::before {
    -webkit-transform: translate3d(0,-10px,0);
    transform: translate3d(0,-10px,0);
}
.main-nav .toggle-mobile-menu::after {
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}
.main-nav.active .toggle-mobile-menu::before {
    -webkit-transform: rotate3d(0,0,1,45deg);
    transform: rotate3d(0,0,1,45deg);
}
.main-nav.active .toggle-mobile-menu::after {
    -webkit-transform: rotate3d(0,0,1,-45deg);
    transform: rotate3d(0,0,1,-45deg);
}
.main-nav.active .toggle-mobile-menu span{
	display:none;
}
/*End Toggle Mobile Menu*/
/*Begin Menu Responsive*/
@media (max-width: 767px){
.main-nav .menu-item-has-children .sub-menu li > a {
    border-bottom: none;
}
.mega-menu{
	display:none;
}
.main-nav .sub-menu {
    background: #fff none repeat scroll 0 0;
    box-shadow: none;
    display: none;
    margin: 0!important;
    opacity: 1!important;
    visibility: visible!important;
	position:static!important;
	box-shadow:0 3px 3px 0 rgba(0, 0, 0, 0.1)!important;
}
.main-nav > ul > li > a::before{
	display:none!important;
}	
.main-nav {
    position: relative;
	z-index:9999;
	margin:0;
}
.main-nav > ul {
    position: absolute;
    left: 0;
    top: 100%;
    width: 290px;
    z-index: 999;
    background: #fff;
    box-shadow:0 5px 5px 0 rgba(0, 0, 0, 0.1);
	transition:all 0.5s ease-out 0s;
	-webkit-transition:all 0.5s ease-out 0s;
	transform:translateX(-320px);
	-webkit-transform:translateX(-320px);
}
.main-nav.active > ul{
	transform:translateX(0)!important;
	-webkit-transform:translateX(0)!important;
}
.main-nav .sub-menu li a::before{
	display:none;
}
.main-nav > ul li > a {
    border-top: 1px solid #e5e5e5;
    display: block;
    font-size: 14px;
    font-weight: 400;
    height: 40px !important;
    line-height: 40px !important;
	padding:0!important;
	width: 100%;
}
.main-nav > ul  li:first-child > a {
    border: medium none;
}
.main-nav .sub-menu > li {
    padding: 0px 15px!important;
}
.main-nav > ul li.menu-item-has-children .menu-item-has-children > a::after {
    right: 0;
    top: 0;
}
.main-nav > ul > li.menu-item-has-children > a::after {
    position: absolute;
    right: 0!important;
    top: 0;
    content: "\f107";
    font-family: fontawesome;
}
.main-nav > ul > li .sub-menu::after {
    display: none;
}
.main-nav > ul > li .sub-menu {
    display: none;
    width: 100%;
	box-shadow:0 3px 3px 0 rgba(0, 0, 0, 0.1);
	padding:0;
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children>.sub-menu{
	left:0;
	top:100%;
	padding:0;
}
.main-nav > ul > li.menu-item-has-children li.menu-item-has-children > a::after {
    content: "";
    font-family: fontawesome;
    position: absolute;
    right: 0;
    top: 0;
}
.main-nav > ul > li.has-mega-menu > a::after{
	display:none!important;
}
.menu-item-preview .preview-image{
	display:none;
}
}
/*End Menu Responsive*/
/*Begin Rating*/
.product-rate {
    background-image: url("../images/icons/rate-star.png");
    background-position: 0 -13px;
    background-repeat: repeat-x;
    height: 13px;
    margin-top: 5px;
    transition: all 0.5s ease-out 0s;
    width: 95px;
}
.product-rating {
    background-image: url("../images/icons/rate-star.png");
    background-position: 0 0;
    background-repeat: repeat-x;
    height: 13px;
}
/*End Rating*/
/*Buttun Scoll*/
body .scroll-top {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 10px;
    color: #fff;
    display: block;
    height: 40px;
    line-height: 40px;
    position: fixed;
    right: -50px;
    text-align: center;
    width: 40px;
	opacity:0;
}
.scroll-top.active{
	opacity:1;
	right: 10px;
}
/*Begin Product*/
.product-thumb {
    position: relative;
	overflow:hidden;
}
/*Overlay Product*/
.product-thumb-link{
	display:block;
	position:relative;
	overflow:hidden;
}
.product-thumb-link img{
	width:100%;
	.transition;
}
.product-thumb-link::before{
	content:"";
	background:rgba(255,255,255,0.5);
	opacity:0;
	z-index:1;
	transform:scale(0) rotate(360deg);
	-webkit-transform:scale(0) rotate(360deg);
	.absolute;
	.transition;
}
.product-thumb:hover .product-thumb-link::before{
	opacity:1;
	transform:scale(1) rotate(0);
	-webkit-transform:scale(1) rotate(0);
}
/*Zoom Out*/
.zoom-out .adv-thumb-link img:last-child{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	visibility:hidden;
	transform:scale(3);
	-webkit-transform:scale(3);
}
.zoom-out:hover .adv-thumb-link img{
	opacity:1;
	visibility:visible;
	transform:scale(1);
	-webkit-transform:scale(1);
}
/*Zoom Product*/
.product-thumb:hover .zoom-thumb img{
	transform:scale(1.15);
	-webkit-transform:scale(1.15);
}
/*Zoomout Product*/
.zoomout-thumb img:last-child{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transform:scale(3);
	-webkit-transform:scale(3);
}
.product-thumb:hover .zoomout-thumb img:last-child{
	transform:scale(1);
	-webkit-transform:scale(1);
	opacity:1;
}
/*Rotate Product*/
.rotate-thumb img:last-child{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transform:rotateY(90deg);
	-webkit-transform:rotateY(90deg);
}
.product-thumb:hover .rotate-thumb img:last-child{
	transform:rotateY(0);
	-webkit-transform:rotateY(0);
	opacity:1;
}
.product-thumb:hover .rotate-thumb img:first-child{
	transform:rotateY(-90deg);
	-webkit-transform:rotateY(-90deg);
	opacity:0;
}
/*Line Scale*/
.line-scale .adv-thumb-link::before{
	position:absolute;
	top:20px;
	bottom:20px;
	left:10px;
	right:10px;
	content:"";
	border-top:1px solid fade(#fff,90%);
	border-bottom:1px solid fade(#fff,90%);
	z-index:1;
	transform:scaleX(0);
	-webkit-transform:scaleX(0);
	.transition;
}
.line-scale .adv-thumb-link::after{
	position:absolute;
	top:10px;
	bottom:10px;
	left:20px;
	right:20px;
	content:"";
	border-left:1px solid fade(#fff,90%);
	border-right:1px solid fade(#fff,90%);
	z-index:1;
	transform:scaleY(0);
	-webkit-transform:scaleY(0);
	.transition;
}
.line-scale:hover .adv-thumb-link::before,
.line-scale:hover .adv-thumb-link::after{
	transform:scale(1);
	-webkit-transform:scale(1);
}
/*Fade In Out*/
.fade-in-out .adv-thumb-link::before{
	&:extend(.fade-out-in .adv-thumb-link::before);
	opacity:1;
	top:50%;
	bottom:50%;
}
.fade-in-out .adv-thumb-link::after{
	&:extend(.fade-out-in .adv-thumb-link::before);
	opacity:1;
	left:50%;
	right:50%;
}
.fade-in-out:hover .adv-thumb-link::before{
	opacity:0;
	top:0;
	bottom:0;
}
.fade-in-out:hover .adv-thumb-link::after{
	opacity:0;
	left:0;
	right:0;
}
/*Pull Curtain*/
.pull-curtain .adv-thumb-link::before{
	top:0;
	left:0;
	width:0;
	height:0;
	opacity:0;
	background:rgba(0,0,0,0.1);
	content:"";
	position:absolute;
	z-index:1;
	.transition;
}
.pull-curtain .adv-thumb-link::after{
	bottom:0;
	right:0;
	width:0;
	height:0;
	opacity:0;
	background:rgba(0,0,0,0.1);
	content:"";
	position:absolute;
	z-index:1;
	.transition;
}
.pull-curtain:hover .adv-thumb-link::before,
.pull-curtain:hover .adv-thumb-link::after{
	width:100%;
	height:100%;
	opacity:1;
}
/*Blue Image*/
.blur-image:hover .adv-thumb-link img{
	filter:blur(5px);
	-webkit-filter:blur(5px);
}
/*Gray Image*/
.gray-image:hover .adv-thumb-link img{
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/*Translate Product*/
.translate-thumb img:last-child{
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	transform:translateY(100%);
	-webkit-transform:translateY(100%);
} 
.product-thumb:hover .translate-thumb img:last-child{
	transform:translateY(0);
	-webkit-transform:translateY(0);
	opacity:1;
}
.product-thumb:hover .translate-thumb img:first-child{
	transform:translateX(-100%);
	-webkit-transform:translateX(-100%);
	opacity:0;
}
/*End Product*/
/*Select Box*/
.select-box label {
    font-weight: 400;
    margin: 0 5px;
}
.select-box select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    cursor: pointer;
    height: 36px;
    padding: 0 35px 0 10px;
    position: relative;
    text-align: left;
    text-transform: capitalize;
}
.select-box {
	position:relative;
}
.select-box::after{
	position:absolute;
	top:10px;
	right:15px;
	content:"\f107";
	font-family:"fontAwesome";
}
/*Begin Wishlist Popup*/
.wishlist-mask {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
	display:none;
}
.wishlist-popup {
    background: #fff none repeat scroll 0 0;
    border: 10px solid rgba(0, 0, 0, 0.5);
    bottom: 0;
    height: 200px;
    left: 0;
    margin: auto;
    padding: 20px;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    width: 470px;
    z-index: 9999;
}
.wishlist-button a {
    background: #858785 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
	margin:0 3px;
}
.wishlist-button a:last-child{
	background: #ff607c;
}
.popup-icon{
	color: #ff607c;
	font-size:30px;
}
.wishlist-alert {
    margin: 10px 0 20px;
}
.product-popup-content{
	padding:15px 0;
}
/*End Wishlist Popup*/
/*Begin Email Popup*/
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
}  
#boxes .window {
  position:fixed;
  left:0;
  top:0;
  display:none;
  z-index:9999;
}
.window-popup {
    background: #F6F5F2 none repeat scroll 0 0;
    padding: 30px;
	width:600px;
	box-shadow:0 0 5px 0 rgba(0,0,0,0.5);
	border-radius:6px;
}
.window-popup .close-popup {
    background: #fff none repeat scroll 0 0;
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -15px;
    text-align: center;
    top: -15px;
    width: 30px;
    z-index: 999;
	border-radius:50%;
	box-shadow:0 0 5px 0 rgba(0,0,0,0.1);
}
.content-popup {
    position: relative;
    z-index: 99;
}
.content-popup input[type="submit"]{
	border-width:0 0 3px;
	display:block;
	width:100%;
	margin-bottom:15px;
	border-radius:4px;
}
.content-popup input[type="text"] {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #555;
    display: block;
    font-size: 18px;
    height: 50px;
    margin: 0 0 16px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
}
.content-popup .image-popup {
    margin: 10px 0;
}
.content-popup .title30 {
    margin-bottom: 5px;
}
.content-popup select {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%) repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: #555;
    display: block;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 15px;
    width: 100%;
}
.content-popup select option{
	padding:0 15px;
}
/*End Email Popup*/
/*Begin Preload*/
.preload #loading{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999999;
	margin-top: 0px;
	top: 0px;
}
.preload #loading-center{
	width: 100%;
	height: 100%;
	position: relative;
}
.preload #loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	-ms-transform: rotate(-135deg); 
   	-webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);
}
.preload .object{
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;
	
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;	
}
.preload #object_one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
}							
.preload #object_two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.preload #object_three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.preload #object_four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;	
}	
@-webkit-keyframes animate { 
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }
}
@keyframes animate {	
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }	
}
/*End Preload*/