/*----------------------------------
Project: smartbuy
Version: 1.1
Last change: 
Author:	7UP Theme
Author URI: https://7uptheme.com/
1.HOME 01
2.HOME 02
3.HOME 03
4.HOME 04
5.HOME 05
6.HOME 06
7.HOME 07
8.HOME 08
9.HOME 09
10.HOME 10
11.BLOG FEATURED 
12.GRIDVIEW 
13.LISTVIEW 
14.PRODUCT SHOW 
15.QUICKVIEW 
16.CUSTOMIZE 
-----------------------------------*/
/* import */
@import "general.less";
ul.list-inline{
	margin: 0; padding: 0;
}
ul.list-inline li{
	list-style: none;
	display: inline-block;
	padding: 0;
}
.box-img a, .box-img img{
	width: 100%;
}

/********************************************************************************************************************
														HOME 01 
*********************************************************************************************************************/
.top-header{
	padding: 25px 0 10px;
    border-bottom: 1px solid #e5e5e5;
	.box-right{
		float: right;
		ul li{
			margin-left: 10px;
			position: relative;
		}
		margin: 10px 0 0;
	}
}
.mega-list-cat h2{
	text-transform: uppercase;
	font-size: 24px;
	margin-top: 0;
}
.mega-list-cat ul li{
	padding: 10px 0;
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
}
.main-nav-2 .mega-menu-v1{
	left: 100%;
	top:0;
}
.mega-menu-v1{
	display: table;
	left: -100%;
	>div{
		display: table-cell;
	}
}
.sidebar-mega-menu{
	width: 15%;
    border-right: 1px solid #e5e5e5;
}
.sidebar-mega-menu ul{
	border-bottom: none;
}
.sidebar-mega-menu h3{
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
}
.mega-menu-v1 .content-mega-menu{
	width: 85%;
	padding-left: 30px;
}
.list-product-mega-menu .item{
	margin: 0;
	&:hover{
		.box-cart {
			border-top:1px solid transparent;
			border-bottom:1px solid transparent
		}
	}
}
.sidebar-mega-menu ul li{
	width: 100%;
	padding: 10px 0;
}
.mega-list-cat ul li:last-child{
	border-bottom: none;
}
.mega-menu-v2{
	left: -200%;
}
.main-nav-2 .mega-menu-v2{
	left: 100%;
	top: 0;
}
.main-nav-4 .mega-menu-v2{
	left: auto;
	right: -500%;
}
.main-nav-4 .mega-menu-v1{
	left: auto;
	right: -700%;
}
.main-nav-10 .mega-menu-v1, .main-nav-10 .mega-menu-v2{
	left: 0;
}
.main-nav{
	margin: 6px 0 0 -15px;
	>ul >li:first-child >a{
		margin-left: 0;
	}
}
.mini-cart-box {
	&:hover{
		.mini-cart-content{
			opacity: 1;
			visibility: visible;
			top: 39px;
		}
	}
}
.mini-cart-content.mini-cart-home10{
	right: 58px;
	.mini-cart-button a{font-size: 14px;}
}
.mini-cart-content{
	position: absolute;
	width: 300px;
    z-index: 999;
    right: 0;
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,.2);
    padding: 0 20px;
    top: 60px;
	opacity: 0;
    visibility: hidden;
	.transition;
	h2{
		font-size: 24px; 
		.font-lato;
		text-align: center;
		margin: 20px 0 30px;
	}
	.product-mini-cart>div{float: left;}
	.product-thumb{
		width: 35%;
		margin-bottom: 30px;
		a:hover{
			img{transform: scale(1.1);}
		}
	}
	.product-info{
		width: 60%;
		padding-left: 20px;
	}
	.product-title{
		margin: 0;
		font-size: 14px;
	}
	.price{
		margin: 10px 0 5px;
		span{margin-right: 8px;}
		.old-price{text-decoration: line-through;}
	}
	.mini-cart-total{
		width: 100%;
		display: inline-block;
	}
	.mini-cart-button{
		text-align: center;
		padding: 15px 0 20px;
		a{
			padding: 5px 15px;
			border: 1px solid #e5e5e5;
			margin: 0 5px;
			color: #555 !important;
			&:hover{
				color: #fff !important;
			}
		}
	} 
}
.box-search{
	text-align: center;
	margin: 30px 0 0;
	form{	
		display: inline-block;
		position: relative;
	}
	input[type="text"], .select-box,input[type="submit"]{
		height: 50px; 
		float: left;
		background: transparent;
	}
	input[type="text"]{
		width: 400px;
		border: 1px solid #e5e5e5;
		padding: 15px;
	}
	.select-box::after{top: 19px;}
	select{
		min-width: 250px;
		height: 100%;
		border-radius: 0;
		border-left: none;
		padding-left: 18px;
		background: transparent;
	}
	input[type="submit"]{
		width: 50px;
		border: 1px solid #e5e5e5;
		border-left: none;
	}
	.submit-from{
		float: left;
		position: relative;
		background: transparent;
		z-index: 99;
		&:before{
			position: absolute;
			content:"\f002";
			font-family: FontAwesome;
			font-size: 18px;
			right: 16px;
			z-index: -1;
			top: 15px;
			color: #000;
		}
	}
}
.box-slider{
	margin-top: 23px;
	position: relative;
	.owl-pagination{
		&:extend(.absolute);
		top: auto;
		bottom: 35px;
		right: 0;
		left: 0;
		width: 1170px;
		margin: auto;
		padding: 0 0 0 148px;
		text-align: left;
	}
}
.box-info-slide{
	&:extend(.absolute);
	height: 185px;
	width: 100%;
    text-align: left;
    margin: auto auto;
	h2{
		font-size: 48px;
		text-transform: uppercase;
		font-weight: 300;
		margin-top: 0;
		.font-lato;
	}
	h3{
		font-size: 48px;
		text-transform: capitalize;
		.font-lato;
	}
	a{
		font-size: 18px;
		text-transform: uppercase;
		border-bottom: 1px solid #333;
		font-weight: bold;
		margin: 25px 0 0;
	}
	.adv-info-slide{
		text-align: center;
		max-width: 365px;
	}
}
/* begin menu respon */
.top-header-4 .main-nav .toggle-mobile-menu span,.top-header-4 .main-nav .toggle-mobile-menu::before,
.top-header-4 .main-nav .toggle-mobile-menu::after, .top-header-5 .main-nav .toggle-mobile-menu span, 
.top-header-5 .main-nav .toggle-mobile-menu::before, .top-header-5 .main-nav .toggle-mobile-menu::after,
.bottom-header .main-nav .toggle-mobile-menu span, .bottom-header .main-nav .toggle-mobile-menu::before,
.bottom-header .main-nav .toggle-mobile-menu::after{
	background: #fff;
}
.main-nav .toggle-mobile-menu {
  display: none;
  height: 15px;
  width: 15px;
  position: relative;
  transition: all 0.5s ease-out 0s;
  -webkit-transition: all 0.5s ease-out 0s;
}
.main-nav .toggle-mobile-menu span {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  background: #333;
}
.main-nav .toggle-mobile-menu::before,
.main-nav .toggle-mobile-menu::after {
  content: '';
  position: absolute;
  top: 0;
  height: 2px;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  background: #333;
}
.main-nav .toggle-mobile-menu::before{
	-webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
}
.main-nav .toggle-mobile-menu::after {
  -webkit-transform: translate3d(0, 5px, 0);
  transform: translate3d(0, 5px, 0);
}
.main-nav.active .toggle-mobile-menu::before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
.main-nav.active .toggle-mobile-menu::after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}
.main-nav.active .toggle-mobile-menu span {
  display: none;
}
/* end menu respon */
/***** box-product ******/
.more a{
	margin-top: 25px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	text-align: center;
	padding: 27px 0;
	i{
		display: table;
		width: 100%;
		font-size: 30px;
	}
}
.box-product{
	margin-top: 65px;
	text-align: center;
	.title{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 13px;
		position: relative;
		h3{
			font-size: 18px;
			.font-lato;
			margin: 0;
			text-transform: capitalize;
			a{color: #999;}
		}
		a.filter{
			float: right;
		}
	}
	.nav-tabs{border-bottom: none;}
	.nav-tabs > li{
		margin-right: 43px;
		position: relative;
		&:before{
			&:extend(.owl-theme .owl-controls .owl-page span);
			position: absolute;
			content:"";
			left: 0;
			right: 0;
			margin: auto;
			bottom: -20px;
			opacity: 0;
		}
		&:after{
			position: absolute;
			content:'';
			width: 20px;
			right: -30px;
			top: 10px;
			border-top: 1px solid #f2f2f2;
		}
		&:last-child{
			&:after{display: none;}
		}
		h3{font-weight: 600;}
	}
	.nav-tabs > li.active{
		&:before{
			opacity: 1;
		}
		h3 a{color: #000;}
	}
}
.wrap-product{
	margin: 20px 10px 0;
}
.item{
	margin: 0 -10px 10px;
	position: relative;
	text-align: center;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	&:hover{
		.product-extra-link,.name-product,.box-cart .cart,.thumb-product>a:before{
			opacity: 1;
		}
		.box-cart{
			border-top: 1px solid #f2f2f2;
			border-bottom: 1px solid #f2f2f2;
			.price{
				color: #fff;
			}
		}
	}
	.product-extra-link,.name-product,.box-cart .cart,.thumb-product>a:before{
		opacity: 0;
	}
	.product-extra-link{
		position: absolute;
		width: 100%;
		margin-top: 10px;
		z-index: 999;
		>a{
			color: #999;
			position: relative;
			&:hover{
				color: #000;
				span{
					opacity: 1;
					visibility: visible;
				}
			}
			span{
				position: absolute;
				width: 72px;
				height: 20px;
				font-size: 10px;
				text-align: center;
				background: fade(#000,70%);
				color: #fff;
				top: 20px;
				padding: 3px 0;
				opacity: 0;
				visibility: hidden;
				.transition;
			}
		}
		a.wishlist{
			float: right;
			margin-right: 15px;
			span{right: -27px; width: 90px;}
		}
		a.quick-view{
			margin-left: 15px;
			float: left;
			span{left: -27px; }
		}
	}
	.name-product{
		h3 a{font-size: 18px; .font-lato;}
		&:extend(.absolute);
		height: 26px;
		margin: auto;
		h3{margin: 0;}
	}
	.box-cart{
		position: absolute;
		width: 100%;
		bottom: 44px;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		.price{
			font-size: 18px;
			float: right;
			.font-lato;
			.transition;
			sup{    
				top: -5px;
				font-size: 11px;
			}
			background: #f5f5f5;
			color: #555;
			font-weight: 600;
			padding: 9px 18px;
			text-decoration: none;
		}
		.cart{
			float: left;
			font-size: 12px;
			text-transform: capitalize;
			padding: 10px 0 10px 20px;
			i{margin-left: 5px;}
		}
	}
	.customize{
		text-transform: capitalize;
		width: 100%;
		padding: 13px 0 10px;
	}
	.thumb-product{
		position: relative;
		>a{
			&:before{
				&:extend(.absolute);
				background: fade(#fff,90%);
				.transition;
			}
		}
	}
}
/****** box-services ******/
.box-services{
	background: url(../images/parallax/parallax-1.png) #f9f9f9;
	background-attachment: fixed;
	i{font-size: 48px;}
	.transition;
	margin-top: 72px;
	position: relative;
	>div{z-index: 9;}
	&:before,&:after{
		&:extend(.absolute);
		width: 100%;
		height: 100%;
	}
	.box-service{
		background: hsla(0,0%,95%,.96);
		.transition;
		padding: 85px 0 65px;
	}
	&:after{
		height: 26px;
		background: -webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.04)),to(transparent));
		background: linear-gradient(rgba(0,0,0,.04),transparent);
	}
	&:hover{
		.box-service{
		  background-color: fade(#ff6363,98%);
		}
	}
	.product{
		i,h3 a{color:#ff6363;}
	}
	.tag{
		i,h3 a{color: #63b0ff;}
	}
	.shipping{
		i,h3 a{color: #49d560;}
	}
	.call{
		.wrap-box{padding: 28px 33px 30px 30px;}
	}
	.services{
		border: 1px solid #fff;
		float: left;
		width: 100%;
		background: #fff;
		.transition;
		z-index: 9;
		padding: 2px;
		box-shadow: 0 3px 3px rgba(0,0,0,.1);
		&:hover{
			background: transparent;
			.text i{
				margin-left: 5px;
				opacity: 1;
			}
		}
	}
	.icon-services{width: 21%; margin-top: 15px;}
	.text{
		width: 79%;
		padding-left: 20px;
		h3 a{position: relative;  width: 100%;}
		i{
			font-size: 24px;
			position: absolute;
			margin-left: 0px;
			top: 3px;
			opacity: 0;
			.transition;
		}
	}
	.wrap-box{
		padding: 28px 10px 30px 30px;
		float: left;
		background: #fff;
		width: 100%;
		min-height: 140px;
		>div{
			float: left;
			h3{margin: 0 0 10px; .font-lato;}
		}
	}
}
/****** box-blog *******/
.box-blog{
	text-align: center;
	.title{
		margin: 65px 0 30px;
	}
	.title h2{
		text-transform: capitalize;
		font-weight: bold;
		.font-lato;
	}
	.info-box{
		margin-top: 40px;
		.transition;
		h3{
			.font-lato;
			padding: 0 100px;
			font-weight: bold;
		}
		>a{
			text-transform: uppercase;
			font-weight: bold;
			margin: 10px 0 15px;
			border-bottom: 1px solid #000;
		}
		ul{opacity: 0; .transition;}
		ul li{
			color: #555;
			padding: 0 10px;
			a{
				color: #555;
			}
			&:first-child{
				border-right: 1px solid #e5e5e5;
			}
		}
	}
	.wrap-blog{
		margin: 15px;
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
		padding: 0 0 15px;
		.box-img{
			position: relative;
			&:before{
				&:extend(.absolute);
				background: rgba(0,0,0,0.5);
				opacity: 0;
				.transition;
			}
			&:hover{
				&:before{opacity:1;}
			}
		}
		&:hover{
			box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
			ul{opacity: 1;}
			.info-box {
				margin-top: 25px;
			}
		}
	}
	.owl-theme .owl-controls .owl-buttons div{
		width: 30px;
		height: 30px;
		background: fade(#000, 30%);
	}
	.owl-theme .owl-controls .owl-buttons div i{line-height: 30px;}
}
/****** footer ******/
.top-footer{
	border-bottom: 1px solid #f2f2f2;
	padding-bottom: 5px;
	margin-top: 42px;
	ul{margin-top: 5px;}
}
.footer-menu{
	ul li{
		text-transform: capitalize;
		margin:0 10px;
		&:first-child{
			margin-left: 0;
		}
	}
	
}
.box-icon-sn{
	text-align: right;
	ul li{margin-left: 20px;}
}
.info-footer{
	margin-top: 5px;
	h3{
		font-size: 18px;
		.font-lato;
		font-weight: bold;
		margin-bottom: 20px;
	}
	ul.text li{
		width: 100%;
		margin-bottom: 5px;
	}
	ul.address li{
		position: relative;
		padding:0 0 15px 24px;
		i{
			position: absolute;
			left: 0;
			top: 4px;
		}
	}
	.box-cart{
		border-bottom: 1px solid #f2f2f2;
		padding-bottom: 20px;
		ul li{
			margin-right: 7px;
			&:last-child{margin-right: 0;}
			a:hover{
				transform: scale(1.1);
				-webkit-transform: scale(1.1);
			}
		}
	}
	.box-language{
		ul li a{
			padding: 0px 5px 1px;
			border: 1px solid transparent;
		}
	}
	.box-madeby{
		border-top: 1px solid #f2f2f2;
		padding-top: 25px;
		margin: 27px 0 25px;
	}
}
.bottom-footer{
	background: #f9f9f9;
	padding-top: 30px;
	position: relative;
	.title, ul{float: left;}
	.title{width: 10%;}
	h3{
		.font-lato;
		text-transform: uppercase;
		font-size: 18px;
		color: #555;
		i{color: #555; margin-right: 8px;}
		margin: 0;
		font-weight: 600;
	}
	ul{
		width: 90%;
		padding-left: 55px;
		li{margin-right: 3px;}
		a{
			color: #555;
			font-size: 12px;
		}
		a.more{color: #000;}
	}
	.box-tag{
		margin-bottom: 32px;
	}
}
#back-to-top{
	position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    bottom: 70px;
    text-align: center;
    line-height: 30px;
    right: 15px;
	i{color: #fff;}
}
.dropdown-box{
	text-align: left;
	position: absolute;
    background: #fff;
    width: 100%;
    z-index: 99999;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
	padding: 30px;
	top: 35px;
	display: none;
	.list-table.box-color{padding: 0;}
}
.drop-list.box-color .title h3{
	padding: 0;
}
.drop-list{
	>.title{
		margin-bottom: 30px;
		h3{
			font-size: 24px;
			.font-lato;
			font-weight: bold;
		}
	}
	.box-range{margin-top: 0;}
	.box-range #amount{
		margin-top: -40px;
	}
}
.drop-list.box-color{
	padding: 0;
}
.widget-size{
	ul li{
		width: 100%;
		margin-bottom: 10px;
	}
	a{
		position: relative;
		padding-left: 30px;
		&:before{
			&:extend(.absolute);
			width: 20px;
			height: 20px;
			border: 1px solid #e5e5e5;
		}
		&:after{
			&:extend(.absolute);
			content:"\f00c";
			font-family: 'FontAwesome';
			top: 3px;
			left: 3px;
			opacity: 0;
		}
	}
	a.active{
		&:after{opacity: 1;}
	}
}
/****************************************************************************************************
											HOME 02 
*****************************************************************************************************/
.main-nav-2{
	margin: 0;
	position: relative;
	>ul{
		display: none;
		position: absolute;
		width: 200px;
		z-index: 9999;
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
		background: #fff;
		padding: 10px 0;
	}
	>ul >li{
		width: 100%;
		padding: 5px 25px;
		>a{
			width: 100%;
			margin-left: 0 !important;
		}
	}
	ul.sub-menu{
		left: 100%;
		top: 0;
	}
	.toggle-mobile-menu{
		display: block;
		height: 15px;
		width: 15px;
	}
}
.top-header-2{
	background: #f9f9f9;
	border-bottom: 1px solid #f2f2f2;
	.box-right{
		float: right;
	}
	.logo{
		text-align: center;
	}
}
.box-slider-2{
	background: #f9f9f9;
	.box-img,.info-box{
		float: left;
		width: 45%;
	}
	.info-box{
		background: #fff;
		padding: 45px 0 35px 68px;
		margin: 90px 0;
	}
	.name-product{
		.font-lato;
		a{color: #000;}
	}
	.price{
		sup{top: -5px;}
		.font-lato;
		.old-price{
			color: #555;
			font-size: 18px;
			text-decoration: line-through;
			margin-right: 5px;
		}
		.new-price{
			color: #000;
			font-size: 30px;
		}
	}
	p{
		color: #555;
		padding-right: 40px;
		margin: 16px 0 40px;
	}
	.product-extra-link{
		text-transform: uppercase;
		font-weight: bold;
		a{
			display: table;
			text-align: center;
			min-width: 310px;
			padding: 18.5px 0;
			border: 1px solid #e5e5e5;
			box-shadow: 0 2px 2px rgba(0,0,0,0.1);
			margin-bottom: 10px;
			i{margin-left: 8px; color: #999;}
			&:hover{
				color: #fff ;
				i{color: #fff;}
			}
		}
	}
	.owl-theme .owl-controls .owl-page span{
		background: #000;
	}
	.owl-pagination{
		&:extend(.absolute);
		width: 15px;
		height: 63px;
		left: auto;
		right: 80px;
		margin: auto;
	}
}
.box-product-2{
	text-align: center;
	.item{
		margin: 0 0 30px;
		.box-cart{
			bottom: 43px;
		} 
	}
	.box-tabs h2{
		font-size: 36px;
		.font-lato;
		margin: 0 50px 0 0;
		font-weight: bold;
	}
	.nav-tabs{
		border-bottom: none;
		h3{
			font-size: 18px;
			.font-lato;
			margin: 0;
			a{
				padding: 15px 20px;
				text-transform: capitalize;
				border-radius: 5px;
				color: #000;
			}
		}
		li.active{
			a{
				color: #fff;
			}
		}
	}
	.box-tabs h2, .nav-tabs{
		float: left;
	}
	.filter{
		float: right;
		padding: 9.5px 17.3px;
		background: #fff;
		border-radius: 5px;
		margin-top: 5px;
		i{
			margin-right: 7px;
		}
		color: #000;
	}
	>.title{
		background:  url(../images/parallax/parallax-1.png);
		background-attachment: fixed;
		padding: 25px 0;
		position: relative;
		>div{z-index: 9;}
		&:before{
			background: fade(#f9f9f9,98%);
			width: 100%;
			height: 100%;
			&:extend(.absolute);
		}
		&:after{
			&:extend(.box-services:after);
		}
	}
	.dropdown-box{
		top: 75px;
		max-width: 1170px;
	}
	.number-page{
		margin-top: 5px;
		a{
			width: 40px;
			height: 40px;
			line-height: 40px;
			border-radius: 50%;
			border: 1px solid #e5e5e5;
			font-weight: bold;
			box-shadow: 0 3px 3px rgba(0,0,0,0.05);
			&:hover{
				color: #fff;
				border: 1px solid transparent;
			}
		}
		a.active{
			border: 1px solid transparent;
			color: #fff;
		}
	}
	.tab-content{
		margin-top: 50px;
	}
}
.top-footer-2{
	margin-top: 75px;
}
/*****************************************************************************************************
												HOME 03 
*******************************************************************************************************/
.box-slider-3{
	.box-info-slide h2{
		font-size: 24px;
		color: #fff;
		display: inline-block;
		padding: 17px 25px;
	}
	.box-info-slide{
		height: 205px;
		min-width: 385px;
		text-align: left;
		margin: auto;
		padding: 0 0 0 110px;
	}
	.box-info-slide2{
		padding: 0 0 0 140px;
	}
	.box-info-slide3{
		padding: 0 0 0 125px;
	}
	.wrap-info-slide{
		display: inline-block;
	}
	.owl-pagination{
		bottom: 120px;
		padding: 0 0 0 250px;
	}
	.owl-theme .owl-controls .owl-buttons div{
		background: fade(#000,30%);
	}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{left: 20px;}
	.owl-theme .owl-controls .owl-buttons div.owl-next{right: 20px;}
}
/****** box-banner *****/
.box-banner{
	margin-top: 50px;
	i{margin-left: 12px;}
	.info-banner{
		box-shadow: 0 3px 3px rgba(0,0,0,0.1);
		&:hover{
			box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
			i{color: #000;}
		}
		.box-img{
			overflow: hidden;
			&:hover{
				img{&:extend(.effect-img);}
			}
		}
	}
	.box-text{
		padding:10px 0 25px 40px;
		background: #fff;
		a{
			color: #555;
		}
	}
}
/****** box-brand *****/
.box-brand{
	background: #f9f9f9;
	text-align: center;
	padding: 145px 0 60px;
	margin-top: -60px;
	a{
		margin-right: 105px;
		&:last-child{margin-right: 0;}
		&:hover{
			transform: scale(1.1);
			-webkit-transform: scale(1.1);
		}
	}
}
/***** box-product-slide *****/
.box-product-slide{
	margin-top: 100px;
	.title{
		margin-bottom: 40px;
		h2{
			.font-lato;
			font-size: 30px;
			font-weight: 600;
			span{
				.font-greatvibes;
				font-size: 60px;
				color: #999;
				font-weight: 100;
				display:table;
				width: 100%;
			}
		}
	}
	.box-left{
		text-align: center;
		>a{
			text-transform: uppercase;
			font-weight: bold;
			border-bottom: 1px solid #000;
			margin-top: 35px;
		}
	}
	.box-right{
		padding-left: 55px;
		.owl-carousel .owl-wrapper-outer{
			padding-bottom: 45px;
		}
		.owl-theme .owl-controls .owl-buttons div{
			&:extend(.box-blog .owl-theme .owl-controls .owl-buttons div);
		}
		.owl-theme .owl-controls .owl-buttons div i{line-height: 30px;}
		.owl-theme .owl-controls .owl-buttons div.owl-prev{left: -38px;}
		.owl-theme .owl-controls .owl-buttons div.owl-next{right: -23px;}
	}
	.item{
		margin: 0;
		position: relative;
		box-shadow: none;
		.box-cart{bottom: 0;}
		.customize{
			position: absolute;
			left: 0;
			bottom: -40px;
			opacity: 0;
			background: #fff;
			box-shadow: 0 3px 3px fade(#000,5%);
			z-index: 99;
			color: #999;
		}
		&:hover{
			.customize{
				bottom: -44px;
				opacity: 1;
			}
		}
	}
	.item-small,.item-big{
		float: left;
		margin: 0 5px;
	}
	.item-small{
		width: 40%;
		.item{margin: 0 0 10px;}
	}
	.item-big{
		width: 55%;
		margin: 94px 5px;
	}
}
/****** banner******/
.banner-theme{
	text-align: center;
	margin-top: 35px;
}
.banner-form{
	background: #232f3e;
	min-width: 1000px;
	margin: 45px auto auto auto;
	>div{float: left;}
	padding: 39px 75px 29px;
	.txt-mail{
		position: relative;
		&:after{
			&:extend(.absolute);
			width: 40px;
			height: 40px;
			background: #f9f9f9;
			left: 100%;
			margin-left: 1px;
		}
	}
	.box-text{
		color: #fff;
		width: 45%;
		padding-left: 15px;
	}
	.logo{
		width: 12%;
		margin-top: 6px;
	}
	.box-letter{
		display: inline-block;
		width: 43%;
		padding-left: 14px;
		div{
			float: left;
		}
	}
	form{
		display: inline-block;
	}
	input{
		border: none;
	}
	input[type="text"]{
		min-width: 310px;
		height: 100%;
		padding: 9.5px 0 9.5px 25px;
	}
	input[type="submit"]{
		min-width: 40px;
		height: 100%;
		background: transparent;
		padding: 9.5px 0;
		position: relative;
		z-index: 999;
	}
	.btn-submit{
		position: relative;
		text-align: center;
		&:after{
			&:extend(.absolute);
			content:'\f2b7';
			font-family: 'FontAwesome';
			font-size: 18px;
			padding-top:10px;
		}
	}
}
/****** footer ******/
.top-footer-3, .info-footer-3{
	background: #131a22;
}
.top-footer-3{
	border-bottom: 1px solid #2a3037;
	padding-top: 28px;
	ul li a{
		color: #999;
	}
	.box-icon-sn{
		ul li a:hover{
			color: #fff;
		}
	}
}
.info-footer-3{
	margin-top: 0;
	padding-top: 5px;
	h3{
		color: #fff;
	}
	color: #999;
	a{color: #999;}
	.box-cart{
		border-bottom: 1px solid #2a3037;
	}
	.box-madeby{
		border-top: 1px solid #2a3037;
	}
}
.bottom-footer-3{
	background: #232f3e;
	h3 i{color: #555;}
	ul a.more{
		font-weight: bold;
		color: #fff;
	}
}
/*******************************************************************************************************
											HOME 04 
********************************************************************************************************/
.top-header-4{
	padding: 25px 100px 10px;
	z-index: 999;
    position: relative;
	border-bottom: none;
	.main-nav{
		text-align: right;
		> ul > li > a{
			color: #fff;
		}
	}
	.box-right{
		li >a{color: #fff;}
	}
}
.box-banner-parallax{
	margin-top: -76px;
	height: 900px;
	background: url(../images/blog/blog_15.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	.box-info-banner{
		position: absolute;
		bottom: 180px;
		padding: 0 100px;
		width: 100%;
		.text{
			float: left;
			.font-lato;
			color: #fff;
			h3{
				font-size: 30px;
				margin: 0;
				font-weight: 600;
				padding: 20px 0 15px;
				border-top: 1px solid #bababa;
			}
			p{font-size: 18px;}
		}
		a{
			float: right;
			font-size: 18px;
			text-transform: uppercase;
			color: #000;
			font-weight: bold;
			width: 140px;
			padding: 16.5px 0;
			background: #fff;
			position: relative;
			text-align: center;
			margin-top: 25px;
			&:after{
				&:extend(.absolute);
				border-bottom: 1px solid #666;
				width: 98px;
				margin: auto;
				bottom: 15px;
			}
			&:hover{
				color: #fff;
				&:after{border-bottom: 1px solid #fff;}
			}
		}
	}
}
.box-banner-products{
	.wrap-banner{
		margin: 0 -15px;
	}
	.banner{
		position: relative;
		&:before{
			&:extend(.absolute);
			background: fade(#fff,90%);
			opacity: 0;
			.transition;
		}
		&:hover{
			.text,&:before{opacity: 1;}
		}
		>a{
			width: 100%;
			img{width: 100%;}
		}
	}
	.text{
		.font-lato;
		text-align: center;
		&:extend(.absolute);
		height: 71px;
		margin: auto;
		opacity: 0;
		.transition;
		h3{
			margin: 0 0 17px;
		}
		h3 a{font-size: 30px;}
		>a{
			font-family: 'Poppins',san-serif;
			i{
				font-size: 18px;
				float: right;
				margin: 2px 0 0 10px;
			}
		}
	}
}
.top-footer-4{
	margin-top: 0;
}
/********************************************************************************************************
											HOME 05 
********************************************************************************************************/
.top-header-5{
	background: #232f3e;
	border-bottom: none;
	.main-nav > ul > li > a{
		color: #fff;
	}
	.box-right ul li >a{
		color: #fff;
	}
}
.box-update-product{
	.owl-theme .owl-controls .owl-buttons div{
		&:extend(.box-blog .owl-theme .owl-controls .owl-buttons div);
	}
	.owl-theme .owl-controls .owl-buttons div i{line-height: 30px;}
	.title{
		text-align: center;
		.font-lato;
		margin: 25px 0;
		span{
			font-weight: 300;
		}
	}
	.wrap-product{
		margin: 0 -15px;
	}
	.item{
		margin: 0 15px;
		box-shadow: none;
		&:hover{
			.box-cart{
				opacity: 1;
				border-top: 1px solid transparent;
				border-bottom: 1px solid transparent;
			}
		}
	}
	.box-cart{
		bottom: 0;
		opacity: 0;
		.transition;
	}
	.box-cart .price{
		padding: 5px 10px;
	}
}
.box-sale{
	position: relative;
	text-align: center;
	margin: 50px 0;
	h2,h3{.font-lato; margin: 0;}
	h3{
		font-size: 30px;
		text-transform: capitalize;
		font-weight: 300;
		color: #555;
	}
	h2{
		font-size: 60px;
		font-weight: bold;
	}
	.box-text {
		&:extend(.absolute);
		height: 132px;
		margin: auto;
		z-index: 999;
		a{
			&:extend(.box-info-slide a);
			margin: 5px 0 0;
		}
	}
}
/**** box-product-show ****/
.box-product-show{
	.owl-pagination{
		padding: 19.5px 0;
		background: #f9f9f9;
	}
	.box-left{
		margin-right: 20px;
		.item{margin: 0;}
	}
	.wrap-item{
		.item .product-extra-link a.quick-view span{left: -10px;}
		.item .product-extra-link a.wishlist span{right: -10px;}
	}
	.box-right{
		margin-left: -40px;
		.wrap-product{
			margin: 0 10px;
		}
		.item{
			margin: 0 -10px 10px;
		}
	}
	.item{
		margin: 0 0 10px;
		box-shadow: none;
		&:hover{.box-cart{opacity: 1;}}
		.box-cart{
			bottom: 0;
			opacity: 0;
			.transition;
		}
	}
}
.box-product-show-2{
	margin-top: 10px;
	.box-1{
		margin-right: -40px;
	}
	.box-2{
		margin: 0 20px;
		.item{margin: 0;}
	}
	.box-3{
		margin-left: -40px;
	}
	.owl-pagination{
		padding:40px 0 39px;
	}
}
.box-product-show-3{
	margin-bottom: 50px;
	.box-1{margin-right: -40px;}
	.box-2{
		margin-left:20px;
		.item{margin: 0;}
	}
	.wrap-item-bottom{
		margin: 0 25px;
		.item{margin: 0 -10px;}
	}
}
/*** box-choice ****/
.box-choice{
	position: relative;
	text-align: center;
	.title{
		position: absolute;
		top: 0;
		left: 0;
		text-transform: capitalize;
		padding: 12px 10.5px;
		background: #232f3f;
		&:before{
			&:extend(.absolute);
			width: 0;
			height: 0;
			left: 100%;
			border-top: 48px solid #232f3f;
			border-right: 15px solid transparent;
		}
		h3{
			font-size: 24px;
			.font-lato;
			color: #fff;
		}
		span.buy{
			font-weight: 100;
		}
	}
	.wrap-choice{
		position: relative;
		&:hover{
			&:before{opacity: 1;}
		}
		&:before{
			&:extend(.absolute);
			background: rgba(0,0,0,0.2);
			opacity: 0;
			.transition;
		}
	}
	.wrap-choice.box-1{
		margin-right: -10px;
	}
	.wrap-choice.box-2{
		margin-left: -10px;
	}
	.info-box{
		.box-text{
			text-align: center;
			border: 1px solid #fff;
			padding: 2px;
			&:extend(.absolute);
			margin: auto;
			max-width: 346px;
			height: 126px;
		}
		.wrap-info{
			background: fade(#fff,90%);
			height: 100%;
			padding: 23px 0;
		}
		h3{text-transform: uppercase;}
		h3,p{
			.font-lato;
			font-weight: bold;
			margin: 0;
			line-height: 24px;
		}
		p{font-size: 24px;}
		.box-text span{
			margin-top: 8px;
			display: inline-block;
		}
	}
}
/****************************************************************************************************
												HOME 06 
*****************************************************************************************************/
.box-small-search{
	&:hover{
		.search-form-sp{
			opacity: 1;
			visibility: visible;
			top: 25px;
		}
	}
}
.search-form-sp{
	position: absolute;
	right: -2px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	top: 40px;
	opacity: 0;
	visibility: hidden;
	z-index: 999;
	.transition;
	input[type="text"]{
		border: none;
		padding: 10px 15px;
	}
	input[type="submit"]{
		width: 41px;
		height: 41px;
		border: none;
		position: absolute;
		right: 0;
		top: 0;
	}
	i{
		font-size: 18px;
		position: absolute;
		right: 10px;
		top: 12px;
		color: #fff;
	}
}
.top-header-6{
	padding: 9px 0 9px;
    border-bottom: none;
	background: #f2f2f2;
	.phone-number{
		i{margin-right: 8px;}
	}
	.box-right{
		margin: 0;
	}
}
.main-header-6{
	text-align: center;
	.logo{
		margin: 50px 0 30px;
	}
	.main-nav{
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		padding: 18.5px 0;
	}
}
.box-slider-06{
	margin-top: 30px;
	.owl-pagination{
		left: 0;
		right: 0;
		margin: 60px;
		margin: auto;
		padding: 0;
		text-align: center;
	}
	.owl-theme .owl-controls .owl-buttons div{
		&:extend(.box-slider-3 .owl-theme .owl-controls .owl-buttons div);
	}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{left: 30px;}
	.owl-theme .owl-controls .owl-buttons div.owl-next{right: 30px;}
	.owl-theme .owl-controls .owl-page span{
		background: #000;
	}
	.box-info-slide{
		&:extend(.box-choice .info-box .box-text);
		max-width: 508px;
		height: 257px;
		h2{
			color: #555;
		}
		h2,h3{
			font-size: 30px;
			margin: 0;
		}
		h3{
			position: relative;
			&:before{
				&:extend(.absolute);
				width: 66px;
				height: 15px;
				background: url(../images/bf-img.png);
				top: auto;
				bottom: -30px;
				margin: auto;
			}
		}
		a{
			margin: 46px 0 0;
		}
	}
	.wrap-info-slide{
		&:extend(.box-choice .info-box .wrap-info);
		background: #fff;
		padding: 52px 0;
	}
}
.box-banner-6{
	position: relative;
	margin: 10px 10px 0;
	.banner{
		margin: 0 -10px;
	}
	.info-box{
		&:extend(.box-choice .info-box .box-text);
		max-width: 290px;
		height: 46px;
	}
	.wrap-info{
		&:extend(.box-choice .info-box .wrap-info);
		padding: 10px 0;
		i{margin-left: 20px;}
	}
}
.box-product-collection{
	margin-top: 75px;
	.title{
		text-align: center;
		position: relative;
		&:before,&:after{
			&:extend(.absolute);
			width: 100%;
			border-top: 1px solid #f2f2f2;
			z-index: -2;
		}
		&:after{
			bottom: 58px;
			top: auto;
		}
		.wrap-title{
			display: inline-block;
			margin: auto;
		}
		span,.text{float: left;}
		span{
			font-size: 30px;
			.font-lato;
			font-weight: 100;
			position: relative;
			color: #fff;
			margin-top: 10px;
			&:after{
				&:extend(.absolute);
				width: 80px;
				height: 91px;
				background: url(../images/bf-img-2.png);
				z-index: -1;
				left: -22px;
				top: -10px;
			}
		}
		.text{
			margin-left: 60px;
			h2,h3{margin: 0;}
		}
		h2{
			.font-greatvibes;
			font-size: 60px;
			color: #999;
		}
		h3{
			.font-lato;
			font-size: 30px;
			font-weight: bold;
		}
	}
	.wrap-product-collection{
		margin-top: 50px;
		.item{
			margin: 0 0 30px;
		}
		.box-left{
			.info-box{
				&:extend(.box-choice .info-box .box-text);
				max-width: 418px;
				height: 178px;
				z-index: 999;
				h3{
					.font-lato;
					font-size: 30px;
					font-weight: 300;
				}	
				a{&:extend(.box-blog .info-box > a);}
				.wrap-info-box{
					&:extend(.box-choice .info-box .wrap-info);
					background: #fff;
				}
			}
			.info-box.has-deal-week-countdown{
				height: 238px;
				.wrap-info-box{
					padding: 45px 0;
				}
			}
		}
		.box-right{
			text-align: center;
			>a{
				&:extend(.box-blog .info-box > a);
				margin-top: 20px;
			}
		}
	}
	.deal-week-countdown{
		h3{ margin: 0 0 15px;}
	}
	.time_circles{
		>div{
			display: inline-block;
			width: 50px !important;
			height: 50px !important;
			border: 1px solid #e5e5e5;
			border-radius: 50%;
			text-align: center;
			padding: 8px 0;
			margin: 0 10px;
			span{
				display: table;
				width: 100%;
				line-height: 17px;
			}
			span.number{
				.font-lato;
				font-size: 18px;
				font-weight: bold;
				position: relative;
				&:after{
					position: absolute;
					content:':';
					right: -13px;
					top: 5px;
				}
			}
			span.text{font-size: 12px;}
		}
		.textDiv_Seconds{
			span.number{&:after{display: none;}}
		}
	}
}
.box-services-6{margin-top: 50px;}
.box-blog-06{margin-bottom: 40px;}
/********************************************************************************************************
											HOME 07 
*********************************************************************************************************/
.video-custom{
	display: block;
	width: 100%;
}
.video-info{
	&:extend(.absolute);
	height: 200px;
	margin: auto;
}
.video-button{
	position: relative;
	width: 70px;
	height: 70px;
	background: transparent;
	z-index: 999;
	border-radius: 50%;
	border: 5px solid #fff;
	margin-top: 40px;
	&:before,&:after{
		&:extend(.absolute);
		font-family:'FontAwesome';
		content:'';
		color: #fff;
		background: fade(#000,70%);
		font-size: 24px;
		padding: 17px 0 17px 7px;
		border-radius:50%;
	}
	&:before{
		content: '\f04b';
	}
	&:after{
		content:'\f04c';
		display: none;
		padding: 17px 0;
	}
	&.active{
		&:before{
			display: none;
		}
		&:after{
			display: block;
		}
	}
}
.box-player{
	text-align: center;
	position: relative;
	margin: 115px 0 250px;	
	h3{
		.font-lato;
		font-size: 90px;
		font-weight: bold;
		text-transform: capitalize;
		margin: 0;
	}
}
.box-player.clicked{
	h3{display: none;}
}
.box-about-product{
	margin-bottom: 100px;
	h3{
		.font-lato;
		font-size: 48px;
		text-transform: capitalize;
		font-weight: bold;
		margin: 0;
	}
	.box-text{
		margin:0 0 0 20px;
		i{
			font-size: 6px;
			margin: 8px 10px 0 0;
			float: left;
			color: #999;
		}
		ul{
			padding: 40px;
			border: 1px solid #f2f2f2;
			box-shadow: 0 3px 3px fade(#000,5%);
			margin-top: 20px;
		}
		li{
			margin-bottom:15px;
		}
	}
}
.box-introduce{
	.box-img-item{
		a{
			box-shadow: 0 0 30px fade(#000,10%);
			position: relative;
			&:before{
				&:extend(.absolute);
				width: 300px;
				height: 300px;
				background: #afd6e7;
				z-index: -1;
				top: 50px;
				left: -50px;
			}
		}
	}
	.box-text{
		margin-top: 57px;
		h3{
			.font-lato;
			font-size: 30px;
			font-weight: bold;
			margin-bottom: 15px;
		}
	}
}
.box-introduce-1{
	.box-img-item{float: right;}
}
.box-introduce-2{
	margin-top: 100px; 
	.box-img-item{
		a{
			&:before{
				left: auto;
				right: -50px;
			}
		}
	}
}
.box-utilities{
	margin-top: 130px;
	h3{
		margin: 0 0 17px;
		.font-lato;
		font-weight: bold;
		font-size: 30px;
		color: #000;
	}
	.wrap-utilities{
		text-align: center;
		margin: 0 -15px;
		img,.box-img{border-radius: 50%;}
		.box-img{
			border: 10px solid #afd6e7;
			display: inline-block;
			margin-bottom: 30px;
			a{
				position: relative;
				&:before{
					&:extend(.absolute);
					width: 100%;
					height: 100%;
					border-radius: 100%;
					opacity: 0;
					.transition;
					background: fade(#000,30%);
				}
				&:hover{
					&:before{opacity: 1;}
				}
			}
		}
		p{
			padding: 0 20px;
		}
	}
	.wrap-utilities.wrap-utilities-sp{
		.box-img{margin-top: 20px;}
	}
}
.box-special{
	text-align: center;
	padding-top: 85px;
    border-top: 1px solid #f2f2f2;
	margin-top: 110px;
	.title{
		margin-bottom: 63px;
		h3{
			&:extend(.box-utilities h3);
			font-size: 48px;
			margin: 0 0 10px;
		}
		p{
			font-weight: bold;
			color: #555;
		}
	} 
	.box-img{margin-bottom: 20px;}
	.item-special{
		padding-bottom: 10px;
		.transition;
		p{	color: #999; 
			font-weight: bold;}
		span{
			color: #555;
			font-weight: 400;
		}
		&:hover{
			box-shadow: 0 0 5px rgba(0,0,0,0.3);
		}
	}
}
.box-shape{
	padding-top: 100px;
	margin-top: 73px;
	border-top: 1px solid #f2f2f2;
	>div{
		float: left;
	}
	.box-left{
		width:60%;
		.box-icon-sn{
			text-align: center;
			margin-top: 45px;
		}
	}
	.box-left a, .box-left img{
		width: 100%;
	}
	.info-box{
		width: 40%;
		margin: 150px 0 0 -65px;
		z-index: 999;
		position: relative;
		.price{
			font-weight: bold;
			margin: 15px 0 20px;
			&:extend(.box-slider-2 .price);
			.old-price{
				&:extend(.box-slider-2 .price .old-price);
			}
			.new-price{
				&:extend(.box-slider-2 .price .new-price);
			}
			sup{&:extend(.box-slider-2 .price sup);}
		}
		>p{
			color: #555;
			padding-right: 50px;
			a{
				color: #000;
				font-weight: bold;
			}
		}
		.product-extra-link{
			margin-top: 30px;
			&:extend(.box-slider-2 .product-extra-link);
			>a{
				&:extend(.box-slider-2 .product-extra-link a);
				background: #fff;
				&:hover{
					&:extend(.box-slider-2 .product-extra-link a:hover);
					i{color: #fff;}
				}
				i{
					color: #999;
					margin-left: 10px;
				}
			}
		}
	}
}
.box-say{
	text-align: center;
	background: #ddeff2;
	padding: 90px 0;
	margin-top:105px;
	h3{
		&:extend(.box-utilities h3);
		text-transform: capitalize;
	}
	i{
		font-size: 30px;
		color: #fff;
		margin: 10px 0 23px;
	}
	p{
		font-size: 18px;
		margin-bottom: 60px;
		padding: 0 280px;
		span{
			font-weight: bold;
			color: #555;
		}
	}
}
/******************************************************************************************************
											HOME 08
*******************************************************************************************************/
.box-banner-08{
	text-align: center;
	position:relative;
	.info-box{
		height: 88px;
		margin: auto;
		&:extend(.absolute);
		h3,p{color: #fff;}
		h3{
			font-size: 48px;
			font-weight: bold;
			margin: 0 0 15px;
		}
		span{font-weight: bold;}
	}
}
.box-tag-08{
	margin-top: 60px;
	ul li{
		&:extend(.bottom-footer ul li);
		margin: 0 13px 15px 0;
		a{
			color: #555;
		}
		a.more{color: #000;}
	}
	.title{
		width: 7.5%;
		padding: 32px 0;
		border-right: 1px solid #f2f2f2;
		i{
			font-size: 60px;
			color: #999;
		}
	}
	ul{
		width: 92.5%;
		padding-left: 40px;
	}
	.title, ul{
		float: left;
	}
}
.box-product-08{
	background:#afd6e7;
	margin-top: 45px;
	padding: 30px 0 40px;
}
.item .customize{
	background: #fff;
	color: #999;
}
.sale-item{
	position: absolute;
	background: #555;
	width: 40px;
	height: 20px;
	z-index: 99999;
	margin: 10px 0 0 10px;
	.transition;
	span{
		font-size: 12px;
		color: #fff;
	}
}
.item{
	&:hover{
		.sale-item{
			opacity: 0;
			z-index: 0;
		}
		.customize{
			color: #333;
		}
	}
}
/********************************************************************************************************
												HOME 09
********************************************************************************************************/
.box-product-parallax{
	background-attachment: fixed !important;
	background-repeat: no-repeat;
	padding: 100px 0;
	.info-box{
		width: 30%;
		margin: 50px 0 0 140px;
		h3{
			margin: 0;
			a{
				&:extend(.box-utilities h3);
			}
		} 
		span{
			&:extend(.box-utilities h3);
		}
		sup{top: -6px;}
		>a{&:extend(.box-info-slide a);     margin: 30px 0 0;}
		.price{
			margin-bottom: 15px;
		}
	}
	.box-img{
		width: 31%;
		a{
			float: left;
			width: 47%;
			margin: 5px;
			overflow: hidden;
			&:hover{
				img{&:extend(.effect-img);}
			}
			img{width: 100%;}
		}
	}
	.info-box,.box-img{
		float: left;
	}
}
.box-product-parallax-1,.box-product-parallax-3,.box-product-parallax-5{
	background-position: left -278px center !important;
	.info-box,.box-img{
		float: right;
	}
	.info-box{
		margin-right: 60px;
	}
}
.box-product-parallax-2,.box-product-parallax-4,.box-product-parallax-6{
	background-position: right -278px center !important;
}
.box-product-parallax-1{
	background: url(../images/blog/blog_35.jpg);
}
.box-product-parallax-2{
	background: url(../images/blog/blog_36.jpg);
}
.box-product-parallax-3{
	background: url(../images/blog/blog_37.jpg);
}
.box-product-parallax-4{
	background: url(../images/blog/blog_38.jpg);
}
.box-product-parallax-5{
	background: url(../images/blog/blog_39.jpg);
}
.box-product-parallax-6{
	background: url(../images/blog/blog_40.jpg);
}
.box-lastest-product{
	padding: 25px 0;
	.owl-theme .owl-controls .owl-buttons div.owl-next{right: 35px;}
	.owl-theme .owl-controls .owl-buttons div{
		&:extend(.box-product-slide .box-right .owl-theme .owl-controls .owl-buttons div);
	}
	.owl-theme .owl-controls .owl-buttons div i{
		line-height: 30px;
	}
	.wrap-item{
		a{
			border: 1px solid #e5e5e5;
			margin: 0 10px;
		}
	}
	.title{
		width: 15%;
		margin-top: 5px;
		h3{
			font-size: 18px;
			.font-lato;
		}
		padding-left: 30px;
	}
	.wrap-lastest-product{
		width: 85%;
		padding: 0 80px 0 40px;
	}
	.wrap-lastest-product,.title{
		float: left;
	}
}
/********************************************************************************************************
													HOME 10 
*********************************************************************************************************/
.top-header-10{
	border-bottom: none;
}
.logo-10{
	padding-left: 30px;
}
.phone-number-10{
	float: right;
    margin-right: 30px;
	a{
		color: #fff;
		font-weight: bold;
		padding: 10.5px 15px;
		font-size: 18px;
	}
	span{
		font-weight: 100;
		margin-right: 10px;
		font-size: 14px;
	}
	i{
		margin-right: 7px;
	}
}
.box-search-10{
	margin: 0 0 0 5px;
	input[type="text"]{
		width: 450px;
	}
	form>*{background: #fff !important;}
}
.bottom-header{
	background: #232f3e;
	padding: 5px 0 27px;
	.main-nav > ul > li > a{
		color: #fff;
	}
	.box-right a{
		color: #fff;
		font-size: 18px;
	}
	.main-nav{
		margin: 6px 0 0 30px;
	}
	.box-right{
		float: right;
		margin-right: 39px;
		li{margin-left: 20px;}
	}
}
.main-content-home10{
	margin-top: 20px;
	.box-right{
		margin: 0 20px 70px -44px;
	}
	.box-left{
		margin: 0 34px 0 20px;
	}
}
.banner-home-10{
	position: relative;
	h3,span{
		font-size: 48px;
		.font-lato;
		color: #fff;
	}
	h3{
		font-weight: 100;
		margin: 0;
	}
	span{
		font-weight: bold;
	}
	.info-box{
		&:extend(.absolute);
		height: 180px;
		margin: auto;
		padding-left: 150px;
		z-index: 9;
	}
	.info-box >a{
		&:extend(.box-info-slide a);
		margin: 32px 0 0;
	}
}
.box-product-home10{
	margin: 30px 0 50px;
	.wrap-product{
		margin: 0;
	}
	.title{
		border-bottom: none;
		text-align: left;
		padding-bottom: 0;
		>h3 >a{
			&:extend(.box-product-parallax .info-box h3);
			margin: 0 0 10px;
			font-weight: bold;
		}
		h3 a{color: #333;}
	}
	.nav-tabs > li:after{
		display: none;
	}
	.box-tabs{float: right;}
	.nav-tabs > li{
		position: relative;
		padding-bottom: 14px;
		&:last-child{margin-right: 0;}
		&:before{
			top: auto;
			bottom: 0;
			height: 2px;
			border-radius: 0;
			&:extend(.absolute);
			width: 100%;
		}
		h3 a{
			font-weight: 400;
		}
	}
	.nav-tabs{
		margin-top: 11px;
	}
	.item{
		margin: 0 0 30px;
		.box-cart .price{
			padding: 5px 10px;
		}
		.box-cart{
			bottom: 40px;
			border-bottom: none;
			border-top: none;
		}
		.customize{
			padding: 10px 0 9px;
		}
	}
	.tab-content > .tab-pane{
		padding: 30px 27px 0px 30px;
		border: 1px solid #e5e5e5;
	}
}
.list-product{
	.title{
		border: 1px solid #e5e5e5;
		padding: 10px;
		i{
			float: right;
			margin-top: -20px;
			font-size: 24px;
			font-weight: bold;
		}
		.box-img,.text{
			float: left;
		}
		.box-img{
			width: 16.8%;
		}
		.text{
			width: 74%;
			margin: 0 0 0 20px;
		}
		h3{
			margin: 10px 0 0;
			.font-lato;
			font-size: 18px;
			font-weight: bold;
		}
	}
	>ul>li{
		i.fa-angle-up{display: none;}
		ul{display: none;}
	}
	>ul>li.active{
		i.fa-angle-up{display: block;}
		i.fa-angle-down{display: none;}
		ul{display: block;}
	}
	ul ul{
		padding: 20px 20px 5px;
		border: 1px solid #e5e5e5;
		border-top: none;
		margin-bottom: 6px;
	}
	li li{
		width: 100%;
		margin-bottom: 20px;
	}
}
.banner-sidebar{
	border: 1px solid #e5e5e5;
    padding: 5px;
	position: relative;
	margin-top: 15px;
	.box-info{
		&:extend(.absolute);
		height: 275px;
		margin: auto auto auto 28px;
		>a{
			font-size: 18px;
			font-weight: bold;
			max-width: 150px;
			text-transform: uppercase;
			color: #fff;
			text-align: center;
			padding: 6.5px 0;
			margin-top: 25px;
			&:hover{background: #555;}
		}
	}
	span.upto{font-size: 30px;}
	h3{
		font-size: 60px !important;
		padding:0 0 5px;
	}
	span,h3{
		display: table;
		.font-lato;
		font-size: 24px;
		font-weight: bold;
		color: #fff;
	}
}
/******************************************************************************************************
												BLOG FEATURED 
*******************************************************************************************************/
.cate-header{
	ul li{
		margin-right: 28px;
	}
	a{
		padding: 15px 0;
		&:hover{
			text-shadow: 0px 0px 0.1px #333;
			color: #333;
		}
	}
}
.box-breadcrumb{
	padding-top: 15px;
    border-top: 1px solid #e5e5e5;
	a{
		color: #555;
		font-size: 12px;
	}
}
.banner-blog{
	position: relative;
	margin-top: 6px;
	z-index: 1;
	.box-info{
		height: 177px;
		margin: auto auto auto 85px;
		z-index: 9999;
		&:extend(.absolute);
		h3{&:extend(.banner-home-10 h3);}
		.price span{&:extend(.banner-home-10 span);}
		a{&:extend(.banner-home-10 .info-box  >a);}
	}
}
.box-default-style-1{
	.title{margin: 50px 0 45px !important;}
	.box-info{
		margin: -45px 30px 0;
		padding: 16px 39px;
		background: fade(#fff,95%);
	}
}
.box-default-style{
	text-align: center;
	.title{
		margin: 63px 0 51px;
		h3{&:extend(.box-product-collection .title h3);}
	} 
	.blog-item{margin: 0 15px;}
	.box-info{
		z-index: 999;
		position: relative;
		h3{
			&:extend(.box-product-collection .title h3);
			font-size: 24px;
			margin: 0;
		}
		>a{&:extend(.box-blog .info-box > a);}
		ul{margin-top: 20px;}
		ul li{
			padding: 0 10px;
			font-size:12px;
			color: #555;
			&:first-child{
				padding-left: 0;
				border-right: 1px solid #555;
			}
			a{
				color: #555;
			}
		}
	}
	.owl-theme .owl-controls .owl-buttons div{
		&:extend(.box-blog .owl-theme .owl-controls .owl-buttons div);
	}
	.owl-theme .owl-controls .owl-buttons div i{line-height: 30px;}
}
.box-default-style-2{
	.title{margin: -10px 0 45px !important;}
	.box-info{
		h3{margin: 20px 0 12px;}
	}
}
.box-blog-post{
	background:#232f3e;
	color: #fff;
	padding-bottom: 80px;
	margin-top: 30px;
	.box-info{
		text-align: left;
		h3{margin: 20px 0;}
		p{color: #bdc1c5;}
		h3 a{color: #fff;}
	}
}
.box-vertical{
	.owl-carousel .owl-wrapper-outer{
		padding-bottom: 10px;
	}
	.box-img,.box-info{
		float: left;
	}
	.box-img{width: 45.21%;}
	.box-info{
		width: 54.79%;
		padding: 30px 23px;
		h3{
			margin-bottom: 10px;
		}
	}
	.item-box{
		margin: 0 15px;
		border: 1px solid #f2f2f2;
		box-shadow: 0 3px 3px fade(#000,5%);
	}
	span{
		color: #555;
	}
}
.box-grid{
	.item-box{
		margin: 0 15px;
	}
	.item-box-has-children{
		&:after{display: none;}
	}
	.item-box-children,.item-box{
		position: relative;
		&:after{
			&:extend(.absolute);
			height: 230px;
			background: -webkit-gradient(linear,right bottom,left top, from(rgba(0, 0, 0, 0.9)), to(transparent));
			background: linear-gradient(rgba(0, 0, 0, 0.9), transparent);
			transform: rotate(180deg);
			bottom: 0;
			top: auto;
			z-index: 99;
		}
	}
	.box-info{
		text-align: left;
		position: absolute;
		bottom: 0;
		padding: 0 20px 20px;
		h3 a{color: #fff; margin-bottom: 16px;}
		p{color: fade(#fff,70%);}
		span{color: #555;}
	}
}
.box-grid-2{
	background: #f5f5f5;
	padding-bottom: 75px;
	margin-top: 75px;
	.title{
		margin: 55px 0;
	}
	.item-box{
		padding: 10px 10px 20px;
		box-shadow: 0 3px 3px fade(#000,5%);
		background: #fff;
	}
	.box-img{
		a,img{width: 100%;}
	}
	.box-info{
		h3{margin: 20px 0 15px;}
		text-align: left;
		ul{
			margin-top: 40px;
			li{
				padding: 0 7px;
			}
		} 
	}
}
.box-overlay{
	.box-img{
		a,img{width: 100%;}
	}
	.box-info{
		padding: 0 20px 10px;
		ul{
			margin-top: 40px;
			li{
				&:first-child{border-right: none;}
				padding: 0;
			}
		} 
	}
}
.box-overlay-2{
	.item-box{
		position: relative;
		&:before{
			&:extend(.absolute);
			width: 100%;
			background: fade(#000,40%);
		}
		img{
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}
}
.box-masonery{
	.title{margin: 40px 0;}
	.box-info{
		h3{margin: 20px 0 15px;}
		p{padding: 0 15px;}
	}
	.item-post-masonry{
		margin-bottom: 45px;
		width: 33.334%;
		padding: 0 15px;
	}
	ul{
		margin-top: 40px;
		li{
			padding: 0 7px;
		}
	} 
}
.wrap-main-post{
	margin: 50px 0;
	.box-left{
		padding-right: 30px;
		border-right: 1px solid #e5e5e5;
		.number-page{
			float: right;
			a{
				width: 30px;
				height: 30px;
				border: 1px solid #e5e5e5;
				text-align: center;
				line-height: 30px;
				margin: 0 2px;
			}
		}
	}
	.box-right{
		.list-table.list-product>.title{padding-top: 0;}
		.list-table{
			margin-bottom: 10px;
			>.title{
				border-bottom: 2px solid #e5e5e5 !important;
				padding: 25px 0 10px;
				h3{
					font-size: 18px;
					margin-top: 0;
					.font-lato;
					font-weight: bold;
				}
			}
		}
		.list-product{
			>.title{
				border: none;
			}
			>ul{    margin-top: 15px;}
			>ul li{
				width: 100%;
				.title,ul{border: none;}
				.text{
					width: 100%;
					margin: 0;
				}
				ul{
					padding: 5px 0 0;
					margin-bottom: 0;
					span{
						float: right;
						font-size: 12px;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						border: 1px solid #e5e5e5;
						text-align: center;
						line-height: 20px;
					}
					li{
						margin-bottom: 10px;
					}
				}
				.title{
					padding: 5px 0;
					i{
						color: #43567e;
						font-size: 14px;
						font-weight: 100;
					}
					h3{
						font-family: 'Poppins', san-serif;
						font-size: 14px;
						margin: 0;
					}
				}
			} 
		}
	}
	.item-box{
		margin-bottom:30px;
	}
	.item-box.last-child{margin-bottom: 30px;}
	.box-info{
		margin:-43px 30px 0;
		background:fade(#fff,95%);
		padding: 20px;
		position: relative;
		>a{
			&:extend(.box-blog .info-box > a);
			margin: 25px 0 0;
		}
		h3{
			&:extend(.box-grid-2 .box-info h3);
			margin-top: 0;
		}
		ul{
			padding: 10px 0;
			border-bottom: 1px solid #e5e5e5;
			li{
				&:extend(.box-default-style .box-info ul li);
				span,a{color: #555;}
				&:first-child{padding: 0;}
			}
		} 
		ul.time-post{
			li{
				border-right: 1px solid #e5e5e5;
				&:last-child{border-right: none;}
				&:first-child{padding-right: 10px;}
			}
		} 
	}
}
.wrap-list{margin-top: 25px;}
.wrap-latest{
	span{
		font-size: 12px;
		color: #999;
	}
	.box-img,.box-text{
		float: left;
	}
	.box-img{
		padding: 5px;
		border: 1px solid #e5e5e5;
		width: 45.2%;
	}
	.box-text{
		width: 54.8%;
		padding: 8px 0 0 15px;
	}
	.item-latest{
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #e5e5e5;
	}
	.item-latest.last-child{
		border-bottom: none;
	}
	h3{
		margin: 0 0 10px;
		a{
			font-size: 14px;
			color: #555;
		}
	}
}
.box-comment{margin-bottom: 0 !important;}
.wrap-comment{
	.number{
		width: 18.52%;
		height: 50px;
		text-align: center;
		border: 1px solid #e5e5e5;
		padding: 8px 0;
		span{
			font-size: 12px;
			margin-top: -5px;
			display: inherit;
		}
		i{
			font-size: 18px;
			color: #999;
			width: 100%;
		}
	}
	.number, .box-text{float: left;}
	.box-text{
		padding:6px 0 0 20px;
		width: 81.48%;
		span{&:extend(.wrap-latest span);}
	}
	.item-comment{
		padding-bottom: 20px;
		border-bottom: 1px solid #e5e5e5;
		margin-bottom: 10px;
	}
	.item-comment.last-child{
		border-bottom: none;
		margin-bottom: 0;
	}
	h3{
		margin: 0 0 10px;
		a{
			&:extend(.wrap-latest h3 a);
		}
	}
}
.wrap-tag{
	a{
		padding:5px 10px;
		border: 1px solid #e5e5e5;
		margin: 0 6px 10px 0;
	}
}
.wrap-archives{
	a{
		width: 100%;
		margin-bottom: 10px;
	}
	span{
		font-size: 12px;
		&:extend(.wrap-main-post .box-right .list-product > ul li ul span);
	}
}
.wrap-blog-grid.box-blog .wrap-blog:hover .info-box{
	margin-top: 40px;
}
.wrap-blog-grid{
	margin: 50px 0 95px;
	display: inline-block;
	.wrap-blog{
		margin:0 0 30px;
	}
	.more a{margin-top: 0;}
} 
/********************************************************************************************************
										GRIDVIEW 
********************************************************************************************************/
.wrap-gridview{
	.title{
		padding: 25px 0 8px;
		border-bottom: 1px solid #f2f2f2;
		h3{
			&:extend(.box-utilities h3);
			float: left;
			margin: 0;
		}
	}
	.box-view{
		float: right;
		>div{float: left;}
		.sortby{
			position: relative;
			&:after{
				position: absolute;
				content: '\f0d7';
				font-family: FontAwesome;
				font-size: 15px;
				right: 15px;
				top: 7px;
			}
		}
		select{
			-webkit-appearance: none;
			padding: 3.5px 38px 3.5px 15px;
			border: 1px solid #e8e8e8;
		}
	}
	.item{margin: 0 0 30px;}
	.wrap-product{
		margin:30px 0 0;
	}
	.number-page{
		float: right;
		margin-bottom: 50px;
		ul li a{&:extend(.wrap-main-post .box-left .number-page a);}
		ul li a.active{&:extend(.wrap-main-post .box-left .number-page a.active);}
	}
}
.view-way{
	margin-left: 30px;
	a{
		width: 30px;
		height: 30px;
		text-align: center;
		line-height: 30px;
		border: 1px solid #e8e8e8;
		color: #555;
		background: #fafafa;
		margin: 0 -2px;
	}
	a.active{
		color: #fff;
	}
}
.product-rating{
	background: url(../images/rate.png) top left repeat-x;
	display: inline-block;
	width: 85px;
	height: 13px;
}
.inner-rating {
	width: 100%;
	background: url(../images/rate.png) bottom left repeat-x;
	height: 13px;
}
.list-product .list-inline li{
	width: 100%;
}
.main-content-gridview{
	margin-top: 15px;
	.list-table{
		border: 1px solid #e5e5e5;
		padding: 20px;
		margin: 20px 0 0;
		.title h3{
			.font-lato;
			font-size: 18px;
			font-weight: bold;
			margin: 0 0 20px;
		}
	}
	.box-review{
		ul li{
			width: 100%;
			span{margin-left: 5px;}
		}
		.rate-4{
			.inner-rating{width: 80%;}
		}
		.rate-3{
			.inner-rating{width: 65%;}
		}
		.rate-2{
			.inner-rating{width: 45%;}
		}
		.rate-1{
			.inner-rating{width: 20%;}
		}
	}
	.box-discount{
		ul li{
			width: 100%;
			margin-bottom: 20px;
			&:last-child{margin-bottom: 0;}
		}
	}
	.banner-sidebar{
		margin-top: 20px;
	}
	.banner-blog{
		margin-top: 0;
		.box-info{
			height: 105px;
			z-index: 999;
			h3{font-size: 30px;}
			.price span{font-size: 24px;}
			a{   
				margin: 15px 0 0; 
				font-size: 14px;
				&:hover{
					border-bottom: 1px solid transparent;
				}
			}
		}
	}
}
.list-table.box-color{
	padding: 20px 0;
}
.box-color{
	.title h3{padding: 0 20px;}
	ul{margin-top: -10px;}
	ul li{
		width: 100%;
		a{
			width: 100%;
			border: 1px solid transparent;
			padding: 3px 0;
			position: relative;
			&:hover{
				i{opacity: 1;}
			}
			i{
				color: #999;
				margin: 0 28px 0 5px;
				opacity: 0;
			}
			&:before{
				&:extend(.absolute);
				width: 15px;
				height: 15px;
				border-radius: 100%;
				top: 6px;
				left: 22px;
			}
		}
		a.cyan{
			&:before{background: #baeaff;}
		}
		a.blue{
			&:before{background: #00aefa;}
		}
		a.pink{
			&:before{background: #ff74bc;}
		}
		a.blush{
			&:before{background: #ffcaad;}
		}
		a.eggplant{
			&:before{background: #df29ae;}
		}
		a.grey{
			&:before{background: #a7a7a7;}
		}
		a.olive{
			&:before{background: #4a5b2f;}
		}
		a.White{
			&:before{background: #fff; border: 1px solid #e5e5e5;}
		}
		a.organ{
			&:before{background: #ff560b;}
		}
		a.black{
			&:before{background: #000;}
		}
	} 
}
#slider-range{
	height: 3px;
	border: none;
}
.ui-slider-range{
	background: #e5e5e5;
}
.box-range{
	position: relative;
	margin-top: 15px;
	.ui-slider-handle{
		width: 15px;
		height: 15px;
		border-radius: 100%;
		background: #000;
		border: none;
		&:before{
			position: absolute;
			content:"";
			width: 9px;
			height: 9px;
			background: #fff;
			border-radius: 100%;
			top: 3px;
			left: 3px;
		}
		span{display: none;}
	}
	ul{
		margin-top: 15px;
		li span{
			font-size: 12px;
			color: #555;
		}
		li:last-child{
			float: right;
		}
	} 
	a.btn-filter{
		min-width: 70px;
		padding: 4.5px 0;
		background: #000;
		color: #fff;
		text-align: center;
		float: right;
		margin: 15px 23px 0 0;
	}
	#amount{
		position: absolute;
		min-width: 130px;
		padding: 3.5px 0;
		border: 1px solid #e5e5e5;
		text-align: center;
		top: 113px;
	}
}
/******************************************************************************************************
												LISTVIEW 
********************************************************************************************************/
.item-listview{
	border: 1px solid #f2f2f2;
	margin-bottom: 30px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
	&:hover{
		.customize{color: #333;}
	}
	.info-box{
		padding: 25px 30px 0 0;
		p{font-size: 12px;}
	}
	.customize{
		width: 100%;
		color: #999;
		border-top: 1px solid #f2f2f2;
		padding: 13px 0 13px 93px;
	}
	.name-product{
		span{color: #555;}
		h3{margin: 2px 0;}
	}
	.rating-box{
		display: inline-block;
		.product-rating{margin: 2px 0 0;}
		.product-rating, >a, span{
			float: left;
			color: #555;
		}
		>a{
			margin: -4px 13px 0 5px;
			float: left;
		}
	}
	.price{
		font-size: 18px;
		.font-lato;
		color: #555;
		font-weight: bold;
		margin: 11px 30px 0 0;
		float: left;
		sup{&:extend(.item .box-cart .price sup);}
	}
	.cart{
		min-width: 163px;
		text-align: center;
		padding: 9.5px 0;
		text-transform: uppercase;
		font-weight: bold;
		color: #fff;
		i{margin-left: 10px;}
		&:hover{background: #000;}
	}
	.box-cart{
		padding-top: 10px;
		border-top: 1px solid #f2f2f2;
		margin: 7px 0 15px;
	}
}
.rating-box{
	position: relative;
	&:hover{
		.feedback-rating{
			opacity: 1;
			visibility: visible;
		}
	}
}
.feedback-rating{
	text-align: center;
	position: absolute;
    width: 250px;
    background: #fff;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    z-index: 9999;
	padding: 15px;
	border: 1px solid #e5e5e5;
    top: 25px;
	opacity: 0;
	.transition;
	visibility: hidden;
	ul li{
		width: 100%;
		>div{
			display: table-cell;
			vertical-align: middle;
			width: 100%;
		}
		span{
			color: #333 !important;
			.font-lato;
		}
	}
	.average-progress{
		width: 120px;
		height: 7px;
		background: #ddd;
	}
	.inner-average-progress{
		height: 100%;
	}
	>a{
		font-size: 12px;
		color: #000;
		margin-top: 5px;
	}
}

/*******************************************************************************************************
											PRODUCT SHOW 
********************************************************************************************************/
.content-tags-detail .title14 {
    margin: 0 0 18px;
    text-transform: inherit;
}
.list-none.list-tags-review li > .review-info {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 20px;
    position: relative;
}
.list-none.list-tags-review li > div {
    display: table-cell;
    vertical-align: top;
}
.list-none.list-tags-review li > .review-author {
    width: 100px;
}
.list-none.list-tags-review li {
    display: table;
    margin-bottom: 20px;
    width: 100%;
}
.review-form > div > label {
    font-weight: 400;
    height: 40px;
    left: 0;
    line-height: 40px;
    position: absolute;
    top: 0;
}
.review-form > div > input[type="text"] {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    height: 40px;
    max-width: 400px;
    padding: 0 15px;
    width: 100%;
}
.review-form > div {
    margin-bottom: 10px;
    min-height: 40px;
    padding-left: 105px;
    position: relative;
}
.review-form > div > textarea {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    max-height: 120px;
    padding: 10px 15px;
    width: 100%;
}
.review-form > div > input[type="submit"] {
    background: #555 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    font-weight: 700;
    height: 40px;
    margin-top: 10px;
    padding: 0 30px;
    text-transform: uppercase;
	.transition;
}
.review-form .rating-box{
	padding-top: 10px;
}
.detail-addition, .content-tags-detail{
	padding-top: 30px;
}
.zoomContainer .zoomLens{
	border:2px solid #555 !important;
}
.banner-show{text-align: center;}
.box-breadcrumb-sp{
	border-top: 0;
}
.cate-header-sp{
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 5px;
	a{
		padding: 20px 0 10px;
	}
}
.main-detail{
	margin-top: 20px;
}
.detail-product{
	padding-left: 60px;
    position: relative;
	p{
		text-align: center;
		margin-top: 12px;
		color: #555;
	}
}
.thumb-carousel{
	&:extend(.absolute);
	width: 50px;
}
.detail-product .mid{position: relative;}
.icon-video{
	position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
	color: #fff !important;
    border-radius: 5px;
    bottom: 50px;
    right: 20px;
	z-index: 9999;
	&:hover{
		background: #49d560;
	}
}
.carousel-detail.carousel-detail-video{height: 170px !important;}
.carousel-detail{
	height: 220px!important;
    padding-top: 50px;
	ul li{
		padding: 5px;
		width: 100% !important;
		min-height: 50px;
	}
	a{
		margin-bottom: 5px;
		border: 1px solid transparent;
	}
}
.text-grey{
	color: #555;
}
.text-red{
	color: #bd0000;
}
.text-green{
	color: #00b709;
	display: table;
	margin-bottom: 15px;
}
.text-color{
	color: #000;
}
p.text-grey{display: inline-block;}
.name-pro{
	border-bottom: 1px solid #f2f2f2;
    margin-bottom: 15px;
	.rating-box{
		i{
			color: #555;
			margin: 0 10px 0 5px;
		}
	}
	>p{
		font-size: 24px;
		.font-lato;
		padding-bottom: 5px;
	}
}
.price-pro{
	.sp-1{margin-left: 37px;}
	.sp-2{margin-left: 42px;}
	.sp-3{margin-left: 8px;}
}
.img-pro{
	li{
		width: 30%;
		border: 1px solid #f2f2f2;
		.transition;
		margin-right: 10px;
		padding: 5px;
		img{
			width: 36.1%;
			margin-right: 10px;
		}
	}
}
.detail-info{
	.text-box{
		margin-top: 30px;
		p{
			position: relative;
			padding-left: 15px;
		}
		i{
			font-size: 7px;
			top: 7px;
			&:extend(.absolute);
		}
	}
}
.detai-cart{
	border: 1px solid #e5e5e5;
	padding: 20px;
	input[type="text"]{
		width: 115px;
		height: 40px;
		padding: 10px;
		border: 1px solid #e5e5e5;
		-webkit-appearance: none;
		position: relative;
		margin-left: 5px;
	}
	.qty-box{
		position: relative;
		display: inline-block;
		&:after{
			&:extend(.select-box::after);
			content: "\f0d7";
			top: 14px;
			color: #555;
		}
	}
	.product-extra-link{
		margin-top: 20px;
		&:extend(.box-shape .info-box .product-extra-link);
		>a{
			&:extend(.box-shape .info-box .product-extra-link>a);
			min-width: 230px;
			padding: 14px 0;
			&:hover{
				&:extend(.box-shape .info-box .product-extra-link>a:hover);
			}
		}
	}
	.info-cart{
		margin: 35px 0 20px;
		p{color: #555;}
		span{color: #555;}
	}
	.socical-box{
		span{color: #0266bc;}
		text-align: center;
		.fa-facebook-official{color: #3664a2;}
		.fa-twitter{color: #65add3;}
		.fa-pinterest{color: #dc1609;}
		i{margin-left: 5px;}
	}
}
.box-tab-detail{
	margin-top: 40px;
	h2{
		font-size: 14px;
		font-weight: bold;
		margin: 0;
	}
	.nav-tabs{
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		li{    margin-right: 33px;}
		li>a{
			border: none;
			border-bottom: 2px solid transparent;
			padding: 20px 0 ;
			&:hover{
				background: #fff;
			}
		}
		li.active{
			>a{
				border-top: none;
				border-left: none;
				border-right: none;
			}
		}
	}
	h3{
		font-size: 18px;
		color: #555;
	}
	.title{
		width: 100%;
		margin-bottom: 27px;
	}
	.info-item{
		margin-bottom: 18px;
	}
	.img-box,.txt-box{float: left;}
	.img-box{width: 25.6%;}
	.txt-box{
		width: 70%;
		margin-left: 30px;
	}
}
.lastest-pro-detail{
	border-top: 1px solid #f2f2f2;
	margin: 50px 0;
	.title{
		padding: 10px 0 15px;
		h3{
			font-size: 24px;
			margin: 0;
			.font-lato;
		}
	} 
	.wrap-pro{
		margin: 0 -15px;
		.owl-carousel .owl-wrapper-outer{padding-bottom: 15px;}
	}
	.item{margin: 0 15px;}
}
.carousel-detail-service{
	height: 170px!important;
}
.img-pro-service li{
	width: 13.5%;
	img{
		width: 100%;
	}
} 
.txt-delivery{
	border-bottom: 1px solid #f2f2f2;
	padding: 25px 0 3px;
	span{
		font-weight: bold;
	}
}
.check-box{
	margin: 10px 0 25px;
	span{color: #555;}
	a{
		position: relative;
		padding-left: 25px;
		&:before{
			&:extend(.absolute);
			width:12px;
			height: 12px;
			border: 1px solid #e5e5e5;
			background: #f8f8f8;
			top: 5px;
		}
		&:after{
			&:extend(.absolute);
			content:"\f00c";
			font-family: FontAwesome;
			top: 6px;
			left: 2px;
			opacity: 0;
			font-size: 9px;
		}
		&:active{
			&:after{opacity: 1;}
		}
	}
}
.size-pro{
	p{
		color: #555;
		span{color: #555; font-weight: bold;}
	}
	ul{    margin: 12px 0 20px;}
	a{
		padding: 14.5px 15.5px;
		border: 1px solid #f2f2f2;
		margin-right: 5px;
	}
}
.size-select{
	position: relative;
	margin-bottom: 20px;
	select{
		&:extend(.detai-cart select);
	}
	option{
		border: 1px solid #f2f2f2;
		padding: 15px 0;
	}
	&:after{
		&:extend(.detai-cart .qty-box:after);
		left: 130px;
	}
}
.buy-new{
	span.text{
		&:after{
			&:extend(.absolute);
			width: 6px;
			height: 6px;
			border-radius: 100%;
			top: 6px;
			left: 6px;
		}
	}
}
.buy-used{
	padding: 10px 20px;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
	margin: 34px -20px;
    background: #f9f9f9;
}
.buy-box{
	margin-bottom: 20px;
	span.text{
		font-weight: bold;
		position: relative;
		padding-left: 30px;
		&:before{
			&:extend(.absolute);
			width: 18px;
			height: 18px;
			border-radius: 100%;
			border: 1px solid #575757;
		}
	}
	span.price{
		color: #bd0000;
		float: right;
	}
}
.socical-box-buy{
	margin-top: 46px;
}
/********************************************************************************************************
										QUICKVIEW 
*********************************************************************************************************/
.item-qickview{
	margin: 0 15px;
}
.box-quickview-pro{
	padding: 50px;
	border-bottom: 1px solid #f2f2f2;
	.price{&:extend(.box-shape .info-box .price);}
	.old-price{&:extend(.box-shape .info-box .price .old-price);}
	.new-price{&:extend(.box-shape .info-box .price .new-price);}
	p{
		&:extend(.box-shape .info-box>p);
		a{font-weight: bold;}
	}
	.product-extra-link{
		&:extend(.box-shape .info-box .product-extra-link);
		>a{
			&:extend(.box-shape .info-box .product-extra-link>a);
			i{&:extend(.box-shape .info-box .product-extra-link>a i);}
			&:hover{
				&:extend(.box-shape .info-box .product-extra-link>a:hover);
				i{color: #fff;}
			}
		}
	}
	h3{margin: 0;}
	.box-icon-sn{
		text-align: center;
		margin-top: 50px;
	}
	.owl-theme .owl-controls .owl-buttons div.owl-next{right: -15px;}
	.owl-theme .owl-controls .owl-buttons div.owl-prev{left: -15px;}
}
.box-related{
	.title{
		text-align: center;
		.font-lato;
		margin: 40px 0 30px;
	}
	.box-img img{margin-bottom: 20px;}
}
/********************************************************************************************************
											CUSTOMIZE 
********************************************************************************************************/
.header-customize{
	padding: 20px 0;
	position: relative;
    z-index: 999;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	.box-left{
		img{width: 10.5%;}
		img,p{float: left;}
		p{    margin: 17px 0 0 12px;}
	}
	sup{
		font-size: 12px;
	}
	span.price{
		margin-left: 5px;
	}
	span{margin-top: 10px;}
	p,span{
		.font-lato;
		font-size: 18px;
		float: left;
	}
	a.cart{
		width: 160px;
		height: 40px;
		line-height: 38px;
		box-shadow: none;
		font-weight: bold;
		border: none;
		color: #fff;
		i{margin-left: 10px;}
		float: left;
		text-align: center;
	}
	.box-right{float: right;}
}
.detail-qty{
	width: 80px;
	height: 40px;
	line-height: 40px;
	float: left;
    border: 1px solid #f2f2f2;
	position: relative;
	margin: 0 10px 0 15px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);
	.btn-qty{
		width: 15px;
		height: 30px;
		background: #f2f2f2;
		border-radius: 5px;
		line-height: 15px;
		margin: 4px 0 0 55px;
		padding: 0 0 0 2.5px;
	}
	.qty-val{margin:0 0 0 20px;}
}
.customize-pro{
	background: #f2f2f2;
	text-align: center;
	padding: 50px 0;
	.title{margin-bottom: 45px;}
	.box-pro{
		width: 65%;
		margin: auto;
	}
	.info{
		margin: 10px 0 10px;
	}
	.box-item{
		width: 19.6%;
		display: inline-block;
		background: #fff;
		border: 1px solid transparent;
		margin-bottom: 3px;
		position: relative;
		&:hover{
			&:before{opacity: 1;}
		}
		&:before{
			background: rgba(255,255,255,0.9);
			&:extend(.absolute);
			z-index: 999;
			opacity: 0;
			.transition;
		}
		>a{
			position: relative;
			i{
				font-size: 30px;
				position: absolute;
				top: 50px;
				opacity:0;
			}
			&:active{ i{opacity:1;}}
		} 
		span{
			width: 100%;
			display: table;
			.font-lato;
		}
		span.price{
			font-size: 18px;
			font-weight: bold;
			margin-top: 8px;
		}
		sup{font-size: 12px;}
	}
}
/******************************************************************************************************
												ABOUT 
*******************************************************************************************************/
.item-about-service1{
	background:#f4ca49;
}
.item-about-service2{
	background:#ff607c;
}
.item-about-service3{
	background:#37436d;
}
.blockquote{
	border-radius: 10px;
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    line-height: 30px;
    margin: 50px auto;
    max-width: 900px;
    padding: 47px 60px;
    position: relative;
    background: #f2f2f2;
	&:after{
		bottom: 30px;
		content: "";
		left: 0;
		position: absolute;
		top: 30px;
		width: 10px;
	}
}
.content-about{
	margin-top: 50px;
	.title30{
		margin-bottom: 30px;
	}
}
.toggle-tab-title h2{
	font-size: 14px;
    text-transform: uppercase;
    padding: 12px 15px 12px 0;
    border-bottom: 1px solid #e5e5e5;
    min-height: 40px;
}
.toggle-tab-title span{
	&:extend(.absolute);
	color: #fff;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
}
.toggle-tab-title{
	cursor: pointer;
    position: relative;
	min-height: 40px;
    padding-left: 50px;
}
.toggle-tab-title::after{
	content: "\f107";
    position: absolute;
    font-family: fontAwesome;
    top: 12px;
    right: 0;
}
.about-accordion .item-toggle-tab.active .toggle-tab-title::after{
	content: "\f106";
}
.item-about-client .client-info::before{
	color: #999;
    content: "\f10d";
    font-family: fontAwesome;
    position: absolute;
    top: 5px;
    left: -20px;
}
.item-about-client{
	margin: 0 15px;
	position: relative;
    padding-left: 115px;
    min-height: 150px;
	.client-thumb{
		position: absolute;
		top: 5px;
		left: 0;
	}
	.client-info{
		position: absolute;
	}
}
.about-why-choise {
    margin-bottom: 50px;
}
.about-client > h2.title18{
	margin-bottom: 45px;
}
.about-client {
    margin-bottom: 80px;
}
.client-info .title14{
	margin-top: 15px;
}
.client-info span{
	color: #555;
}
.item-about-service {
    padding: 40px 15px 70px;
    margin-bottom: 30px;
}
.item-about-service > a {
    font-size: 90px;
    color: #fff;
}
.banner-form-about{
	margin-bottom: 75px;
}
.toggle-tab-content{
	display: none;
}
.box-map iframe{
	width: 100%;
	height: 400px;
}
.content-contact-page{
	margin-top: 50px;
}
.content-contact-page .title30 {
    margin-bottom: 25px;
}
.contact-page-info{
	max-width: none;
    line-height: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
	background: #fff;
}
.contact-box span.color {
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 50px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.contact-box label {
    font-weight: 400;
    min-width: 90px;
    margin-bottom: 13px;
    margin-top: 5px;
}
.contact-box {
    position: relative;
    padding-left: 74px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.contact-box:last-child {
    margin: 0;
}
.contact-box .list-inline-block li{
	width: 100%;
}
.contact-form input[type="text"] {
    height: 40px;
    display: block;
    width: 100%;
    border: 1px solid #e5e5e5;
    background: #fff;
    color: #555;
    padding: 0 20px;
    margin-bottom: 10px;
}
.contact-form textarea {
    display: block;
    width: 100%;
    border: 1px solid #e5e5e5;
    color: #555;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.contact-form input[type="submit"], .contact-form input[type="reset"] {
    border: navajowhite;
    font-weight: 400;
    padding: 0 30px;
	height: 40px;
    line-height: 40px;
	color: #fff;
    text-transform: uppercase;
	text-align: center;
    border-radius: 6px;
}
.contact-form input[type="reset"] {
	background:#232f3e;
}
.contact-accordion .toggle-tab-title {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    padding: 13px 0;
}
.contact-accordion {
    background: #fff;
}
.contact-accordion .item-toggle-tab {
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    margin-top: -1px;
    padding: 0 20px;
}
.contact-accordion .toggle-tab-content {
    padding-bottom: 25px;
}
.contact-accordion .toggle-tab-title::after {
    content: "\f067";
    position: absolute;
    font-family: fontAwesome;
    right: 0;
    top: 13px;
}
.contact-accordion .item-toggle-tab.active .toggle-tab-title::after {
    content: "\f068";
}
.contact-form > h2.title18,.contact-faq .title18 {
    margin-bottom: 30px;
}
/*******************************************************************************************************
										Pages					
********************************************************************************************************/
.page-coming-soon {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
}
.page-coming-soon {
    background-image: url(../images/pages/coming.jpg);
}
.page-coming-soon::before{
	&:extend(.absolute);
	bottom:50%;
	background:fade(#000,10%);
}
.content-coming-soon {
    .absolute;
    height: 520px;
    max-width: 770px;
    margin: auto;
	z-index:10;
}
.content-coming-soon h2 {
    margin-bottom: 30px;
}
.form-coming {
    max-width: 430px;
    margin: auto;
    width: 100%;
    display: flex;
    display: -webkit-flex;
	margin-bottom:50px;
}
.form-coming input[type="text"] {
    height: 50px;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    display: block;
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 0 30px;
    background: transparent;
    color: #fff;
    margin-right: 10px;
}
.form-coming input[type="submit"] {
    padding: 0 30px;
    height: 50px;
    border-radius: 25px;
    border: none;
	color:#fff;
}
.coming-social a{
	height:30px;
	width:30px;
	text-align:center;
	border-radius:50%;
	line-height:30px;
	background:fade(#fff,10%);
	margin:0 3px;
}
.coming-social a:hover{
	color:#fff;
}
.coming-countdown {
    width: 388px;
    margin: 45px auto 70px;
}
.coming-countdown > .time_circles > div {
    display: inline-block;
    width: 87px!important;
    height: 87px;
    text-align: center;
    position: relative;
    top: 0!important;
    left: 0!important;
    margin: 0 5px;
    background: #fff;
    color: #333;
    border-radius: 50%;
    padding-top: 10px;
    z-index: 1;
}
.coming-countdown > .time_circles > canvas {
    margin-bottom: -98px;
    position: relative;
    z-index: 2;
}
.coming-countdown > .time_circles > div > .number {
    font-size: 24px;
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    position: relative;
}
.coming-countdown > .time_circles > div > .text {
    font-size: 11px;
}
.coming-countdown > .time_circles > div > .number::after {
    position: absolute;
    height: 3px;
    width: 20px;
	left:50%;
	margin-left:-10px;
	bottom:-4px;
	content:"";
}
.coming-countdown > .time_circles > div::before {
    position: absolute;
    bottom: -10px;
    left: -10px;
    right: -10px;
    top: -10px;
    content: "";
    border-radius: 50%;
	box-shadow:0 0 0 10px fade(#fff,30%);
}
.window-popup::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    background: #f3f3f3;
    content: "";
}
.login-form.form-coming {
    display: block;
    max-width: none;
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
}
.login-form.form-coming input[type="text"] {
    color: #999;
    border-color: #e5e5e5;
    background: #fff;
    max-width: 300px;
    width: 100%;
    margin: 0 0 15px;
}
.login-form.form-coming input[type="submit"] {
    font-weight: 700;
    padding: 0 40px;
}
.login-box {
    position: relative;
    z-index: 1;
    padding: 30px;
    margin: 0 -15px;
}
.login-register {
    padding: 0 15px;
}
.login-box .or-lore {
    position: absolute;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 50%;
    left: -20px;
    top: 150px;
}
.login-form.form-coming input[type="text"].inline-block {
    max-width: 170px;
    display: inline-block;
    margin-right: 7px;
}
.login-box .title-login {
    border-bottom: 1px solid #e5e5e5;
    margin: 0 -30px;
    padding: 0 30px 25px;
}
.login-box .lost-password {
    color: #ff4949;
    display: inline-block;
    margin: 7px 0 0;
}
.login-box label {
    font-weight: 400;
    margin: 0 5px;
    color: #999;
}
.login-form input[type="checkbox"] {
    border: 1px solid #e5e5e5;
    margin: 3px 0 0;
    vertical-align: top;
}
.login-box .or-lore{
	background:#121b60;
}
.login-box .coming-social{
	margin:30px -3px 0;
}
/*End About Pages*/
/*Begin Woocommerce*/
.woocommerce table.shop_table {
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
    border-radius: 0;
    margin: 0 0 50px;
    text-align: left;
    width: 100%;
}
.woocommerce table.shop_table thead {
    background: #f4f4f4 none repeat scroll 0 0;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
}
.woocommerce table.shop_table thead th {
    padding: 15px 20px;
}
.woocommerce table.shop_table td {
    border-top: 1px solid #e5e5e5;
    padding: 15px 20px;
    vertical-align: middle;
}
.woocommerce table, .woocommerce th, .woocommerce td {
    border: 1px solid #e5e5e5 !important;
    color: #555;
    margin: 0;
    padding: 15px 20px !important;
}
.woocommerce tfoot th{
	text-transform:uppercase;
}
#shipping_method  li {
    padding: 10px 0;
}
#shipping_method li label {
    cursor: pointer;
    margin: 0;
    padding-left: 25px;
    position: relative;
}
#shipping_method  li input[type="radio"]{
	display:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
#shipping_method li input[type="radio"] + label::before {
	line-height: 13px;
}
}
#shipping_method li input[type="radio"] + label::before {
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 6px;
    font-weight: 400;
    height: 14px;
    left: 0;
    line-height: 13px;
    margin-right: 10px;
    position: absolute;
    text-align: center;
    top: 2px;
    vertical-align: middle;
    width: 14px;
}
#shipping_method  li  input[type="radio"]:checked  + label::before {
	content: "\f111";
}
.payment_methods.methods {
    border: 1px solid #e5e5e5;
    margin: 0 0 -1px;
}
.payment_methods.methods li {
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
}
.payment_methods.methods li:last-child{
	border:none;
} 
.payment_methods.methods li label {
    font-size: 18px;
    margin: 0 0 0 7px;
    text-transform: uppercase;
}
.payment_box.payment_method_bacs > p {
    margin: 5px 0 0;
    padding-left: 24px;
}
.payment_method_paypal img {
    margin: -6px 10px 0;
    max-width: 160px;
}
.form-row.place-order {
    border: 1px solid #e5e5e5;
    padding: 20px;
    text-align: right;
}
.form-row.place-order input[type="submit"] {
    border: medium none;
    color: #fff;
    height: 40px;
    padding: 0 25px;
    text-transform: capitalize;
	.transition;
}
.form-row.place-order input[type="submit"]:hover{
	background-color:#000;
}
.form-my-account select {
    border: 1px solid #e5e5e5;
    color: #999;
    height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    width: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.form-my-account select option{
	text-transform: capitalize;
	font-weight:400;
	padding:10px 20px;
}
.woocommerce table.shop_table td.actions {
    text-align: right;
}
.woocommerce table.shop_table td .coupon {
    float: left;
}
.woocommerce table.shop_table td.actions input[type="submit"] {
    border: medium none;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.woocommerce table.shop_table td.actions input[type="submit"]:hover {
	background: #000 none repeat scroll 0 0;
}
.woocommerce table.shop_table td.actions input[type="text"] {
    border:1px solid #e5e5e5;
    color: #999;
    height: 40px;
    padding: 0 20px;
}
.woocommerce .cart-content-page table.shop_table thead{
	background:#f4f4f4;
}
.woocommerce .cart-content-page table.shop_table thead th {
    border-color: #e5e5e5;
    color: #333;
}
.woocommerce .cart-content-page table.shop_table .product-thumbnail img {
    max-width: 70px;
} 
.cart-collaterals .cart_totals > h2 {
    background: #f4f4f4 none repeat scroll 0 0;
    border: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 -1px;
    padding: 15px 20px;
    text-transform: uppercase;
}
.wc-proceed-to-checkout a.checkout-button {
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 20px 0 0;
    padding: 0 25px;
    text-transform: uppercase;
	.transition;
}
.wc-proceed-to-checkout a.checkout-button:hover{
	background-color:#000;
}
.cart-collaterals{
	margin-bottom: 70px;
}
.detail-qty-cart {
    width: 120px;
    height: 36px;
    line-height: 36px;
    padding: 0 14px;
    color: #999;
    position: relative;
}
.detail-qty-cart a {
    position: absolute;
    top: 0px;
    font-size: 18px;
}
.detail-qty-cart .qty-up {
    right: 13px;
}
.detail-qty-cart .qty-down {
    right: 40px;
}
.wrap-qty-cart > div {
    display: inline-block;
    vertical-align: text-bottom;
    margin: 0 3px;
}
/*End Wooocommerce*/
.title-shop-page{
	margin: 0 0 35px;
    text-align: center;
    text-transform: uppercase;
}
.table-custom > div {
    display: table-cell;
    vertical-align: top;
}
.table-custom {
    display: table;
    margin: 0;
    width: 100%;
}
.shop-button.bg-color {
    border: none;
    color: #fff;
}
.shop-button{
	padding: 0 20px;
    display: inline-block;
    border: 1px solid #555;
    line-height: 40px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    background: #fff;
}
/************************************************************************************************
											Cart/Checkout
************************************************************************************************/
.form-my-account input[type="text"] {
    border: 1px solid #e5e5e5;
    color: #999;
    height: 40px;
    padding: 0 20px;
    text-transform: uppercase;
    width: 100%;
}
.form-my-account .title {
    margin-bottom: 26px;
}
.form-my-account {
    max-width: 500px;
	width:100%;
	margin-bottom: 70px;
}
.account-register {
    float: left;
    position: relative;
    width: 100%;
}
.account-register .form-my-account {
    float: right;
}
.account-register::before {
    border-right: 1px solid #e5e5e5;
    content: "";
    height: 100%;
    left: -15px;
    position: absolute;
    top: 0;
    width: 1px;
}
.form-my-account > p {
    margin-bottom: 20px;
    max-width: 500px;
    position: relative;
}
.form-my-account label {
    color: #555;
    font-weight: 400;
    margin: 0;
}
.form-my-account .ship-address label {
    color: #333;
}
.form-my-account input[type="checkbox"] + label::before {
    border: 1px solid #e5e5e5;
    content: "";
    display: inline-block;
    font-family: "FontAwesome";
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    line-height: 18px;
    margin-right: 17px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
.form-my-account input[type="checkbox"]:checked+label::before{
    content:"\f00c";
}
.form-my-account input[type="checkbox"] {
    display:none;
}
.form-my-account input[type="submit"] {
    border: medium none;
    color: #fff;
    height: 40px;
    margin-top: 10px;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    width: 110px;
}
.form-my-account > p:last-child {
    margin: 0;
}
.box-col2 input[type="text"] {
    float: left;
    width: 47.5%;
}
.box-col2 input[type="text"]:first-child {
    margin-right: 5%;
}
.form-my-account textarea {
    border: 1px solid #e5e5e5;
    color: #999;
    padding: 10px 15px;
    text-transform: uppercase;
    width: 100%;
}
.ship-address > label {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.check-billing {
    border-right: 1px solid #e5e5e5;
    margin-right: -15px;
}
.check-address {
    float: left;
    width: 100%;
}
.check-address .form-my-account {
    float: right;
}
.order_review_heading {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin: -10px 0 -1px;
    padding: 20px;
    position: relative;
    text-transform: uppercase;
	background:#333;
}
.shop_table.woocommerce-checkout-review-order-table thread{
	position:relative;
}
td.product-thumbnail img {
    max-width: 100px;
}
.woocommerce-checkout-review-order{
	margin-bottom: 70px;
}
/*End Cart,Checkout*/
/*************************************************************************************************
										Login/Register 
**************************************************************************************************/
.title-form-account {
    margin-bottom: 20px;
	text-transform:uppercase;
	color:#000;
}
.register-content-box .form-my-account label {
    margin-bottom: 10px;
}
.register-content-box .form-my-account span.required {
    color: #ff0000;
}
.register-content-box .register-button {
	&:extend(a.shop-button);
    display: block;
    width: 100%;
    text-transform: uppercase;
    border: none;
	background:#333;
	.transition;
}
input.register-button.save-change{
	width:100%;
}
.register-content-box .form-my-account .title18 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-content-box .form-my-account .title18::before {
    content: "";
    flex: 1 0 0;
    border-top: 1px solid #e5e5e5;
    margin-right: 15px;
}
.register-content-box .form-my-account .title18::after {
    flex: 1 0 0;
    border-top: 1px solid #e5e5e5;
    content: "";
    margin-left: 15px;
}
.form-my-account .title18 {
    margin-bottom: 26px;
	text-transform:uppercase;
}
.register-content-box .form-my-account p {
    margin-bottom: 15px;
}
.register-content-box .form-my-account>p {
    margin-bottom: 25px;
}
.social-login-block .social-login-btn {
    padding:0 5px;
	width:50%;
}
.social-login-block .social-login-btn a {
    color: #fff;
	display:block;
	position:relative;
	height:40px;
	line-height:40px;
	text-transform:uppercase;
}
.register-content-box  .form-my-account input[type="checkbox"] + label::before {
    font-size: 10px;
    height: 14px;
    line-height: 12px;
    margin-right: 10px;
    width: 14px;
}
.social-login-block .social-login-btn a.login-fb-link{
	background:#3B5998;
	margin-left:-5px;
}
.social-login-block .social-login-btn a.login-goo-link{
	background:#ea4235;
	margin-right:-5px;
}
.social-login-block .social-login-btn a::before{
	font-family:fontAwesome;
	position:absolute;
	top:0;
	left:15px;
}
.social-login-block .social-login-btn a.login-fb-link::before{
	content:"\f09a";
}
.social-login-block .social-login-btn a.login-goo-link::before{
	content:"\f1a0";
}
.block-register{
	display:none;
}
.create-account .text-right a:hover{
	text-decoration:underline;
}
.my-profile-box .form-my-account {
    margin: auto;
}
/*************************************************************************************************
									End	Login/Register 
**************************************************************************************************/
