<template>
    <div style="position: relative;">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.Vendor') }}</label>
                    <select class="form-control" v-model="newPorderData.vendor_id">
                        <option value="-1" disabled selected>{{ $t('admin.Select_Vendor') }}</option>
                        <option v-for="(vendor) in vendors" :value="vendor.id" :key="vendor.id">
                            {{ syslng === 'ar' ? vendor.name_ar : vendor.name_en }} 
                        </option>
                    </select>						
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.Currency') }}</label>
                    <select class="form-control" v-model="newPorderData.currency_id">
                        <option value="-1" disabled selected>{{ $t('admin.Select_Currency') }}</option>
                        <option v-for="(c) in currencies" :value="c.id" :key="c.id">
                            {{ c.code }}
                        </option>
                    </select>						
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.Number') }}</label>
                    <input type="text" class="form-control" v-model="newPorderData.number">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.Date') }}</label>
                    <input type="date" class="form-control" v-model="newPorderData.date">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="email">{{ $t('admin.Referance') }}</label>
                    <input type="text" class="form-control" v-model="newPorderData.reference">
                </div>
            </div>
        </div>
        <hr>
        <div class="row" v-for="(item,index) in pOrderItems" :key="index">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Item_Description') }}</label>
                    <select class="form-control" v-model="item.product_id">
                        <option value="-1" disabled selected>{{ $t('admin.Select_Item') }}</option>
                        <option v-for="(it) in items" :value="it.id" :key="it.id">
                            {{ it.title }}
                        </option>
                    </select>						
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Vendor_Referance') }}</label>
                    <input type="text" class="form-control" v-model="item.vendor_reference">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Vendor_Price') }}</label>
                    <input type="text" class="form-control" v-model="item.unit_price">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Qty') }}</label>
                    <input type="number" class="form-control" v-model="item.qty" @input="calcTotal" min="1">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="upper" for="name" v-if="index == 0">{{ $t('admin.Total') }}</label>
                    <input type="text" class="form-control" v-model="item.total">
                </div>
                
            </div>
            <div class="col-md-1">
                <i class="glyphicon glyphicon-trash" @click="removeItem(index,item)" v-if="index != 0"></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <button class="btn btn-info" @click="addNewItem">{{ $t('admin.add_new_item') }}</button>
            </div>
            <div class="col-md-3 pull-left">
                <div class="form-group">
                    <label class="upper" for="name">{{ $t('admin.Total') }}</label>
                    <input type="text" class="form-control" v-model="total">
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-7">
                <label for="">الشروط والأحكام</label>
                <textarea class="form-control input-lg" rows="3" v-model="newPorderData.terms"></textarea>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4 pull-left">
                <button class="btn btn-success" @click="savePO">{{ $t('admin.savepo') }}</button>
                <button class="btn btn-danger" @click="cancel">{{ $t('admin.canceladd') }}</button>
            </div>
        </div>
        <moon-loader :loading="loading" :color="color"></moon-loader>
    </div>
</template>

<script type="text/javascript">
import {getOrder,updateAction,removeItemFromOrder} from './../../BackEnd-Calls'
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'

    export default {
        data() {
            return {
                
                newPorderData: {vendor_id:'-1',currency_id:'-1'},
                pOrderItems : [{total:0,qty:0,unit_price:0}],
                total: 0,
                loading: false,
                color: '#2c343c',
            }
        },
        props: {
            syslng : String,
            vendors : Array,
            currencies : Array,
            items : Array,
            id: Number
        },
        components: {
            'MoonLoader':MoonLoader,
        },
        watch:{
            'pOrderItems': function(oldval,newval){
                this.calcTotal()
            }
        },
        created(){
            this.getData()
        },
        methods:{
            getData(){
                this.loading = true
                getOrder(this.id).then(response => {
                    this.newPorderData = response.data
                    this.pOrderItems = response.data.order_items
                    this.loading = false
                })
                .catch(error => {
                    console.log(error)
                    this.errornotification('Error Ocured')
                    this.loading = false
                })
            },
            
            addNewItem(){
                this.pOrderItems.push({total:0,qty:0,unit_price:0})
            },
            removeItem(index,item){
                this.$dialog.confirm("Are you sure you want to delete this item?",{
                okText: 'Yes',
                cancelText: 'No',
                })
                .then((dialog) => {
                    this.loading = true
                    if(item.id){
                        removeItemFromOrder(item.id).then(response => {
                            this.succesnotification('Item Deleted from order')
                            this.getData()
                            
                        })
                        .catch(error => {
                            console.log(error)
                            this.errornotification('Error Ocured')
                            this.loading = false
                        })
                    }else {
                        this.pOrderItems.splice(index,1)
                        this.succesnotification('Item Deleted from order')
                    }
                })
                
            },
            calcTotal(){
                this.total = 0
                this.pOrderItems.forEach(element => {
                    element.total = element.unit_price * element.qty
                    this.total += element.total
                });
            },
            savePO(){
                this.loading = true
                console.log(this.newPorderData)
                updateAction(this.id,{poData:this.newPorderData,items:this.pOrderItems}).then(response => {
                    this.loading = false
                    this.getData()
                    return response.data
                })
                .catch(error => {
                    console.log(error)
                    this.loading = false
                })
            },
            cancel(){

            },
              succesnotification(message) {
                this.$snotify.success(message, {
                    timeout: 2000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
            },
            errornotification(message) {
                this.$snotify.error(message, {
                    timeout: 8000,
                    showProgressBar: false,
                    closeOnClick: true,
                    pauseOnHover: true
                });
            },
            
        },
    
    }
</script>

<style scoped>
.v-spinner {
    padding: 0px;
    position: absolute;
    top: 0;
    background: #00000026;
    width: 100%;
    height: 100%; 
}
.notice {
    cursor: pointer;
}
</style>