<template>



        <div class="row " >
            <div class="container-fluid">

        <table class="table table-responsive table-striped table-dark">
            <thead >
            <tr>
                <th scope="col">#</th>
                <th scope="col">{{$t('admin.billNum')}}</th>
                <th scope="col">{{$t('admin.client_name')}}</th>
                <th scope="col">{{$t('admin.reference')}}</th>
                <th scope="col">{{$t('admin.created_at')}}</th>
                <th scope="col">{{$t('admin.print')}}</th>
                <th scope="col">{{$t('backLang.showing')}}</th>

            </tr>
            </thead>
            <tbody>

            <tr v-for="(item,index) in list">
                <th scope="row">{{index+1}}</th>
                <td>{{item.number}}</td>
                <td>{{item.client_name}}</td>
                <td>{{item.refrance}}</td>

                <td>{{moment(item.created_at.date).locale(lang).fromNow()}}</td>
                <td >
                    <a v-bind:href="url('/sales-bills/invoice/'+item.id)" class="btn btn-success">
                        <i class="fa fa-print"></i>
                    </a>
                </td>
                <td>


                    <a @click.prevent="showOrder(index)">
                        <button class="btn btn-primary"><i class="fa fa-eye"></i></button>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
        </div>
        </div>

</template>

<script>
    export default {

        props:['showOrder','url','list','moment','lang'],







    }





</script>

<style scoped>
    thead {
        color:white;
        background-color:black;


    }


</style>