<template>
    <div :class="['col-xs-12' ,'col-md-8' ,lang=='ar' ? 'col-md-pull-2' : '','col-md-offset-2']    ">

        <button class="btn btn-primary" @click="back"><i v-if="lang=='ar'" class="fa fa-arrow-right"></i>
            <i v-else class="fa fa-arrow-left"></i>
        </button>

        <div class="box-header row text-center">

                <div class="row">
                    <p id="invloce-head" class="h2 text-center"> {{ $t('admin.billNum') + " : " +order.number}}</p>
                    <hr class="invoice-border">
                </div>


        </div>


            <div class="row">
                <div class="container-fluid">

                    <div class="row text-center" >
                        <div class="col-xs-6 col-xs-push-6" v-if="lang=='ar'">
                            <div class="row ">
                                <p class="h6">{{ $t('backLang.issued_through')}}</p>
                                <hr class="invoice-border">
                            </div>

                            <div class="row">
                                <p class="h6" v-if="lang=='ar'">{{order.issued_by.name_ar}}</p>
                                <p class="h6" v-else>{{order.issued_by.name_en}}</p>


                            </div>

                        </div>

                        <div class="col-xs-6" v-else>
                            <div class="row ">
                                <p class="h6">{{ $t('backLang.issued_through')}}</p>
                                <hr class="invoice-border">
                            </div>

                            <div class="row">
                                <p class="h6" v-if="lang=='ar'">{{order.issued_by.name_ar}}</p>
                                <p class="h6" v-else>{{order.issued_by.name_en}}</p>


                            </div>

                        </div>

                        <div v-if="lang=='ar'" class="col-xs-6 col-xs-pull-6">
                            <div class="row">
                                <p class="h6">{{$t('backLang.delivered_to')}}</p>
                                <hr class="invoice-border">
                            </div>

                            <div class="row">
                                <p class="h6" v-if="lang=='ar'">
                                    {{order.received_by.name_ar}}
                                </p>
                                <p class="h6" v-else>
                                    {{order.received_by.name_en}}
                                </p>


                            </div>

                        </div>

                        <div v-else class="col-xs-6 ">
                            <div class="row">
                                <p class="h6">{{$t('backLang.delivered_to')}}</p>
                                <hr class="invoice-border">
                            </div>

                            <div class="row">
                                <p class="h6" v-if="lang=='ar'">
                                    {{order.received_by.name_ar}}
                                </p>
                                <p class="h6" v-else>
                                    {{order.received_by.name_en}}
                                </p>


                            </div>

                        </div>
                    </div>

                    <hr class="invoice-border" style="width:80%">

                    <div class="row text-center" >
                            <div class="row" style="background-color:black;color:white">
                                <div class="col-xs-4"><h5>{{$t('admin.client_name')}}</h5></div>
                                <div class="col-xs-4"><h5>{{$t('admin.phone')}}</h5></div>
                                <div class="col-xs-4"><h5>{{$t('admin.created_at')}}</h5></div>
                            </div>

                            <div class="row">
                                <div class="col-xs-4">{{order.client_name}}</div>
                                <div class="col-xs-4">{{order.mobile}}</div>

                                <div class="col-xs-4"><p>{{moment(order.created_at.date).locale(lang)
                                    .format('l')}}
                                    <br>
                                    <small>{{moment(order.created_at.date).locale(lang).fromNow()}}</small>
                                </p>

                                </div>

                            </div>
                    </div>







                    <div class="row text-center" >
                        <div class="row" style="background-color:black;color:white">
                            <div class="col-xs-4"><h5>{{$t('admin.event_date')}}</h5></div>
                            <div class="col-xs-4"><h5>{{$t('admin.address')}}</h5></div>
                            <div class="col-xs-4"><h5>{{$t('admin.delivery_date')}}</h5></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">{{moment(order.event_date).locale(lang)
                                .format('l')}}</div>
                            <div class="col-xs-4">{{order.location}}</div>
                            <div class="col-xs-4">{{moment(order.delivery_date).locale(lang)
                                .format('l')}}</div>
                        </div>
                    </div>


                    <div class="row text-center" >
                        <div class="row" style="background-color:black;color:white">
                            <h5>{{$t('admin.cnotes')}}</h5>
                        </div>

                        <div class="row">
                            <p v-html="order.notes"></p>
                        </div>
                    </div>



                    <div class="row">
                        <div style="background-color:black;color:white" class="row">
                            <h5 class="text-center">{{$t('admin.products')}}</h5>

                        </div>

                        <div class="row">
                            <table class="table table-responsive">
                                <thead class="table-inverse">
                                    <th>#</th>
                                    <th>{{$t('admin.pcode')}}</th>
                                    <th>{{$t('admin.product')}}</th>
                                    <th>{{$t('admin.Qty')}}</th>
                                    <th>{{$t('admin.qty_received')}}</th>
                                    <th>{{$t('admin.unit_price')}}</th>
                                    <th>{{$t('backLang.free_kilo')}}</th>
                                    <th>{{$t('backLang.discount')}}</th>
                                    <th>{{$t('backLang.total_b_tax')}}</th>
                                    <th>{{$t('backLang.tax')}}</th>
                                    <th>{{$t('backLang.total_a_tax')}}</th>
                                </thead>

                                <tbody>
                                    <tr v-for="(item,index) in order.order_items">
                                       <td>{{index+1}}</td>
                                        <td>{{item.product.code}}</td>
                                        <td>{{item.product.title}}</td>
                                        <td>{{item.qty}}</td>
                                        <td>{{item.qty_received}}</td>
                                        <td>{{item.unit_price + " "}}  {{$t('backLang.sar')}}</td>
                                        <td>{{item.free_kilos}}</td>
                                        <td>{{item.discount}}</td>
                                        <td>5%</td>
                                        <td>{{total_item = (item.unit_price * 5/100)  + item.unit_price }}{{" " + $t('backLang.sar')}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>



                </div>
            </div>
        </div>

</template>

<script>



    export default {
        props: ['back','order','lang','moment'],
        data : function () {
            return {


            }
        },




    }








</script>

<style>
.row {
    padding-top:10px;
    padding-bottom: 10px;
}
</style>

